<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>EBS</title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="../../css/AdminLTE.min.css"
	th:href="@{/css/AdminLTE.min.css}">
<link rel="stylesheet" href="../../css/skins/_all-skins.min.css"
	th:href="@{/css/skins/_all-skins.min.css}">
	<link rel="stylesheet" href="index.css">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />


</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<div>
			<div th:replace="fragments/header :: header">...</div>
			<div th:replace="fragments/sidebar :: sidebar">...</div>

			<div class="wrapper">

				<section class="content-wrapper"  >


					<div class="row">
						<!-- left column -->
						<div class="col-md-12">



							<div class="col-md-12" style="margin-top: 20px;" >

								
							</div>



						</div>

					</div>
				</section>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer">...</div>
	<!--   <section class="content">
        
        </section>-->
	<script src="../../js/jQuery-2.1.4.min.js"
		th:src="@{/js/jQuery-2.1.4.min.js}"></script>
	<script src="../../js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../../js/fastclick.min.js"
		th:src="@{/js/fastclick.min.js}"></script>
	<script src="../../js/app.min.js" th:src="@{/js/app.min.js}"></script>
	<script src="../../js/demo.js" th:src="@{/js/demo.js}"></script>

</body>

</html>