<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />




	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<title>welcome to erp</title>
</head>

<body>

	<form th:action="@{/doLogin}" method="POST" th:object="${myCaptcha}" id="myForm">

		<section class="vh-100" style="background-color: #508bfc;">
			<div class="container py-5 h-100">
				<div class="row d-flex justify-content-center align-items-center h-100">
					<div class="col-12 col-md-8 col-lg-6 col-xl-5">
						<div class="card shadow-2-strong" style="border-radius: 1rem;">
							<div class="card-body p-5 text-center">

								<h3 class="mb-5">Sign in</h3>
								
								<div th:if="${param.error}" class="alert alert-danger text-center">Invalid User Name
								and Password</div>
								
								<div th:if="${param.logout}" class="alert alert-danger">
								You have been logout</div>







								<div class="form-outline mb-4">
									<div class="row text-center" style="height: 10px; text-align:center;">
									
										<div class="col-md-2 m-auto">
											<img
												src="https://img.icons8.com/ios-glyphs/30/000000/gender-neutral-user.png" />
										</div>
										
										<div class="col-md-10">
											<input type="text" id="typeEmailX-2" class="form-control form-control-lg"
												name="username" placeholder="Enter User Name"style="line-height: 0.8em;background: #cbe5f5;height:5px"/>
										</div>
									</div>

									
								</div>
								
								
								
								

								<div class="form-outline mb-4 mt-5">
									<div class="row" style="height: 10px;">
										<div class="col-md-2 m-auto">
											<img src="https://img.icons8.com/ios-glyphs/30/000000/password--v1.png" />
										</div>
										<div class="col-md-10">
											<input type="password" id="typePasswordX-2"
												class="form-control form-control-lg" name="password"
												placeholder="Enter Password" style="line-height: 0.8em;background: #cbe5f5;"/>
										</div>
									</div>

									<!--<label class="form-label" for="typePasswordX-2">Password</label>-->
								</div>

								<!-- Checkbox -->
								<div class="form-check d-flex justify-content-start mb-4" >
									
								</div>


								<div class="form-group text-center" style="margin: 3px;">
									<img th:src="*{'data:realCaptcha/jpg;base64,'+ realCaptcha}"
										style="height: 45px;" />
								</div>

								<div class="form-group text-center">
									<!-- <label>ENTER CAPTCHA</label> -->

									<div class="row">
										<div class="col-md-3"></div>
										<div class="col-md-6" style="margin: 1.5px;">
											<input type="hidden" th:field="*{hiddenCaptcha}" />
											<input style="text-align: center" type="text" th:field="*{captcha}"
												class="form-control" placeholder="Enter Captcha" />
										</div>
										<div class="col-md-3"></div>

									</div>


								</div>

								<div class="form-group">
									<!--<button class="btn btn-primary btn-block" type="submit">Login</button>-->
									<button type="submit"
										class="btn btn-primary input-block-level form-control" onclick="myFunction()">Login</button>
								</div>


								<hr class="my-4">



							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</form>

	<script>
		function myFunction() {

			//document.getElementById("myForm").submit();

			console.log("myfunction")
			var hiddenCaptcha = document.getElementById("hiddenCaptcha").value;
			var captcha = document.getElementById("captcha").value;
		

			document.getElementById("myForm").submit();
		}

	</script>
</body>



<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>

</html>