<!DOCTYPE html>
<html lang="en">

<head xmlns:th="http://www.thymeleaf.org">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>AdminLTE 2 | General Form Elements</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="../../css/AdminLTE.min.css" th:href="@{/css/AdminLTE.min.css}">
	<link rel="stylesheet" href="../../css/skins/_all-skins.min.css" th:href="@{/css/skins/_all-skins.min.css}">


</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<div>
			<div th:replace="fragments/header :: header">...</div>
			<div th:replace="fragments/sidebar :: sidebar">...</div>

			<div class="wrapper">

				<section class="content-wrapper">


					<div class="row">
						<!-- left column -->




						<div class="col-md-12" style="margin-top: 20px;">

							<div class="box box-primary">
								<div class="box-header with-border">
									<h3 class="box-title">Company Details</h3>
								</div>
								<!-- form start -->
								<form role="form" th:action="@{/companydetail/}" th:object="${company}" method="POST">
									<div class="box-body">

										<div class="container-fluid">

											<ul class="nav nav-pills">
												<li class="active"><a data-toggle="tab" href="#companydetail">Company
														Detail</a></li>
												<li><a data-toggle="tab" href="#tdsinfo">TDS Information</a></li>
												<li><a data-toggle="tab" href="#taxreg">Tax Registration No</a></li>
												<li><a data-toggle="tab" href="#importdetail">Import Detail</a></li>
												<li><a data-toggle="tab" href="#insurancedetail">Insurance
														Detail</a></li>
												<li><a data-toggle="tab" href="#siteoffices">Site Offices</a></li>


											</ul>

											<!-- main div content -->
											<div class="tab-content">

												<!-- company detail tab -->
												<div id="companydetail" class="tab-pane fade in active">
													<p></p>

													<div class="box">

														<h5>COMPANY DETAILS</h5>
														<div class="row">
															<div class="col-md-8">
																<div class="form-row">
																	<div class="form-group col-md-4">
																		<label for="inputEmail4">Company Code</label>
																		<input type="text" class="form-control"
																			id="inputEmail4" placeholder="company code"
																			th:field="*{compCode}">
																	</div>
																	<div class="form-group col-md-4">
																		<label for="inputPassword4">Company Name</label>
																		<input type="text" class="form-control"
																			id="inputPassword4"
																			placeholder="company name"
																			th:field="*{compName}">
																	</div>
																	<div class="form-group col-md-4">
																		<label for="inputPassword4">Company Type</label>
																		<select class="form-control"
																			th:field="*{compType}" id="" title="urgency"
																			required>

																			<option value="dependent">Dependent</option>
																			<option value="independent" selected>
																				Independent</option>

																		</select>


																	</div>

																	<div class="form-group col-md-4">
																		<label for="inputAddress">Director Name</label>
																		<input type="text" class="form-control"
																			id="inputAddress" th:field="*{dirName}"
																			placeholder="director name">
																	</div>

																	<div class="form-group col-md-4">
																		<label for="inputPassword4">PF Number</label>
																		<input type="text" class="form-control"
																			id="inputPassword4" placeholder="pf number"
																			th:field="*{pfNumber}">
																	</div>
																	<div class="form-group col-md-4">
																		<label for="inputPassword4">Parent Code</label>
																		<input type="text" class="form-control"
																			id="inputPassword4"
																			placeholder="parent code"
																			th:field="*{parentCode}">
																	</div>
																	<div class="form-group col-md-4">
																		<label for="inputEmail4">Calculate ESI</label>
																		<select class="form-control"
																			th:field="*{calculateEsi}" id=""
																			title="urgency" required>

																			<option value="yes" selected>Yes</option>
																			<option value="no">No</option>

																		</select>

																	</div>

																	<div class="form-group col-md-4">
																		<label for="inputPassword4">ESI Number</label>
																		<input type="text" class="form-control"
																			id="inputPassword4" placeholder="esi number"
																			th:field="*{esiNo}">
																	</div>

																	<div class="form-group col-md-4">
																		<label for="inputAddress">Import Data</label>
																		<input type="text" class="form-control"
																			id="inputAddress" placeholder="import data">
																	</div>

																	<div class="form-group col-md-4">
																		<label for="inputPassword4">Tax
																			Account(Sale)</label> <input type="text"
																			class="form-control" id="inputPassword4"
																			placeholder="tax"
																			th:field="*{acountTaxSale}">
																	</div>
																	<div class="form-group col-md-4">
																		<label for="inputPassword4">Tax
																			Account(Purchase)</label> <input type="text"
																			class="form-control" id="inputPassword4"
																			placeholder="tax account"
																			th:field="*{accountTaxPurchase}">
																	</div>

																	<div class="form-group col-md-4">
																		<label for="inputPassword4">Deduction Form
																			Employee(y/n)</label> <select
																			class="form-control" id="" title="urgency"
																			required th="*{deductionFromEmp}">

																			<option value="yes" selected>Yes</option>
																			<option value="no" selected>No</option>

																		</select>
																	</div>




																</div>
															</div>
															<div class="col-md-2"
																style="text-align: center; height: 50px; width: 50px;">
																<img alt="" src="/img/contact.png"
																	style="height: 150px; width: 150; border-radius: 50%">
															</div>
														</div>



													</div>




													<div>


														<h5>Company Address and Bank Details</h5>
														<div class="col-md-12">

															<div class="box">
																<!--<div class="box-header with-border">
																	<h3 class="box-title">Horizontal Form</h3>
																</div>-->

																<div class="box-body">
																	<div class="form-group m-5">
																		<label for="inputEmail3"
																			class="col-md-2 control-label">Address</label>
																		<div class="col-md-5">
																			<input type="text" class="form-control"
																				th:field="*{cAddr1}" id="inputEmail3"
																				placeholder="address">
																		</div>
																		<div class="col-md-5">
																			<input type="text" class="form-control"
																				th:field="*{cAddr2}" id="inputEmail3"
																				placeholder="address">
																		</div>
																	</div>

																	<div class="form-group m-5">
																		<label for=""
																			class="col-md-2 control-label">Road/street/lane</label>
																		<div class="col-md-4">
																			<input type="text" class="form-control"
																				id="" th:field="*{cStreet}"
																				placeholder="road / street / lane">
																		</div>
																	</div>

																	<div class="form-group m-5">
																		<label for="inputEmail3"
																			class="col-md-2 control-label">State</label>
																		<div class="col-md-4">
																			<select class="form-control" id="state"
																				onchange="getCityOnState()"
																				title="Department Name"
																				th:field="*{cState}" required>
																				<option value="">Select State</option>
																				<option th:each="state :  ${listState}"
																					th:text="${state.stateName}"
																					th:value=" ${state.stateCode}">
																				</option>
																			</select>
																		</div>
																	</div>




																	<div class="form-group m-5">
																		<label for=""
																			class="col-md-2 control-label">City</label>
																		<div class="col-md-4">
																			<select class="form-control cityContainer"
																				title="city" id="cityCode"
																				th:field="*{cCity}" required>
																				<option value="">Select City</option>

																			</select>
																		</div>
																	</div>

																	<div class="form-group m-5">
																		<label for="" class="col-md-2 control-label">Pin
																			Code</label>
																		<div class="col-md-4">
																			<input type="text" class="form-control"
																				th:field="*{cPin}" id=""
																				placeholder="pin code">
																		</div>
																	</div>


																	<div class="form-group m-5">
																		<label for=""
																			class="col-md-2 control-label">Fax</label>
																		<div class="col-md-4">
																			<input type="text" class="form-control"
																				id="" placeholder="fax"
																				th:field="*{cFax}">
																		</div>
																	</div>

																	<div class="form-group m-5">
																		<label for=""
																			class="col-md-2 control-label">WebSite</label>
																		<div class="col-md-4">
																			
																			<input type="text" class="form-control"
																				id="" placeholder="website"
																				th:field="*{cWebsite}">
																		</div>
																	</div>




																	<div class="form-group m-5">
																		<label for=""
																			class="col-md-2 control-label">Email</label>
																		<div class="col-md-10">
																			<input type="text" class="form-control"
																				id="" placeholder="email"
																				th:field="*{cEmail}">
																		</div>
																	</div>



																	<div class="form-group m-5">
																		<label for=""
																			class="col-md-2 control-label">Phone
																			1</label>
																		<div class="col-md-4">
																			<input type="text" class="form-control"
																				id="" placeholder="phone-1"
																				th:field="*{cPhone1}">
																		</div>
																	</div>

																	<div class="form-group m-5">
																		<label for=""
																			class="col-md-2 control-label">Phone-2</label>
																		<div class="col-md-4">
																			<input type="text" class="form-control"
																				id="inputEmail3" placeholder="phone-2"
																				th:field="*{cPhone2}">
																		</div>
																	</div>



																</div><!-- /.box-body -->

																<!-- 
														REMOVE DIB -->

															</div>
														</div>

													</div>

													<!-- ADD -->
												</div>
												<!-- end company detail tab -->



												<!-- tds information detail -->
												<div id="tdsinfo" class="tab-pane fade">

													<p></p>
													<div class="box">

														<h5>Particular of the Person Responsible for deduction of
															tax
														</h5>
														<div class="row">
															<div class="form-group col-md-12">
																<label for="inputAddress">Name</label> <input
																	type="text" class="form-control" id="inputAddress"
																	placeholder="name" th:field="*{rName}">
															</div>
															<div class="form-group col-md-4">
																<label for="inputEmail4">Type of Deductor</label>
																<select class="form-control" id="" title="urgency"
																	required th:field="*{rTypeOfDeductor}">

																	<option value="other">Other</option>

																</select>
															</div>
															<div class="form-group col-md-4">
																<label for="inputPassword4">Branch</label> <input
																	type="text" class="form-control" id="inputPassword4"
																	placeholder="branch" th:field="*{rBranch}">
															</div>
															<div class="form-group col-md-4">
																<label for="inputPassword4">Excise Devison</label>
																<input type="text" class="form-control"
																	id="inputPassword4" placeholder="excise devision"
																	th:field="*{rExciseDivision}">
															</div>

															<div class="form-group col-md-4">
																<label for="inputAddress">Designation</label> <input
																	type="text" class="form-control" id="inputAddress"
																	placeholder="designation" th:field="*{rDesig}">
															</div>
															<div class="form-group col-md-4">
																<label for="inputAddress">Flat Number</label> <input
																	type="text" class="form-control" id="inputAddress"
																	placeholder="flat number" th:field="*{rFlatNum}">
															</div>
															<div class="form-group col-md-4">
																<label for="inputAddress">Building</label> <input
																	type="text" class="form-control" id="inputAddress"
																	placeholder="building" th:field="*{rBuildingNo}">
															</div>
															<div class="form-group col-md-12">
																<label for="inputAddress">Road/street/lane</label>
																<input type="text" class="form-control"
																	id="inputAddress" placeholder="road/street/lane"
																	th:field="*{rStreet}">
															</div>





															<div class="form-group col-md-4">
																<label for="inputAddress">State</label> <select
																	class="form-control" id="state"
																	onchange="getRCityOnState()" title="Department Name"
																	th:field="*{rState}" required>
																	<option value="">Select State</option>
																	<option th:each="state :  ${listState}"
																		th:text="${state.stateName}"
																		th:value=" ${state.stateCode}">
																	</option>
																</select>
															</div>
															<div class="form-group col-md-4">
																<label for="inputAddress">Town/City/District</label>
																<select class="form-control cityContainer" title="city"
																	id="cityCode" th:field="*{rCity}" required>
																	<option value="">Select City</option>

																</select>
															</div>

															<div class="form-group col-md-4">
																<label for="inputAddress">Area/Location</label>
																<input type="text" class="form-control"
																	id="inputAddress" placeholder="area/location"
																	th:field="*{rLocation}">
															</div>
															<div class="form-group col-md-4">
																<label for="inputAddress">Pin</label> <input
																	type="number" class="form-control" id="inputAddress"
																	placeholder="pin" th:field="*{rPin}">
															</div>
															<div class="form-group col-md-4">
																<label for="inputAddress">Telephone Number</label>
																<input type="int" class="form-control" id="inputAddress"
																	placeholder="telephone number" th:field="*{rTel}">
															</div>
															<div class="form-group col-md-4">
																<label for="inputAddress">Email</label> <input
																	type="text" class="form-control" id="inputAddress"
																	placeholder="email" th:field="*{rEmail}">
															</div>
														</div>
													</div>

												</div>
												<!--end tds information detail -->


												<!-- tax registration detail -->
												<div id="taxreg" class="tab-pane fade">
													<p></p>
													<div class="box">
														<h5>Tax Details</h5>
														<div class="row">
															<div class="form-group col-md-6">
																<label for="inputAddress">PP Number</label> <input
																	type="text" class="form-control" id="inputAddress"
																	placeholder="pan number" th:field="*{tPfNumber}">
															</div>
															<div class="form-group col-md-6">
																<label for="inputEmail4">GST Number</label> <input
																	type="text" class="form-control" id="inputEmail4"
																	placeholder="gst number" th:field="*{tGstNo}">
															</div>
															<div class="form-group col-md-6">
																<label for="inputPassword4">Taxpayer Legal
																	Number</label> <input type="text"
																	class="form-control" id="inputPassword4"
																	placeholder="taxpayer legal"
																	th:field="*{taxPayerLegalName}">
															</div>
															<div class="form-group col-md-6">
																<label for="inputPassword4">Taxpayer Trade
																	Number</label> <input type="password"
																	class="form-control" id="inputPassword4"
																	placeholder="taxpayer trade number"
																	th:field="*{taxPayerTradeName}">
															</div>

															<div class="form-group col-md-6">
																<label for="inputAddress">Date of Filling</label>
																<input type="date" class="form-control"
																	id="inputAddress" placeholder="date of filling"
																	th:field="*{tFillingDate}">
															</div>
															<div class="form-group col-md-6">
																<label for="inputAddress">pan Number</label> <input
																	type="text" class="form-control" id="inputAddress"
																	placeholder="pan number" th:field="*{tPanNumber}">
															</div>

														</div>
													</div>

												</div>
												<!--end tax registration detail -->

												<!-- import detail -->
												<div id="importdetail" class="tab-pane fade">
													<p></p>
													<div class="row box">

														<div class="col-md-10 offset-md-2">
															<div class="form-border">
																<h5>Tax Details</h5>
																<div class="form-row">
																	<div class="form-group col-md-6">
																		<label for="inputAddress">Pan Number</label>
																		<input type="text" class="form-control"
																			id="inputAddress" placeholder="pan number"
																			th:field="*{tdPanNumber}">
																	</div>
																	<div class="form-group col-md-6">
																		<label for="inputEmail4">GST Number</label>
																		<input type="text" class="form-control"
																			id="inputEmail4" placeholder="gst number"
																			th:field="*{tdGstNumber}">
																	</div>
																	<div class="form-group col-md-6">
																		<label for="inputPassword4">Taxpayer Legal
																			Number</label> <input type="password"
																			class="form-control" id="inputPassword4"
																			placeholder="taxpayer legal number"
																			th:field="*{tdTaxPayerLegalName}">
																	</div>
																	<div class="form-group col-md-6">
																		<label for="inputPassword4">Taxpayer Trade
																			Number</label> <input type="password"
																			class="form-control" id="inputPassword4"
																			placeholder="taxpayer trade number"
																			th:field="*{tdTaxPayerTradeName}">
																	</div>

																	<div class="form-group col-md-6">
																		<label for="inputAddress">Date of
																			Filling</label> <input type="text"
																			class="form-control" id="inputAddress"
																			placeholder="date of filling"
																			th:field="*{tdFillingDate}">
																	</div>


																</div>
															</div>
														</div>

													</div>


												</div>
												<!--end import detail tab -->

												<!-- insurance detail -->
												<div id="insurancedetail" class="tab-pane fade">
													<p></p>
													<div class="box">
														<h5>Insurance Details</h5>

														<table class="table table-sm">
															<thead>
																<tr>
																	<th scope="col">Company Code</th>
																	<th scope="col">Company Name</th>
																	<th scope="col">Customer Code</th>
																	<th scope="col">Renewel Date</th>
																	<th scope="col">Version</th>
																	<th scope="col">Description</th>
																	<th scope="col">Description</th>


																</tr>
															</thead>
															<tbody>
																<tr>
																	<th scope="row">
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder=""
																				name="insuranceDetail[0].insuranceCode">
																		</fieldset>
																	</th>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder=""
																				name="insuranceDetail[0].company">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder=""
																				name="insuranceDetail[0].custCode">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="date" class="form-control"
																				placeholder=""
																				name="insuranceDetail[0].renewalDate">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder=""
																				name="insuranceDetail[0].version">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder=""
																				name="insuranceDetail[0].desc1">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder=""
																				name="insuranceDetail[0].desc2">
																		</fieldset>
																	</td>
																</tr>
																<tr>
																	<th scope="row">
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</th>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																</tr>
																<tr>
																	<th scope="row">
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</th>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																</tr>

															</tbody>
														</table>

													</div>

												</div>
												<!--end insurance detail -->

												<!-- site offices detail -->
												<div id="siteoffices" class="tab-pane fade">

													<div class="box">
														<h5>Site Offices</h5>

														<table class="table table-sm">
															<thead>
																<tr>
																	<th scope="col">Site Code</th>
																	<th scope="col">Site Location</th>
																	<th scope="col">Site Incharge</th>
																	<th scope="col">Site Address</th>
																	<th scope="col">Approved Budget</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<th scope="row">
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder=""
																				name="siteOffice[0].siteCode">
																		</fieldset>
																	</th>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder=""
																				name="siteOffice[0].siteLocation">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder=""
																				name="siteOffice[0].siteIncharge">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder=""
																				name="siteOffice[0].siteAddress">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="number" class="form-control"
																				placeholder=""
																				name="siteOffice[0].approvedBudget">
																		</fieldset>
																	</td>
																</tr>
																<tr>
																	<th scope="row">
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</th>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																</tr>
																<tr>
																	<th scope="row">
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</th>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																</tr>

															</tbody>
														</table>

													</div>


												</div>
												<!--end site offices detail -->


											</div>
											<!--end main div content-->



										</div>


									</div>

									<div class="box-footer">
										<button type="submit" class="btn btn-primary">Submit</button>
									</div>

								</form>

								<!-- end form -->
							</div>
						</div>





					</div>
				</section>
			</div>
		</div>

	</div>

	<div th:replace="fragments/footer :: footer">...</div>
	<!--   <section class="content">
        
        </section>-->
	<script src="../../js/jQuery-2.1.4.min.js" th:src="@{/js/jQuery-2.1.4.min.js}"></script>
	<script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../../js/fastclick.min.js" th:src="@{/js/fastclick.min.js}"></script>
	<script src="../../js/app.min.js" th:src="@{/js/app.min.js}"></script>
	<script src="../../js/demo.js" th:src="@{/js/demo.js}"></script>

	<script src="../../js/demo.js" th:src="@{/js/myjs.js}"></script>

</body>

</html>