<!DOCTYPE html>
<html lang="en">

<head xmlns:th="http://www.thymeleaf.org">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>EBS</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="../../css/AdminLTE.min.css" th:href="@{/css/AdminLTE.min.css}">
	<link rel="stylesheet" href="../../css/skins/_all-skins.min.css" th:href="@{/css/skins/_all-skins.min.css}">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

	<link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.css"
		rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.js"></script>
	
	



</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<div>
			<div th:replace="fragments/header :: header">...</div>
			<div th:replace="fragments/sidebar :: sidebar">...</div>

			<div class="wrapper">

				<section class="content-wrapper">


					<div class="row">
						<!-- left column -->




						<div class="col-md-12" style="margin-top: 20px;">

							<div class="box box-primary">
								<input type="hidden" id="mess" name="mess" th:value="${message}">
								<div class="box-header with-border">
									<h3 class="box-title">Company Details</h3>
								</div>
								<!-- form start -->
								<form role="form" th:action="@{/companydetail/}" th:object="${company}" method="POST">
									<div class="box-body">

										<div class="container-fluid">

											<ul class="nav nav-pills">
												<li class="active"><a data-toggle="tab" href="#companydetail">Company
														Detail</a></li>
												<li><a data-toggle="tab" href="#tdsinfo">TDS Information</a></li>
												<li><a data-toggle="tab" href="#taxreg">Tax Registration No</a></li>
												<li><a data-toggle="tab" href="#importdetail">Import Detail</a></li>
												<li><a data-toggle="tab" href="#insurancedetail">Insurance
														Detail</a></li>
												<li><a data-toggle="tab" href="#siteoffices">Site Offices</a></li>


											</ul>

											<!-- main div content -->
											<div class="tab-content">

												<!-- company detail tab -->
												<div id="companydetail" class="tab-pane fade in active">
													<p></p>

													<div class="box">

														<h5>Company Details</h5>
														<div class="row">
															<div class="col-md-8">
																<div class="form-row">
																	<div class="form-group col-md-4">
																		<label for="inputEmail4">Company
																			Code</label><span
																			style="color: red">*</span>
																		<input type="text" class="form-control"
																			id="companyCode" placeholder="company code"
																			th:field="*{compCode}" title="company code"
																			required onkeyup="getCompanyCode()">
																	</div>
																	<div class="form-group col-md-4">
																		<label for="inputPassword4">Company
																			Name</label><span
																			style="color: red">*</span>
																		<input type="text" class="form-control"
																			id="companyName" placeholder="Company Name"
																			th:field="*{compName}" title="company name"
																			required onkeyup=getCompanyName()>
																	</div>
																	<div class="form-group col-md-4">
																		<label for="inputPassword4">Company Type</label>
																		<select class="form-control"
																			th:field="*{compType}" id=""
																			title="company type" required>

																			<option value="dependent">Dependent</option>
																			<option value="independent" selected>
																				Independent</option>

																		</select>


																	</div>

																	<div class="form-group col-md-4">
																		<label for="inputAddress">Director Name</label>
																		<input type="text" class="form-control"
																			id="inputAddress" th:field="*{dirName}"
																			placeholder="director name"
																			title="Director Name">
																	</div>

																	<div class="form-group col-md-4">
																		<label for="inputPassword4">PF Number</label>
																		<input type="text" class="form-control"
																			id="inputPassword4" placeholder="Pf Number"
																			th:field="*{pfNumber}" title="pf number">
																	</div>
																	<div class="form-group col-md-4">
																		<label for="inputPassword4">Parent Code</label>
																		<input type="text" class="form-control"
																			id="inputPassword4" title="parent code"
																			placeholder="Parent Code"
																			th:field="*{parentCode}">
																	</div>
																	<div class="form-group col-md-4">
																		<label for="inputEmail4">Calculate ESI</label>
																		<select class="form-control"
																			th:field="*{calculateEsi}" id=""
																			title="calculate esi" required>

																			<option value="yes" selected>Yes</option>
																			<option value="no">No</option>

																		</select>

																	</div>

																	<div class="form-group col-md-4">
																		<label for="inputPassword4">ESI Number</label>
																		<input type="text" class="form-control"
																			title="esi number" id="inputPassword4"
																			placeholder="Esi Number"
																			th:field="*{esiNo}">
																	</div>

																	<div class="form-group col-md-4">
																		<label for="inputAddress">Import Data</label>
																		<input type="text" class="form-control"
																			title="import data" id="inputAddress"
																			placeholder="Import Data">
																	</div>

																	<div class="form-group col-md-4">
																		<label for="inputPassword4">Tax
																			Account(Sale)</label> <input type="text"
																			class="form-control" id="inputPassword4"
																			placeholder="Tax" title="tax"
																			th:field="*{acountTaxSale}">
																	</div>
																	<div class="form-group col-md-4">
																		<label for="inputPassword4">Tax
																			Account(Purchase)</label> <input type="text"
																			class="form-control" id="inputPassword4"
																			title="tax" placeholder="Tax Account"
																			th:field="*{accountTaxPurchase}">
																	</div>

																	<div class="form-group col-md-4">
																		<label for="inputPassword4">Ddn Form
																			Emp(y/n)</label> <select
																			class="form-control" id=""
																			title="Deduction From Employee" required
																			th="*{deductionFromEmp}">

																			<option value="yes" selected>Yes</option>
																			<option value="no" selected>No</option>

																		</select>
																	</div>




																</div>
															</div>
															<div class="col-md-2"
																style="text-align: center; height: 50px; width: 50px;">
																<img alt="" src="/img/contact.png"
																	style="height: 150px; width: 150; border-radius: 50%">
															</div>
														</div>



													</div>




													<div>


														<h5>Company Address and Bank Details</h5>
														<div class="col-md-12">

															<div class="box">
																<!--<div class="box-header with-border">
																	<h3 class="box-title">Horizontal Form</h3>
																</div>-->

																<div class="box-body">

																	<div class="form-group row">

																		<div class="required">

																			<label
																				class="col-md-2 control-label">Address-1</label>

																			<div class="col-md-4">
																				<input type="text" class="form-control"
																					id="" placeholder="Address-1"
																					title="address-1"
																					th:field="*{cAddr1}" required>
																			</div>
																		</div>

																		<div>
																			<label for=""
																				class="col-md-2 control-label">Address-2</label>
																			<div class="col-md-4">

																				<input type="text" class="form-control"
																					id="" placeholder="Address-2"
																					title="address-2"
																					th:field="*{cAddr2}">
																			</div>
																		</div>
																	</div>

																	<div class="form-group row">

																		<div>
																			<label for=""
																				class="col-md-2 control-label">Road/street/lane</label>
																			<div class="col-md-4">
																				<input type="text" class="form-control"
																					id="" th:field="*{cStreet}"
																					title="road/street/lane"
																					placeholder="Road / Street / Lane">
																			</div>
																		</div>

																		<div>
																			<label for="inputEmail3"
																				class="col-md-2 control-label">State</label>
																			<div class="col-md-4">
																				<select class="form-control" id="state"
																					onchange="getCityOnState()"
																					title="state" th:field="*{cState}"
																					required>
																					<option value="">Select State
																					</option>
																					<option
																						th:each="state :  ${listState}"
																						th:text="${state.stateName}"
																						th:value=" ${state.stateCode}">
																					</option>
																				</select>
																			</div>
																		</div>

																	</div>


																	<div class="form-group row">


																		<div>
																			<label for=""
																				class="col-md-2 control-label">City</label>
																			<div class="col-md-4">
																				<select
																					class="form-control cityContainer"
																					title="city" id="cityCode"
																					th:field="*{cCity}" required>
																					<option value="">Select City
																					</option>

																				</select>
																			</div>
																		</div>

																		<div>
																			<label for=""
																				class="col-md-2 control-label">Pin
																				Code</label>
																			<div class="col-md-4">
																				<input type="text" class="form-control"
																					th:field="*{cPin}" id="" title="pin"
																					placeholder="Pin Code">
																			</div>
																		</div>


																	</div>


																	<div class="form-group row">
																		<div>
																			<label for=""
																				class="col-md-2 control-label">Fax</label>
																			<div class="col-md-4">
																				<input type="text" class="form-control"
																					id="" placeholder="Fax" title="fax"
																					th:field="*{cFax}">
																			</div>
																		</div>

																		<div>
																			<label for=""
																				class="col-md-2 control-label">WebSite</label>
																			<div class="col-md-4">

																				<input type="text" class="form-control"
																					id="" placeholder="Website"
																					title="website"
																					th:field="*{cWebsite}">
																			</div>
																		</div>
																	</div>




																	<div class="form-group row">
																		<div>
																			<label for=""
																				class="col-md-2 control-label">Email</label>
																			<div class="col-md-10">
																				<input type="text" class="form-control"
																					id="" placeholder="Email"
																					title="email" th:field="*{cEmail}">
																			</div>
																		</div>
																	</div>


																	<div class="form-group row">

																		<div>
																			<label for=""
																				class="col-md-2 control-label">Phone
																				1</label>
																			<div class="col-md-4">
																				<input type="text" class="form-control"
																					id="" placeholder="Phone-1"
																					title="phone-1"
																					th:field="*{cPhone1}">
																			</div>
																		</div>

																		<div>
																			<label for=""
																				class="col-md-2 control-label">Phone-2</label>
																			<div class="col-md-4">
																				<input type="text" class="form-control"
																					placeholder="Phone-2"
																					title="phone-2"
																					th:field="*{cPhone2}">
																			</div>
																		</div>


																	</div>


																</div><!-- /.box-body -->

																<!-- 
														REMOVE DIB -->

															</div>
														</div>

													</div>

													<!-- ADD -->
												</div>
												<!-- end company detail tab -->



												<!-- tds information detail -->
												<div id="tdsinfo" class="tab-pane fade">

													<p></p>
													<div class="box">

														<h5>Particular of the Person Responsible for deduction of
															tax
														</h5>
														<div class="row">
															<div class="form-group col-md-12">
																<label for="inputAddress">Name</label><span
																	style="color: red">*</span> <input type="text"
																	class="form-control" id="inputAddress"
																	placeholder="Name" th:field="*{rName}" title="name"
																	required>
															</div>
															<div class="form-group col-md-4">
																<label for="inputEmail4">Type of Deductor</label>
																<select class="form-control" id=""
																	title="type of deductor" required
																	th:field="*{rTypeOfDeductor}">

																	<option value="other">Other</option>

																</select>
															</div>
															<div class="form-group col-md-4">
																<label for="inputPassword4">Branch</label> <input
																	type="text" class="form-control" id="inputPassword4"
																	placeholder="Branch" th:field="*{rBranch}"
																	title="branch">
															</div>
															<div class="form-group col-md-4">
																<label for="inputPassword4">Excise Devison</label>
																<input type="text" class="form-control"
																	id="inputPassword4" placeholder="Excise Devision"
																	th:field="*{rExciseDivision}"
																	title="excise devison">
															</div>

															<div class="form-group col-md-4">
																<label for="inputAddress">Designation</label><span
																	style="color: red">*</span> <input type="text"
																	class="form-control" id="inputAddress"
																	placeholder="Designation" th:field="*{rDesig}"
																	title="designation" required>
															</div>
															<div class="form-group col-md-4">
																<label for="inputAddress">Flat Number</label> <input
																	type="text" class="form-control" id="inputAddress"
																	placeholder="Flat Number" th:field="*{rFlatNum}"
																	title="flat number">
															</div>
															<div class="form-group col-md-4">
																<label for="inputAddress">Building</label> <input
																	type="text" class="form-control" id="inputAddress"
																	placeholder="Building" th:field="*{rBuildingNo}"
																	title="building">
															</div>
															<div class="form-group col-md-12">
																<label for="inputAddress">Road/street/lane</label>
																<input type="text" class="form-control"
																	title="road/street/lane" id="inputAddress"
																	placeholder="Road/Street/Lane"
																	th:field="*{rStreet}">
															</div>





															<div class="form-group col-md-4">
																<label for="inputAddress">State</label> <select
																	class="form-control" id="rState"
																	onchange="getRCityOnState()" title="state"
																	th:field="*{rState}" required>
																	<option value="">Select State</option>
																	<option th:each="state :  ${listState}"
																		th:text="${state.stateName}"
																		th:value=" ${state.stateCode}">
																	</option>
																</select>
															</div>
															<div class="form-group col-md-4">
																<label for="inputAddress">Town/City/District</label>
																<select class="form-control rCityContainer"
																	title="town/city/district" id="cityCode"
																	th:field="*{rCity}" required>
																	<option value="">Select City</option>

																</select>
															</div>

															<div class="form-group col-md-4">
																<label for="inputAddress">Area/Location</label>
																<input type="text" class="form-control"
																	title="area location" id="inputAddress"
																	placeholder="Area/Location" th:field="*{rLocation}">
															</div>
															<div class="form-group col-md-4">
																<label for="inputAddress">Pin</label> <input
																	type="number" class="form-control" id="inputAddress"
																	placeholder="Pin" th:field="*{rPin}" title="pin">
															</div>
															<div class="form-group col-md-4">
																<label for="inputAddress">Telephone Number</label>
																<input type="int" class="form-control" id="inputAddress"
																	placeholder="Telephone Number" th:field="*{rTel}"
																	title="telephone number">
															</div>
															<div class="form-group col-md-4">
																<label for="inputAddress">Email</label> <input
																	type="text" class="form-control" id="inputAddress"
																	placeholder="Email" th:field="*{rEmail}"
																	title="email">
															</div>
														</div>
													</div>

												</div>
												<!--end tds information detail -->


												<!-- tax registration detail -->
												<div id="taxreg" class="tab-pane fade">
													<p></p>
													<div class="box">
														<h5>Tax Details</h5>
														<div class="row">
															<div class="form-group col-md-6">
																<label for="inputAddress">Pan Number</label><span
																	style="color: red">*</span> <input type="text"
																	class="form-control" id="inputAddress"
																	placeholder="Pan Number" th:field="*{panNumber}"
																	title="pan number" required>
															</div>
															<div class="form-group col-md-6">
																<label for="inputEmail4">GST Number</label><span
																	style="color: red">*</span> <input type="text"
																	class="form-control" id="inputEmail4"
																	placeholder="Gst Number" th:field="*{tGstNo}"
																	title="gst number" required>
															</div>
															<div class="form-group col-md-6">
																<label for="inputPassword4">Taxpayer Legal
																	Number</label> <input type="text"
																	class="form-control" id="inputPassword4"
																	placeholder="Taxpayer Legal"
																	title="taxpayer legal number"
																	th:field="*{taxPayerLegalName}">
															</div>
															<div class="form-group col-md-6">
																<label for="inputPassword4">Taxpayer Trade
																	Number</label> <input type="password"
																	class="form-control" id="inputPassword4"
																	placeholder="Taxpayer Trade Number"
																	title="taxpayer trade number"
																	th:field="*{taxPayerTradeName}">
															</div>

															<div class="form-group col-md-6">
																<label for="inputAddress">Date of Filling</label>
																<input type="date" class="form-control"
																	id="inputAddress" placeholder="Date of Filling"
																	th:field="*{tFillingDate}" title="date of filling">
															</div>
															

														</div>
													</div>

												</div>
												<!--end tax registration detail -->

												<!-- import detail -->
												<div id="importdetail" class="tab-pane fade">
													<p></p>
													<div class="row box">

														<div class="col-md-10 offset-md-2">
															<div class="form-border">
																<h5>Import Details</h5>
																<div class="form-row">
																	<div class="form-group col-md-6">
																		<label for="inputAddress">Import License
																			Number</label><span
																			style="color: red">*</span>
																		<input type="text" class="form-control"
																			id="inputAddress"
																			placeholder="Import License Number"
																			th:field="*{importLicenseNumber}"
																			title="import license number">
																	</div>
																	<div class="form-group col-md-6">
																		<label for="inputEmail4">B17 Bond Number</label>
																		<input type="text" class="form-control"
																			title="b17 bond number" id="inputEmail4"
																			placeholder="B17 Bond Number"
																			th:field="*{b17BondNumber}">
																	</div>
																	<div class="form-group col-md-6">
																		<label for="inputPassword4">B17 Bond
																			Date</label> <input type="date"
																			class="form-control" id="inputPassword4"
																			placeholder="B17 Bond Date"
																			title="b17 bond date"
																			th:field="*{b17BondDate}">
																	</div>
																	<div class="form-group col-md-6">
																		<label for="inputPassword4">Exporter RCMC
																			No</label> <input type="text"
																			class="form-control" id="inputPassword4"
																			placeholder="Exporter Rcmc No"
																			title="exporter rcmc no"
																			th:field="*{rcmcNo}">
																	</div>

																	<div class="form-group col-md-6">
																		<label for="inputAddress">Export
																			Performance</label> <input type="text"
																			class="form-control" id="inputAddress"
																			placeholder="Export Performance"
																			title="export performance"
																			th:field="*{expPerformance}">
																	</div>

																	<div class="form-group col-md-6">
																		<label for="inputAddress">Certificate
																			No.</label> <input type="text"
																			class="form-control" id="inputAddress"
																			placeholder="Certificate Number"
																			title="certificate number"
																			th:field="*{expCertiificateNo}">
																	</div>


																</div>
															</div>
														</div>

													</div>


												</div>
												<!--end import detail tab -->

												<!-- insurance detail -->
												<div id="insurancedetail" class="tab-pane fade">
													<p></p>
													<div class="box">
														<h5>Insurance Details</h5>


														<div class="col-sm-12" style="text-align:right">

															<a id="add_row_ins" class="fa fa-plus" aria-hidden="true"
																style="font-size: 24px; color: #001080"></a>&nbsp;&nbsp;&nbsp;
															<a id='delete_row_ins' class="fa fa-trash"
																style="font-size: 24px; color: #399490fc"
																aria-hidden="true"></a>
														</div>

														<table class="table table-sm" id="example">
															<thead>
																<tr>
																	<th scope="col">Company Code</th>
																	<th scope="col">Company Name</th>
																	<th scope="col">Customer Code</th>
																	<th scope="col">Renewel Date</th>
																	<th scope="col">Version</th>
																	<th scope="col">Description-1</th>
																	<th scope="col">Description-2</th>


																</tr>
															</thead>
															<tbody>
																<tr id="addr0">
																	<th scope="row">
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="" id="insCompanyCode0"
																				readonly title="company code">
																		</fieldset>
																	</th>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="" id="insCompanyName0"
																				readonly title="company name">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="" title="customer code"
																				name="insuranceDetail[0].custCode">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="date" class="form-control"
																				placeholder="" title="renewal date"
																				name="insuranceDetail[0].renewalDate">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="" title="version"
																				name="insuranceDetail[0].version">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="" title="description"
																				name="insuranceDetail[0].desc1">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="" title="description"
																				name="insuranceDetail[0].desc2">
																		</fieldset>
																	</td>
																</tr>

																<tr id="addr1"></tr>

															</tbody>
														</table>

													</div>

												</div>
												<!--end insurance detail -->

												<!-- site offices detail -->
												<div id="siteoffices" class="tab-pane fade">

													<div class="box">
														<h5>Site Offices</h5>


														<div class="col-sm-12" style="text-align:right">

															<a id="add_row_site" class="fa fa-plus" aria-hidden="true"
																style="font-size: 24px; color: #001080"></a>&nbsp;&nbsp;&nbsp;
															<a id='delete_row_site' class="fa fa-trash"
																style="font-size: 24px; color: #399490fc"
																aria-hidden="true"></a>
														</div>

														<table class="table table-sm" id="example2">
															<thead>
																<tr>
																	<th scope="col">Site Code</th>
																	<th scope="col">Site Location</th>
																	<th scope="col">Site Incharge</th>
																	<th scope="col">Site Address</th>
																	<th scope="col">Approved Budget</th>
																</tr>
															</thead>
															<tbody>
																<tr id="ad0">
																	<th scope="row">
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="" title="site code"
																				name="siteOffice[0].siteCode">
																		</fieldset>
																	</th>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="" title="site location"
																				name="siteOffice[0].siteLocation">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="" title="site incharge"
																				name="siteOffice[0].siteIncharge">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="" title="site address"
																				name="siteOffice[0].siteAddress">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="number" class="form-control"
																				placeholder="" title="approval budget"
																				name="siteOffice[0].approvedBudget">
																		</fieldset>
																	</td>
																</tr>

																<tr id="ad1"></tr>

															</tbody>
														</table>

													</div>

													<div class="box-footer">
														<button type="submit" class="btn btn-primary">Submit</button>

														<button type="reset" class="btn btn-danger" value="Reset">
															&nbsp;Reset
														</button>
													</div>

												</div>
												<!--end site offices detail -->


											</div>
											<!--end main div content-->



										</div>

									</div>



								</form>

								<div class="box-footer">
									<a th:href="@{/companydetail/list}">view company list</a>
								</div>
								<!-- end form -->
							</div>



						</div>





					</div>
				</section>
			</div>
		</div>

	</div>

	<div th:replace="fragments/footer :: footer">...</div>


	<script>

		var idIndex = 0;
		var idIndex2 = 0;
		$(document).ready(function () {
			console.log("document is ready!");
			var i = 1;

			$('#add_row_ins').click(function () {

				idIndex++;
				$('#addr' + i).html(
					"<th scope='row'><fieldset><input type='text' class='form-control' id='insCompanyCode" + idIndex + "' placeholder='' readonly></fieldset></th>"
					+ "<td><fieldset><input type='text' class='form-control' id='insCompanyName" + idIndex + "' placeholder='' readonly></fieldset></td>"
					+ "<td><fieldset><input type='text' class='form-control'placeholder=''name=''insuranceDetail[" + idIndex + "].custCode'"
					+ "></fieldset>        </td>"
					+ "<td><fieldset><input type='date' class='form-control' placeholder=''"
					+ "name='insuranceDetail[" + idIndex + "].renewalDate'></fieldset>      </td>"
					+ "<td><fieldset><input type='text' class='form-control' placeholder='' "
					+ "name='insuranceDetail[" + idIndex + "].version'></fieldset>     </td>"
					+ "<td><fieldset><input type='text' class='form-control' placeholder='' name='insuranceDetail[" + idIndex + "].desc1'"
					+ "></fieldset></td>"
					+ "<td><fieldset><input type='text' class='form-control' placeholder=''name='insuranceDetail[" + idIndex + "].desc2'></fieldset></td>"

				);

				$('#example').append(
					'<tr id="addr'
					+ (i + 1)
					+ '"></tr>');

				var companyCode = document.getElementById("companyCode").value;
				console.log("company codeis : " + companyCode);
				document.getElementById("insCompanyCode" + idIndex).value = companyCode

				var companyName = document.getElementById("companyName").value;
				console.log("company name is : " + companyName);
				document.getElementById("insCompanyName" + idIndex).value = companyName


				idIndex++
				i++;
			});

			$("#delete_row_ins").click(function () {
				if (i > 1) {
					$("#addr" + (i - 1)).html('');
					$('#_cr').val(i - 1);
					i--;
					idIndex--;
				}
			});
		});



		// for Site Office 
		$(document).ready(function () {
			console.log("site is ready!");
			var j = 1;
			$('#add_row_site').click(function () {
				idIndex2++;
				$('#ad' + j).html(
					"<th scope='row'><fieldset><input type='text' class='form-control' placeholder=''"
					+ "name='siteOffice[" + idIndex2 + "].siteCode'></fieldset></th>"
					+ "<td><fieldset><input type='text' class='form-control' placeholder=''name='siteOffice[" + idIndex2 + "].siteLocation'></fieldset></td>"
					+ "<td><fieldset><input type='text' class='form-control' placeholder=''name='siteOffice[" + idIndex2 + "].siteIncharge'></fieldset></td>"
					+ "<td><fieldset><input type='text' class='form-control'placeholder=''name='siteOffice[" + idIndex2 + "].siteAddress'></fieldset></td>"
					+ "<td><fieldset><input type='number' class='form-control' placeholder=''name='siteOffice[" + idIndex2 + "].approvedBudget'></fieldset></td>"
				);

				$('#example2').append(
					'<tr id="ad'
					+ (j + 1)
					+ '"></tr>');

				j++;
			});

			$("#delete_row_site").click(function () {
				if (j > 1) {
					$("#ad" + (j - 1)).html('');

					j--;
					idIndex2--;
				}
			});

		});



		function getCompanyCode() {

			var companyCode = document.getElementById("companyCode").value;
			console.log("company codeis : " + companyCode);
			document.getElementById("insCompanyCode0").value = companyCode


		}
		function getCompanyName() {

			var companyName = document.getElementById("companyName").value;
			console.log("company name is : " + companyName);
			document.getElementById("insCompanyName0").value = companyName
		}

	</script>

	<script>

		$(document).ready(function () {
			var message = document.getElementById('mess').value
			if (message != null && message !== "") {

				swal(message, "", "success", {
					button: "OK",
					hideClass: {
						popup: 'animate__animated animate__fadeOutUp'
					},
				});
			} else {
				console.log("ajax request : " + message);
			}

		});
	</script>

	<!--   <section class="content">
        
        </section>-->
	<script src="../../js/jQuery-2.1.4.min.js" th:src="@{/js/jQuery-2.1.4.min.js}"></script>
	<script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../../js/fastclick.min.js" th:src="@{/js/fastclick.min.js}"></script>
	<script src="../../js/app.min.js" th:src="@{/js/app.min.js}"></script>
	<script src="../../js/demo.js" th:src="@{/js/demo.js}"></script>

	<script src="../../js/demo.js" th:src="@{/js/myjs.js}"></script>

</body>

</html>