<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>EBS</title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="../../css/AdminLTE.min.css"
	th:href="@{/css/AdminLTE.min.css}">
<link rel="stylesheet" href="../../css/skins/_all-skins.min.css"
	th:href="@{/css/skins/_all-skins.min.css}">


<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.css"
	rel="stylesheet" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.js"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script
	src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>


<style>
.error {
	color: red;
	font-size: 11px;
}
</style>


</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<div>
			<div th:replace="fragments/header :: header">...</div>
			<div th:replace="fragments/sidebar :: sidebar">...</div>

			<div class="wrapper">

				<section class="content-wrapper">

					<!-- form start -->
					<form id="itemMasterForm" role="form" th:action="@{/item/}"
						method="post" th:object="${item}" novalidate>


						<div class="row">

							<!-- left column -->




							<div class="col-md-12" style="margin-top: 20px;">

								


								<div class="box box-primary">
								
								<div class="box-header with-border text-right">

									<button type="submit" id="submit"
										class="btn btn-primary btn-sm">
										<i class="fa fa-hdd-o" aria-hidden="true"></i> Submit
									</button>
									<button type="reset" value="reset"
										class="btn btn-secondary btn-sm">
										<i class="fa fa-refresh" aria-hidden="true"></i> Reset
									</button>

									<a th:href="@{/item/list}" class="btn btn-success btn-sm">
										<i class="fa fa-list" aria-hidden="true"></i> View All
									</a>



								</div>
								
								
									<input type="hidden" id="mess" name="mess"
										th:value="${message}">
									<div class="box-header with-border">
										<h3 class="box-title">Item Master</h3>
									</div>


									<div class="box-body">

										<div class="container-fluid">

											<ul class="nav nav-pills">
												<li class="active"><a data-toggle="tab"
													href="#itemdetail">Item Detail</a></li>

												<li><a data-toggle="tab" href="#taxdetail">Tax
														Detail</a></li>
												<li><a data-toggle="tab" href="#packing">Packing</a></li>



											</ul>

											<div class="tab-content">
												<p></p>


												<!-- item detail div  -->
												<div id="itemdetail" class="tab-pane fade in active">

													<div class="box">

														<h5>Item Details</h5>

														<div class="row">
															<div class="col-md-8">

																<div class="form-group col-md-4">
																	<label for="#">Item Code</label> <input type="text"
																		class="form-control form-control-sm" title="item code"
																		placeholder="Item Code" th:field="*{itemCode}"
																		readonly>
																</div>
																<div class="form-group col-md-8">
																	<label for="inputPassword4">Description</label> <span
																		style="color: red">*</span> <input type="text"
																		title="This field is required"
																		class="form-control form-control-sm"
																		placeholder="Decription" required
																		th:field="*{description}">
																</div>

																<div class="form-group col-md-4">
																	<label for="inputEmail4">UOM Code</label> <input
																		type="email" title="uom code" id="uomCode"
																		class="form-control form-control-sm"
																		placeholder="Uom Code" readonly>
																</div>
																<div class="form-group col-md-4">
																	<label class="form-label">UOM Name</label> <label
																		style="color: red">*</label> <select
																		class="form-control" title="This field is required"
																		th:field="*{uom}" id="uomName"
																		onchange="getUomNameInfo()" required>
																		<option value="">Select</option>
																		<option th:each="uom :  ${listUom}"
																			th:text="${uom.unit}" th:value=" ${uom.uomCode}">
																		</option>
																	</select>
																</div>

																<div class="form-group col-md-4">
																	<label class="form-label">Store Info</label> <label
																		style="color: red">*</label> <select
																		class="form-control" title="This field is required"
																		th:field="*{storeInfo}" required>
																		<option value="">Select</option>
																		<!--<option th:each="store :  ${listStore}"
																			th:text="${store.storeCode}"
																			th:value=" ${store.storeCode}">
																		</option>-->
																		<option value="c">Capax</option>
																		<option value="n">Non-Capax</option>
																	</select>
																</div>

															</div>

															<div class="col-md-4">
																<img alt="" src="/img/contact.png"
																	style="border-radius: 50%; width: 100px;">
															</div>
														</div>

														<div class="form-group col-md-3">
															<label for="inputEmail4">Work Center Code</label> <input
																type="text" class="form-control form-control-sm"
																placeholder="Work Center Code" title="work center code"
																th:field="*{workCenterCode}">
														</div>

														<div class="form-group col-md-3">
															<label class="form-label">Work Center Name</label> <select
																class="form-control" title="work center Name" required>
																<option value="">Select</option>
																<option value="1">demo-1</option>
																<option value="2">demo-2</option>

															</select>
														</div>

														<div class="form-group col-md-3">
															<label class="form-label">Issueable</label> <select
																class="form-control" title="issueable"
																th:field="*{itemIssue}">
																<option value="">Select</option>
																<option value="Y">Yes</option>
																<option value="N">No</option>

															</select>
														</div>


														<div class="form-group col-md-3">
															<label for="inputEmail4">Tariff Item</label> <input
																type="number" class="form-control form-control-sm"
																title="tariff item" placeholder="Tariff Item"
																th:field="*{tariffItem}">
														</div>

														<div class="form-group col-md-3">
															<label class="form-label">GST</label> <select
																class="form-control" title="gst" th:field="*{excisable}">
																<option value="">Select</option>
																<option value="G">GST</option>
																<option value="N">NON-GST</option>

															</select>
														</div>

														<div class="form-group col-md-3">
															<label class="form-label">Inspection Required</label><span
																style="color: red">*</span> <select class="form-control"
																title="dol" th:field="*{dol}" required>
																<option value="">Select</option>
																<option value="Y">Yes</option>
																<option value="N">No</option>

															</select>
														</div>


														<div class="form-group col-md-3">
															<label class="form-label">Category</label><span
																style="color: red">*</span> <select class="form-control"
																title="category" th:field="*{category}" required>
																<option value="">Select Category</option>

																<option th:each="category :  ${listCategory}"
																	th:text="${category.description}"
																	th:value=" ${category.categCode}"></option>
															</select>
														</div>

														<div class="form-group col-md-3">
															<label class="form-label">Critical Item</label> <select
																class="form-control" title="critical item"
																th:field="*{criticalItem}">
																<option value="">Select</option>
																<option value="Y">Yes</option>
																<option value="N">No</option>

															</select>
														</div>



														<div class="form-group" style="margin-left: 14px;">

															<input class="form-check-input p-10" type="checkbox"
																value="Y" name="bulkIssYn" th:checked="*{bulkIssYn}">
															<label class="form-check-label" for="inlineCheckbox1">Bulk
																Issueable</label> <input class="form-check-input"
																type="checkbox" value="Y" name="pettyItem"
																th:checked="*{pettyItem}" style="margin-left: 8px;">
															<label class="form-check-label" for="inlineCheckbox2">Petty
																Item</label> <input class="form-check-input" type="checkbox"
																value="Y" style="margin-left: 8px;" name="warItemYn"
																th:checked="*{warItemYn}"> <label
																class="form-check-label" for="inlineCheckbox3">Warranty
																Item</label>

														</div>






													</div>

													<p></p>
													<p></p>

													<!--stock label-->
													<div class="box">

														<h5>Stock Level</h5>
														<div class="row">

															<div class="col-md-12">
																<div class="form-group col-md-4">
																	<label for="inputEmail4">Min. Level</label> <input
																		type="number" class="form-control form-control-sm"
																		placeholder="Min Level" title="min level"
																		th:field="*{minLevel}" style='text-align: right;'>
																</div>
																<div class="form-group col-md-4">
																	<label for="inputPassword4">Max. Stock</label> <input
																		type="number" class="form-control form-control-sm"
																		title="max stock" placeholder="Max Stock"
																		th:field="*{maxLavel}" style='text-align: right;'>
																</div>

																<div class="form-group col-md-4">
																	<label for="inputPassword4">Reorder level</label> <input
																		type="number" class="form-control form-control-sm"
																		placeholder="Recorder Level" title="recorder level"
																		th:field="*{reOrderLevel}" style='text-align: right;'>
																</div>
															</div>
														</div>
													</div>
													<!--end stock level -->

													<p></p>
													<p></p>


													<div class="box">

														<h5>Location</h5>
														<div class="row">
															<div class="col-md-12">
																<div class="form-group col-md-2">
																	<label for="inputEmail4">Store Code</label> <input
																		type="email" class="form-control form-control-sm"
																		id="storeCode" placeholder="Store Code"
																		title="store code" readonly>
																</div>
																<div class="form-group col-md-4">
																	<label class="form-label">Store Name</label> <label
																		style="color: red">*</label> <select id="storeName"
																		class="form-control" title="This field is required"
																		th:field="*{store}" required onchange="selectStore()">
																		<option value="">Select</option>
																		<option th:each="store :  ${listStore}"
																			th:text="${store.description}"
																			th:value=" ${store.storeCode}"></option>
																	</select>
																</div>
																<div class="form-group col-md-3">
																	<label for="inputPassword4">Bin Number</label> <input
																		type="text" class="form-control form-control-sm"
																		title="bin number" placeholder="Bin Number"
																		th:field="*{binNum}">
																</div>

																<div class="form-group col-md-3">
																	<label for="inputPassword4">Bin Location</label> <input
																		type="text" class="form-control form-control-sm"
																		title="bin location" placeholder="Bin Location"
																		th:field="*{binLoc}">
																</div>
															</div>
														</div>
													</div>

													<p></p>
													<p></p>
													<!-- 
													<div class="box">

														<h5>Account Information</h5>
														<div class="row">
															<div class="col-md-12">
																<div class="form-group col-md-6">
																	<label for="inputEmail4">Account Code</label> <input
																		type="text" class="form-control form-control-sm"
																		placeholder="Account Code" title="account code">
																</div>
																<div class="form-group col-md-6">
																	<label class="form-label">Account Name</label> <select
																		class="form-control" id="departmentDropdown"
																		title="account name">
																		<option value="A">Active</option>
																	
																		<option th:each="department :  ${departmentList}"
												th:text="${department.deptName}"
												th:value=" ${department.departmentCode}"></option>
																	</select>
																</div>
															</div>
														</div>
													</div> -->

													<p></p>
													<p></p>

													<!-- 		<div class="box">

														<h5>Product Information</h5>
														<div class="row">
															<div class="col-md-12">
																<div class="form-group col-md-2">
																	<label for="inputEmail4">Product Code</label> <input
																		type="text" class="form-control form-control-sm"
																		placeholder="Product Code" title="product code">
																</div>
																<div class="form-group col-md-4">
																	<label class="form-label">Product Name</label> <select
																		class="form-control" id="departmentDropdown"
																		title="product name">
																		<option value="">Select</option>
																		<option value="1">P-1</option>
																		<option value="2">P-2</option>
																		<option th:each="department :  ${departmentList}"
												th:text="${department.deptName}"
												th:value=" ${department.departmentCode}"></option>
																	</select>
																</div>
																<div class="form-group col-md-2">
																	<label for="inputPassword4">Design Code</label> <input
																		type="text" class="form-control form-control-sm"
																		title="design code" placeholder="Design Code">
																</div>

																<div class="form-group col-md-4">
																	<label class="form-label">Design Name</label> <select
																		class="form-control" id="departmentDropdown"
																		title="design name">
																		<option value="">Select</option>
																		<option value="1">P-1</option>
																		<option value="2">P-2</option>
																		<option th:each="department :  ${departmentList}"
												th:text="${department.deptName}"
												th:value=" ${department.departmentCode}"></option>
																	</select>
																</div>
															</div>

														</div>
													</div>
 -->
												</div>
												<!--end item detal -->

												<!--text detail tab-->
												<div id="taxdetail" class="tab-pane fade">

													<div class="box">

														<div class="box-body">

															<div class="row form-group">
																<label for="inputEmail3" class="col-md-2 control-label">Product
																	Group</label>
																<div class="col-md-6">
																	<input type="text" class="form-control"
																		placeholder="Product Group" title="product group"
																		th:field="*{productGroup}">
																</div>
															</div>

															<div class="row form-group">
																<label for="inputEmail3" class="col-md-2 control-label">Purchase
																	HSN Code</label>
																<div class="col-md-6">
																	<input type="text" class="form-control"
																		placeholder="Purchase Hsn Code"
																		title="purchase hsn code" th:field="*{hsnCode}">
																</div>
															</div>

															<div class="row form-group">
																<label for="inputEmail3" class="col-md-2 control-label">Sales
																	HSN Code</label>
																<div class="col-md-6">
																	<input type="text" class="form-control"
																		title="sales hsn code" id="inputEmail3"
																		placeholder="Sales Hsn Code">
																</div>
															</div>

															<div class="row form-group">
																<label for="inputEmail3" class="col-md-2 control-label">CGST(%)</label>
																<div class="col-md-6">
																	<input type="text" class="form-control" title="cgst"
																		placeholder="Cgst" th:field="*{cgst}">
																</div>
															</div>

															<div class="row form-group">
																<label for="inputEmail3" class="col-md-2 control-label">SGST(%)</label>
																<div class="col-md-6">
																	<input type="text" class="form-control" title="sgst"
																		placeholder="Sgst" th:field="*{sgst}">
																</div>
															</div>

															<div class="row form-group">
																<label for="inputEmail3" class="col-md-2 control-label">IGST(%)</label>
																<div class="col-md-6">
																	<input type="text" class="form-control" title="igst"
																		placeholder="Igst" th:field="*{igst}">
																</div>
															</div>

														</div>
													</div>


												</div>

												<!--end tax detail tab -->

												<!-- packing detail -->

												<div id="packing" class="tab-pane fade">

													<p></p>
													<p></p>
													<div class="box">
														<h5>Packing Details</h5>


														<div class="col-sm-12" style="text-align: right">

															<a id="add_row" class="fa fa-plus" aria-hidden="true"
																style="font-size: 24px; color: #001080"></a>&nbsp;&nbsp;&nbsp;
															<a id='delete_row' class="fa fa-trash"
																style="font-size: 24px; color: #399490fc"
																aria-hidden="true"></a>
														</div>

														<table class="table table-sm" id="example">
															<thead>
																<tr>
																	<th scope="col">Packing Code</th>
																	<th scope="col">Packing Name</th>
																	<th scope="col">Unit Name</th>
																	<th scope="col">Qty</th>
																	<th scope="col">BarCode</th>



																</tr>
															</thead>
															<tbody>
																<tr id="addr0">
																	<th scope="row">
																		<fieldset>
																			<input type="text" title="packing code"
																				class="form-control" placeholder="packing Code"
																				name="packingDetails[0].packingCode">
																		</fieldset>
																	</th>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="Packing Name" title="packing name"
																				name="packingDetails[0].packingName">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>


																			<select class="form-control" title="uom Name"
																				th:field="*{packingDetails[0].unitName}"
																				style="width: 180px;">
																				<option value="">Select</option>
																				<option th:each="uom :  ${listUom}"
																					th:text="${uom.unit}" th:value=" ${uom.uomCode}">
																				</option>
																			</select>



																			<!--<input type="text" class="form-control"
																				placeholder=""title="unit name"
																				name="packingDetails[0].UnitName">-->
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="number" class="form-control"
																				placeholder="Qty" title="qty"
																				name="packingDetails[0].qty"
																				oninput="limitDecimalPlaces(event, 2)"
																				style="text-align: right;">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="Bar-Code" title="bar code"
																				name="packingDetails[0].barCode">
																		</fieldset>
																	</td>

																</tr>

																<tr id="addr1"></tr>

															</tbody>
														</table>

													</div>


												</div>
												<!--end packing detail -->







											</div>
										</div>
									</div>



								</div>
							</div>





						</div>

					</form>
				</section>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer">...</div>


	<script>
		var idIndex = 0;
		$(document)
				.ready(
						function() {
							console.log("item master is ready!");
							var i = 1;
							$('#add_row')
									.click(
											function() {
												idIndex++;
												$('#addr' + i)
														.html(
																"<th scope='row'><fieldset><input type='text' class='form-control'placeholder='' name='insuranceDetail[" + idIndex + "].packingCode'></fieldset></th>"
																		+ "<td><fieldset><input type='text' class='form-control'placeholder='' name='insuranceDetail[" + idIndex + "].packingName'></fieldset></td>"
																		+ "<td><fieldset><input type='text' class='form-control' placeholder=''name='insuranceDetail[" + idIndex + "].unitName'></fieldset></td>"
																		+ "<td><fieldset><input type='number' class='form-control' placeholder=''name='insuranceDetail[" + idIndex + "].qty'></fieldset></td>"
																		+ "<td><fieldset><input type='text' class='form-control' placeholder=''name='insuranceDetail[" + idIndex + "].barCode'></fieldset></td>");

												$('#example').append(
														'<tr id="addr'
																+ (i + 1)
																+ '"></tr>');

												i++;

											});

							$("#delete_row").click(function() {
								if (i > 1) {
									$("#addr" + (i - 1)).html('');
									$('#_cr').val(i - 1);
									i--;
									idIndex--;
								}
							});

						});
	</script>

	<script>
		$(document).ready(function() {
			var message = document.getElementById('mess').value
			if (message != null && message !== "") {

				swal(message, "", "success", {
					button : "OK",
					hideClass : {
						popup : 'animate__animated animate__fadeOutUp'
					},
				});
			} else {
				console.log("ajax request : " + message);
			}

		});

		function getUomNameInfo() {

			var uomName = document.getElementById("uomName").value;
			document.getElementById("uomCode").value = uomName;
		}

		function limitDecimalPlaces(e, count) {
			if (e.target.value.indexOf('.') == -1) {
				return;
			}
			if ((e.target.value.length - e.target.value.indexOf('.')) > count) {
				e.target.value = parseFloat(e.target.value).toFixed(count);
			}
		}
	</script>

	<script>
		$("#itemMasterForm").validate({
			ignoreTitle : true
		});

		function selectStore() {
			var storeCode = document.getElementById("storeName").value;
			document.getElementById("storeCode").value = storeCode;
		}
	</script>



	<!--   <section class="content">
        
        </section>-->
	<script src="../../js/jQuery-2.1.4.min.js"
		th:src="@{/js/jQuery-2.1.4.min.js}"></script>
	<script src="../../js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../../js/fastclick.min.js"
		th:src="@{/js/fastclick.min.js}"></script>
	<script src="../../js/app.min.js" th:src="@{/js/app.min.js}"></script>
	<script src="../../js/demo.js" th:src="@{/js/demo.js}"></script>
</body>

</html>