<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>EBS</title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="../../css/AdminLTE.min.css"
	th:href="@{/css/AdminLTE.min.css}">
<link rel="stylesheet" href="../../css/skins/_all-skins.min.css"
	th:href="@{/css/skins/_all-skins.min.css}">

<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.css"
	rel="stylesheet" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.js"></script>


<style>
.form-control-sm {
	height: 30px;
	width: 120px;
}

.select {
	width: 130px;
	font-size: 10px;
}
</style>

</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<div>
			<div th:replace="fragments/header :: header">...</div>
			<div th:replace="fragments/sidebar :: sidebar">...</div>

			<div class="wrapper">

				<section class="content-wrapper">

					<!-- Content Header (Page header) -->
					<section class="content-header">
						<h4>
							Material Requisition
							<!--<small>it all starts here</small>-->
						</h4>
						<ol class="breadcrumb">
							<li><a href="#"><i class="fa fa-dashboard"></i>WhareHouse</a></li>
							<li><a href="#">Material Requisition</a></li>
							<li class="active">Add Page</li>

						</ol>
					</section>


					<!-- Main content -->
					<section class="content">

						<!-- form start -->
						<form role="form" th:action="@{/materialrequisition/}"
							th:object="${materialRequisition}" method="POST">


							<!-- Default box -->
							<div class="box">



								<div class="row">
									<!-- left column -->
									<div class="col-md-12">

										<div class="box-header with-border text-right">

											<button type="submit" id="submit"
												class="btn btn-primary btn-sm">
												<i class="fa fa-hdd-o" aria-hidden="true"></i> Submit
											</button>
											<button type="reset" value="reset"
												class="btn btn-secondary btn-sm">
												<i class="fa fa-refresh" aria-hidden="true"></i> Reset
											</button>

											<a th:href="@{/materialrequisition/list}" class="btn btn-success btn-sm">
												<i class="fa fa-list" aria-hidden="true"></i> View All
											</a>



										</div>


										<div class="col-md-12 shadow bg-white rounded"
											style="margin-top: 20px;">
											<!-- general form elements -->
											<div class="box box-primary">

												<input type="hidden" id="mess" name="mess"
													th:value="${message}">

												<div class="box-header with-border">
													<!--<h3 class="box-title">Category Master</h3>-->
												</div>
												<!-- /.box-header -->

												<div class="box">
													<h5 class="box-title">General Registration</h5>
													<div class="box-body">


														<div class="form-group col-md-4">
															<label for="inputEmail4">Requisition No</label> <input
																type="text" class="form-control" id="inputEmail4"
																placeholder="Requisition No" th:field="*{requisitionNo}"
																title="requisition no" readonly>
														</div>
														<div class="form-group col-md-4">
															<label for="inputPassword4">Requisition Date</label> <input
																type="date" class="form-control" id="requisitionDate"
																title="requisition date" th:field="*{requisitionDate}"
																readonly>
														</div>



														<div class="form-group col-md-4">
															<label for="inputAddress">Employee Code</label> <input
																type="text" class="form-control" id="empCode"
																title="employee code" readonly>
														</div>


														<div class="form-group col-md-4">
															<label for="inputPassword4">Employee Name</label> <select
																class="form-control" id="employee" title="employee name"
																th:field="*{employee}" onchange="selectEmployee()">
																<option value="">Select</option>
																<option th:each="employee :  ${employeeList}"
																	th:text="${employee.empName}"
																	th:value=" ${employee.empCode}"></option>
															</select>
														</div>

														<div class="form-group col-md-4">
															<label for="inputAddress">Department Code</label> <input
																type="text" class="form-control" id="departmentCode"
																title="department code" placeholder="Department Code"
																readonly>
														</div>


														<div class="form-group col-md-4">
															<label for="inputPassword4">Department Name</label> <input
																type="text" class="form-control" id="departmentName"
																title="department name" placeholder="Department Name"
																readonly>
														</div>

														<div class="form-group col-md-4">
															<label for="inputPassword4">Requisition Type</label> <select
																class="form-control" id="" title="requisition type"
																th:field="*{requisitionType}">

																<option value="G">General</option>
																<option value="N">Normal</option>
																<option value="O">As On Date</option>
															</select>
														</div>

														<div class="form-group col-md-4">
															<label for="inputPassword4">Purchase Type</label> <select
																class="form-control" id="" title="requisition type">

																<option value="N">Non-Capex</option>
																<option value="C">Capex</option>
																<option value="O">As On Date</option>
															</select>
														</div>



														<div class="form-group col-md-4">
															<label for="inputAddress">Store Code</label> <input
																type="text" class="form-control" id="storeCode"
																title="store code" readonly>
														</div>


														<div class="form-group col-md-4">
															<label for="inputPassword4">Store Name<span
																style="color: red">*</span></label> <select class="form-control"
																id="storeName" onchange='selectStore()'
																title="store name" th:field="*{store}" required>
																<option value="">Select</option>
																<option th:each="store :  ${storeList}"
																	th:text="${store.description}"
																	th:value=" ${store.storeCode}"></option>
															</select>
														</div>


													</div>
													<!-- /.box-body -->

												</div>
												<!--end box-1-->

												<!--detail box-->
												<div class="box">

													<h5>Item Detail</h5>
													<div class="box-body">

														<!-- <input id="_cr" name="_cr" type="hidden" value="1"> -->

														<div class="col-sm-12" style="text-align: right">




															<a id="add_row" class="fa fa-plus" aria-hidden="true"
																style="font-size: 24px; color: #001080"></a>&nbsp;&nbsp;&nbsp;
															<a id='delete_row' class="fa fa-trash"
																style="font-size: 24px; color: #399490fc"
																aria-hidden="true"></a>
														</div>


														<div class="table-responsive" style="margin-top: 30px">
															<table id="example" aria-describedby="example"
																class="table table-striped display">
																<thead>
																	<tr>


																		<!-- <th scope="col" class="text-center"
																			style="width: 50px;">S.No</th> -->
																		<th scope="col" class="text-center">Item Code</th>
																		<th scope="col" class="text-center">Description</th>
																		<th scope="col" class="text-center">UOM</th>
																		<th scope="col" class="text-center">Qty <br>in
																			Stock
																		</th>
																		<th scope="col" class="text-center">Qty <br>Required<span style="color:red">*</span>
																		</th>
																		<th scope="col" class="text-center">Approved <br>Required
																			Qty
																		</th>
																		<th scope="col" class="text-center">Required Date <span style="color:red">*</span></th>



																	</tr>
																</thead>

																<tbody>
																	<tr id="adr0">


																		<!-- <td><input type="number" title="sno."
																			class="form-control form-control-sm"
																			style="width: 70px;"
																			name="materialRequisitionDetails[0].srNo"></td> -->


																		<!--item code   -->
																		<td><input type="text"
																			class="form-control form-control-sm" id="itemCode0"
																			title="item description" readonly></td>

																		<!-- Description  -->
																		<td><select id="itemName0"
																			class="form-control form-control-sm select itemContainer0"
																			required title="item" onchange="selectItem()"
																			name="materialRequisitionDetails[0].item">
																				<option value="">Select</option>
																				<option th:each="item :  ${itemList}"
																					th:text="${item.description}"
																					th:value=" ${item.itemCode}"></option>
																		</select></td>

																		<!--  uom  -->
																		<td><input type="text"
																			class="form-control form-control-sm" id="uom0"
																			style="width: 90px;" title="uom"
																			name='materialRequisitionDetails[0].uom' readonly></td>

																		<!-- qty in stock  -->
																		<td><input type="number" title="qty"
																			class="form-control form-control-sm text-right"
																			style="width: 100px;" id='qty0'
																			name="materialRequisitionDetails[0].qty" step="0.25"
																			onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)"
																			readonly></td>
																		<!-- qty required  -->
																		<td><input type="number"
																			class="form-control form-control-sm text-right"
																			title="net qty"
																			name="materialRequisitionDetails[0].netQty"
																			step="0.25"
																			onkeypress="return isNumberKey(event)" 
																			onkeyup="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)"
																			style="width: 100px;" required></td>

																		<!-- approved required qty  -->
																		<td><input type="text"
																			class="form-control form-control-sm text-right"
																			id="technicalQualification" title="srNoClaimUnder"
																			step="0.25"
																			onkeypress="return isNumberKey(event)" 
																			onkeyup="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)"
																			name="materialRequisitionDetails[0].srNoClaimUnder"></td>

																		<!-- required date  -->
																		<td><input type="date"
																			class="form-control form-control-sm"
																			id="orderItemuom" title="" style="width: 150px"
																			name="materialRequisitionDetails[0].srNoSendForRep" required></td>


																	</tr>
																	<tr id='adr1' />

																</tbody>


															</table>
														</div>

														<input type="hidden" id="hidden_field"
															th:value="${length}" />
													</div>
												</div>


												<!--end detail box-->






											</div>
											<!-- /.box -->

										</div>



									</div>

								</div>

							</div>

						</form>
					</section>
				</section>
			</div>

		</div>
	</div>
	<div th:replace="fragments/footer :: footer">...</div>

	<script>
		$(document)
				.ready(
						function() {

							document.getElementById('requisitionDate').valueAsDate = new Date();

						});
	</script>

	<script>
		function selectEmployee() {

			var employee = document.getElementById("employee").value;
			console.log("employee is " + employee);

			document.getElementById("empCode").value = employee;

			$.ajax({
				type : "GET",
				url : "employeeinfo/" + employee,

				success : function(data) {

					console.log("response data : " + data);

					$("#departmentCode").val(data.deptCode);
					$("#departmentName").val(data.deptName)
					//$("#departmentname").val(data.department.deptName)
				},
				error : function() {
					console.log("Error");
				}
			});
		}

		function selectStore() {
			console.log("store code")
			var storeCode = document.getElementById("storeName").value;
			console.log("store code" + storeCode)
			document.getElementById("storeCode").value = storeCode;
		}

		function selectItem() {
			var itemNumber = document.getElementById("itemName0").value;
			document.getElementById("itemCode0").value = itemNumber;

			$.ajax({
				type : "GET",
				url : "itemInfo/" + itemNumber,

				success : function(data) {

					console.log("item description  :" + JSON.stringify(data))

					$("#uom0").val(data.item.uom.uomCode)
					$("#qty0").val(data.itemOpening.currentStock)

				},
				error : function() {
					console.log("Error");
				}
			});
		}
	</script>


	<script>
		function againstPurchaseThrough() {

			let purchaseThrough = document.getElementById("purchaseThrough").value;
			console.log("purchase through value : " + purchaseThrough);

			//do all value clear on click selection 

			$('#quotationDate').val('');

			if (purchaseThrough == "quotation") {
				console.log("quotation ")
				// enable field
				$("#quotationNumber").prop('disabled', false);
				$("#quotationDate").prop('disabled', false);

				//get indent detail against quotation detail 

				//getIndentAgainstQuotationDetail()

			} else {
				console.log(" is not")
				//disabled and do blank 
				$("#quotationNumber").prop('disabled', true);
				$("#quotationDate").prop('disabled', true);
				$('#quotationNumber').val('');
				$('#quotationDate').val('');

				//call api in case of purchase through is indent

				indentDetailInCaseOfIndent();

			}

		}
	</script>

	<script>
		$(document).ready(function() {
			var message = document.getElementById('mess').value
			if (message != null && message !== "") {

				swal(message, "", "success", {
					button : "OK",
					hideClass : {
						popup : 'animate__animated animate__fadeOutUp'
					},
				});
			} else {
				console.log("ajax request : " + message);
			}

		});
	</script>

	<script>
		$(document)
				.ready(
						function() {
							console.log("ready!");

							var j = 1;

							$('#add_row')
									.click(
											function() {

												console
														.log("add clickk function")
												//idIndex2++;
												$('#adr' + j)
														.html(
																
																
																"<td><input type='text' class='form-control form-control-sm' id='itemCode"+j+"' title='item description' readonly></td>"

																
																
																		+ "<td><select id='itemName"+j+"' class='form-control form-control-sm select itemContainer"+j+"' required title='item' onchange='selectItem()'name='materialRequisitionDetails["+j+"].item'><option value=''>Select</option><option th:each='item :  ${itemList} th:text='${item.description}'th:value=' ${item.itemCode}'></option></select>'</td>"

																		
																		+"<td><input type='text' class='control form-control-sm' id='uom"+j+"' style='width: 90px;' title='uom' name='materialRequisitionDetails["+j+"].uom' readonly> <td>"

																		
																		+ "<td><input type='number' title='qty' class='form-control form-control-sm' style='width: 100px;' id='qty"+j+"' name='materialRequisitionDetails["+j+"].qty' step='0.25' readonly> </td>"

																		
																		+ "<td><input type='number'class='form-control form-control-sm' title='net qty' name='materialRequisitionDetails["+j+"].netQty' style='width: 100px;'></td>" 

																		
																		
																		+ "<td><input type='text' class='form-control form-control-sm' id='technicalQualification' title='srNoClaimUnder'name='materialRequisitionDetails["+j+"].srNoClaimUnder'></td>" 

																		

																		
																		
																		+ "<td><input type='date' class='form-control form-control-sm' id='orderItemuom' title='' style='width: 150px'name='materialRequisitionDetails["+j+"].srNoSendForRep'></td>" 

																	);
												
												$('#example').append(
														'<tr id="adr' + (j + 1)
																+ '"></tr>');

												//listOfSupplierInfo()

												j++;

											});

							$("#delete_row").click(function() {
								if (j > 1) {
									$("#adr" + (j - 1)).html('');

									j--;

								}
							});
						});
		
		
		 function isNumberKey(evt)
			{
				var charCode = (evt.which) ? evt.which : evt.keyCode;
			    if (charCode != 46 && charCode > 31 
			        && (charCode < 48 || charCode > 57))
			            return false;

			          return true;
			}
		 
		 
	</script>
	<!--   <section class="content">
        
        
        </section>-->

	<script src="../../js/jQuery-2.1.4.min.js" th:src="@{/js/myjs.js}"></script>


	<script src="../../js/jQuery-2.1.4.min.js"
		th:src="@{/js/jQuery-2.1.4.min.js}"></script>
	<script src="../../js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../../js/fastclick.min.js"
		th:src="@{/js/fastclick.min.js}"></script>
	<script src="../../js/app.min.js" th:src="@{/js/app.min.js}"></script>
	<script src="../../js/demo.js" th:src="@{/js/demo.js}"></script>
</body>

</html>