<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>EBS</title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="../../css/AdminLTE.min.css"
	th:href="@{/css/AdminLTE.min.css}">
<link rel="stylesheet" href="../../css/skins/_all-skins.min.css"
	th:href="@{/css/skins/_all-skins.min.css}">

<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.css"
	rel="stylesheet" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.js"></script>


<style>
.form-control-sm {
	height: 30px;
	width: 120px;
}

.select {
	width: 130px;
	font-size: 10px;
}

iframe {
	display: block;
	width: 100%;
}
</style>

</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<div>
			<div th:replace="fragments/header :: header">...</div>
			<div th:replace="fragments/sidebar :: sidebar">...</div>

			<div class="wrapper">

				<section class="content-wrapper">

					<!-- Content Header (Page header) -->
					<section class="content-header">
						<h4>
							Material Receipt
							<!--<small>it all starts here</small>-->
						</h4>
						<ol class="breadcrumb">
							<li><a href="#"><i class="fa fa-dashboard"></i>WhareHouse</a></li>
							<li><a href="#">MRN</a></li>
							<li class="active">Master</li>
						</ol>
					</section>


					<!-- Main content -->
					<section class="content">

						<!-- Default box -->
						<div class="box">



							<div class="row">
								<!-- left column -->
								<div class="col-md-12">



									<div class="col-md-12 shadow bg-white rounded"
										style="margin-top: 20px;">
										<!-- general form elements -->
										<div class="box box-primary">

											<input type="hidden" id="mess" name="mess"
												th:value="${message}">

											<div class="box-header with-border">
												<!--<h3 class="box-title">Category Master</h3>-->
											</div>
											<!-- /.box-header -->
											<!-- form start -->
											<form role="form" th:action="@{/mrn/}" th:object="${mrn}"
												method="POST">

												<div class="box">
													<h5 class="box-title">Material Receipt Master</h5>
													<div class="box-body">


														<div class="form-group col-md-3">
															<label for="inputEmail4">MRN No</label> <input
																type="text" class="form-control" id="inputEmail4"
																placeholder="Gate Sr No" th:field="*{mrnNo}" readonly>
														</div>
														<div class="form-group col-md-3">
															<label for="inputPassword4">MRN Date</label> <input
																type="date" class="form-control" id="mrnGateEntryDate"
																th:field="*{mrnDate}" readonly>
														</div>



														<div class="form-group col-md-3">
															<label for="inputAddress">Gate Entry No</label> <span style="color: red">*</span><select
																class="form-control" id="gateEntryNumber" title="entry type" onchange="getGateEntryInfo()"
																th:field="*{gateEntryNo}" required>
																<option value="">Select</option>
																<option th:each="gateEntry :  ${gateEntryList}"
																	th:text="${gateEntry.gateSrNo}"
																	th:value=" ${gateEntry.gateSrNo}"></option>

															</select>
														</div>


														<div class="form-group col-md-3">
															<label class="form-label">Gate Entry Date</label> <input
																type="date" class="form-control" id="gateEntryDate"
																th:field="*{gateEntryDate}"  readonly>
														</div>





														<div class="form-group col-md-3">
															<label class="form-label">Supplier Code</label> <label
																style="color: red">*</label> <select
																class="form-control supplierContainer" id="supplierCode"
																title="supplier code" th:field="*{supplierMaster}">
																<option value="">Select</option>
																<option th:each="supplier :  ${supplierList}"
																	th:text="${supplier.supplierName}"
																	th:value=" ${supplier.supplierRepo}"></option>


															</select>
														</div>


													<!-- 	<div class="form-group col-md-3">
															<label for="inputPassword4">Supplier Name</label> <input
																type="text" class="form-control " id="supplierName"
																placeholder="Supplier Name" title="supplier name">
														</div>
 -->
														<div class="form-group col-md-3">
															<label for="inputPassword4">Received By</label> <input
																type="text" class="form-control"
																placeholder="Received By" title="received by">
														</div>

														<div class="form-group col-md-3">
															<label class="form-label">Bill Type</label> <select
																class="form-control" id="" title="bill type"
																th:field="*{billType}">
																<option value="B" selected>Bill</option>
																<option value="T">Trading</option>

															</select>
														</div>

														<div class="form-group col-md-3">
															<label for="inputPassword4">Bill No</label><span style="color:red">*</span> <input
																type="text" class="form-control" th:field="*{billNo}"
																placeholder="Bill Number" title="bill number" required>
														</div>


														<div class="form-group col-md-3">
															<label class="form-label">GST</label> <select
																class="form-control" id="gst" title="gst type">
																<option value="G" selected>GST</option>
																<option value="N">NON-GST</option>

															</select>
														</div>

														<div class="form-group col-md-3">
															<label class="form-label">MRN Type</label> <select
																class="form-control" id="" title="gst type"
																th:field="*{mrnType}">
																<option value="c" selected>Capital</option>
																<option value="n">Non-Capital</option>

															</select>
														</div>

														<div class="form-group col-md-3">
															<label class="form-label">Currency </label> <select
																class="form-control" id="currency" title="currency type ">
																<option value='I'>INR</option>
																<option value='U'>USD</option>

															</select>
														</div>


										

														<div class="form-group col-md-3">
															<label class="form-label">Material Type</label> <select
																class="form-control" id="" title="gst type">
																<option value="" selected>PO</option>


															</select>
														</div>


														<div class="form-group col-md-3">
															<label for="inputPassword4">Date of Bill</label> <span style="color:red">*</span><input
																type="date" class="form-control" title="date of bill"
																th:field="*{billDate}">
														</div>

														<div class="form-group col-md-3">
															<label for="inputPassword4">Date of Receipt</label> <input
																type="date" class="form-control" title="date of bill"
																th:field="*{reciepDate}">
														</div>

														<div class="form-group col-md-3">
															<label for="inputPassword4">Conversion Value</label> <input
																type="text" class="form-control" id="conversionValue"
																placeholder="Conversion Value" title="conversion value"
																th:field="*{conversionvalue}">
														</div>


													</div>
													<!-- /.box-body -->

												</div>
												<!--end box-1-->










												<!--detail box-->
												<div class="box">

													<h5>Item Details</h5>
													<div class="box-body">

														<input id="_cr" name="_cr" type="hidden" value="1">



														<div class="table-responsive">
															<table id="example" aria-describedby="example"
																class="table table-striped display">
																<thead>
																	<tr>


																		<th scope="col" class="text-center"
																			style="width: 100px;">Material Type</th>
																		<th scope="col" class="text-center"
																			style="width: 90px;">Item Code</th>
																		<th scope="col" class="text-center"
																			style="width: 90px;">Item Name</th>
																		<th scope="col" class="text-center"
																			style="width: 90px;">Account Name</th>
																		<th scope="col" class="text-center"
																			style="width: 10px;">UOM</th>
																		<th scope="col" class="text-center"
																			style="width: 120px;">PO Qty</th>
																		<th scope="col" class="text-center"
																			style="width: 90px;">INR Qty</th>
																		<th scope="col" class="text-center"
																			style="width: 90px;">Rec Qty</th>
																		<th scope="col" class="text-center"
																			style="width: 120px;">PO Rate Curr</th>
																		<th scope="col" class="text-center"
																			style="width: 120px;">PO Rate</th>

																		<th scope="col" class="text-center"
																			style="width: 120px;">Bill Rate</th>

																		<th scope="col" class="text-center"
																			style="width: 120px;">Total Cost</th>

																		<th scope="col" class="text-center"
																			style="width: 120px;">Net Cost</th>

																		<th scope="col" class="text-center"
																			style="width: 120px;">Total Purr Cost</th>

																		<th scope="col" class="text-center"
																			style="width: 120px;">Total INR Cost</th>

																		<th scope="col" class="text-center"
																			style="width: 120px;">Remarks</th>

																		<th scope="col" class="text-center"
																			style="width: 120px;">DOL</th>

																		


																	</tr>
																</thead>

																<tbody>
																	<tr id="addr0">


																		<!-- matrial type  -->
																		<td><select
																			class="form-control indentContainer form-control-sm select"
																			id="orderIndentNumberPo"
																			name="mrnDetails[0].matServType"
																			title="indent number">
																			
																				<option value="m">M</option>
																				<option value="s">S</option>


																		</select></td>
																		<!-- item code -->
																		<td><input type="text"
																			class="form-control form-control-sm"
																			id="orderIndentDatePo" title="order date"
																			name="mrnDetails[0].item"></td>

																		<!-- item name -->
																		<td><input type="text"
																			class="form-control form-control-sm"
																			id="orderIndentDatePo" title="item name"></td>
																		<!-- Account Name -->
																		<td><select
																			class="form-control indentContainer form-control-sm select"
																			id="orderIndentNumberPo"
																			name="mrnDetails[0].itemAccCode" title="account name">
																				<option value="">Select</option>
																				<option value="ac-1">Ac01</option>
																				<option value="ac-2">Ac02</option>


																		</select></td>
																		<!-- UOM -->
																		<td><input type="number" title="uom"
																			class="form-control form-control-sm"></td>
																		<!-- po qty   -->
																		<td><input type="number"
																			class="form-control form-control-sm" title="po qty"></td>
																		<!-- inr qty -->
																		<td><input type="number"
																			class="form-control form-control-sm"
																			id="technicalQualification" title="inv qty"
																			name="mrnDetails[0].itemInv"></td>

																		<!-- rec qty  -->
																		<td><input type="number"
																			class="form-control form-control-sm"
																			id="orderItemuom" title="rec qty"
																			name="mrnDetails[0].itemRec"></td>


																		<!-- po rate curr -->

																		<td><input type="text"
																			class="form-control form-control-sm"
																			id="technicalQualification" title="po rate curr"></td>

																		<!-- po rate  -->
																		<td><input type="number"
																			class="form-control form-control-sm"
																			id="technicalQualification" title="po rate"
																			name="mrnDetails[0].itemRate"></td>

																		<!-- bill rate  -->
																		<td><input type="number"
																			class="form-control form-control-sm"
																			id="technicalQualification" title="bill rate"
																			name="mrnDetails[0].itemrateOnBill"></td>

																		<!-- total cost   -->
																		<td><input type="number"
																			class="form-control form-control-sm"
																			id="technicalQualification" title="total cost"
																			name="mrnDetails[0].totalvalue"></td>

																		<!-- net cost  -->
																		<td><input type="number"
																			class="form-control form-control-sm"
																			id="technicalQualification" title="net cost"
																			name="mrnDetails[0].itemNetVal"></td>


																		<!-- total pur cost  -->
																		<td><input type="number"
																			class="form-control form-control-sm"
																			id="technicalQualification" title="total pur cost"
																			name="mrnDetails[0].totalPurCost"></td>

																		<!-- total inr cost  -->
																		<td><input type="text"
																			class="form-control form-control-sm"
																			id="technicalQualification" title="total inr cost"></td>

																		<!-- remarks   -->
																		<td><input type="number"
																			class="form-control form-control-sm"
																			id="technicalQualification" title="remarks"
																			name="mrnDetails[0].totalPurCost"></td>

																		<!-- dol -->
																		<td><select
																			class="form-control indentContainer form-control-sm select"
																			id="orderIndentNumberPo" title="dol">
																				<option value="">Select</option>
																				<option value="y">YES</option>
																				<option value="n">NO</option>


																		</select></td>

																		




																	</tr>
																	<tr id='addr1' />

																</tbody>


															</table>
														</div>

														<input type="hidden" id="hidden_field"
															th:value="${length}" />
													</div>
												</div>


												<!--end detail box-->



												<!-- detail details block  -->

												<div class="box">

													<h5>Tax Info</h5>
													<div class="box-body">

														<input id="_cr" name="_cr" type="hidden" value="1">



														<div class="table-responsive">
															<table id="example" aria-describedby="example"
																class="table table-striped display">
																<thead>
																	<tr>


																		<th scope="col" class="text-center"
																			style="width: 100px;">CGST in(%)</th>
																		<th scope="col" class="text-center"
																			style="width: 90px;">CGST Value</th>
																		<th scope="col" class="text-center"
																			style="width: 90px;">SGST in(%)</th>
																		<th scope="col" class="text-center"
																			style="width: 90px;">SGST value</th>
																		<th scope="col" class="text-center"
																			style="width: 10px;">IGST in (%)</th>
																		<th scope="col" class="text-center"
																			style="width: 120px;">IGST Value</th>
																		<th scope="col" class="text-center"
																			style="width: 90px;">Discount(%)</th>
																		<th scope="col" class="text-center"
																			style="width: 90px;">Discount Value</th>
																		

																		


																	</tr>
																</thead>

																<tbody>
																	<tr id="addr0">


																	
																		<!-- item code -->
																		<td><input type="text"
																			class="form-control form-control-sm"
																			id="orderIndentDatePo" title="order date"
																			name="mrnDetails[0].item"></td>

																		<!-- item name -->
																		<td><input type="text"
																			class="form-control form-control-sm"
																			id="orderIndentDatePo" title="item name"></td>
																	
																		<!-- UOM -->
																		<td><input type="number" title="uom"
																			class="form-control form-control-sm"></td>
																		<!-- po qty   -->
																		<td><input type="number"
																			class="form-control form-control-sm" title="po qty"></td>
																		<!-- inr qty -->
																		<td><input type="number"
																			class="form-control form-control-sm"
																			id="technicalQualification" title="inv qty"
																			name="mrnDetails[0].itemInv"></td>

																		<!-- rec qty  -->
																		<td><input type="number"
																			class="form-control form-control-sm"
																			id="orderItemuom" title="rec qty"
																			name="mrnDetails[0].itemRec"></td>


																		<!-- po rate curr -->

																		<td><input type="text"
																			class="form-control form-control-sm"
																			id="technicalQualification" title="po rate curr"></td>

																		<!-- po rate  -->
																		<td><input type="number"
																			class="form-control form-control-sm"
																			id="technicalQualification" title="po rate"
																			name="mrnDetails[0].itemRate"></td>

																		




																	</tr>
																	<tr id='addr1' />

																</tbody>


															</table>
														</div>

														<input type="hidden" id="hidden_field"
															th:value="${length}" />
													</div>
												</div>



												<!-- end detail details block  -->


												<div class="box-footer" style="margin: 10px">
													<input type="submit" value="Submit" class="btn btn-primary" />
													<input type="reset" value="Reset" class="btn btn-danger" />
												</div>
											</form>


										</div>
										<!-- /.box -->
										<div
											style="width: parent; text-align-last: right; margin: 8px">
											<a th:href="@{/gateentry/list}">View All Gate-Entry</a>
										</div>
									</div>



								</div>

							</div>
						</div>
					</section>
				</section>
			</div>

		</div>
	</div>
	<div th:replace="fragments/footer :: footer">...</div>




	<!-- modal -->



	<!-- end modal   -->


	<script>
		$(document)
				.ready(
						function() {

							document.getElementById('mrnGateEntryDate').valueAsDate = new Date();

						});
		
		
		function getGateEntryInfo() {


			var gateEntryNumber = document.getElementById("gateEntryNumber").value;

			//console.log("get Item List Function is : " + indentNumber)

			$.ajax({
				type: "GET",
				url: "gateentryinfo/" + gateEntryNumber,

				success: function(data) {
					console.log("Item Info behalf of Indent Number  : " +JSON.stringify(data))

					
					console.log("gate entry detail : " + data.conversionValue)
					$("#gateEntryDate").val( data.gateEntry.gateEntryDate)
					
					$("#gst").val( data.poGst)
					$("#currency").val(data.currency)
					$("#conversionValue").val(data.conversionValue)
					
					
					
				//	$("#suupplierCode").val(data.mrnUtility.gateEntry.supplier)
					//$("#mrnCurrencyCode").val(data.mrnUtility.gateEntry.currency)


					// add dynamic drop down in item list in mrn detail form 

					//var options = '<option value=""><strong>Select</strong></option>';

					$(data).each(function(index, value) {

						//console.log("item info : " + value.item.itemCode)
						console.log("supplier  info : " + value.gateEntry.partyMaster.partyCode)

						var options; 
						options += '<option value="' + value.gateEntry.partyMaster.partyCode + '">' + value.gateEntry.partyMaster.partyName + '</option>';
						//options += '<option value="' + value.itemList.itemCode + '">' + value.item.itemName + '</option>';
						$('.supplierContainer').html(options);

					});

					


				}, error: function() {
					console.log("Error");
				}
			});
		}
	</script>
	
	
	


	<script>
		
	</script>

	<script>
		$(document).ready(function() {
			var message = document.getElementById('mess').value
			if (message != null && message !== "") {

				swal(message, "", "success", {
					button : "OK",
					hideClass : {
						popup : 'animate__animated animate__fadeOutUp'
					},
				});
			} else {
				console.log("ajax request : " + message);
			}

		});
	</script>


	<script>
		$(window).load(function() {
			$('#exampleModal').modal('show');
		});
	</script>
	<!--   <section class="content">
        
        
        </section>-->

	<!-- <script src="../../js/jQuery-2.1.4.min.js" th:src="@{/js/myjs.js}"></script> -->


	<script src="../../js/jQuery-2.1.4.min.js"
		th:src="@{/js/jQuery-2.1.4.min.js}"></script>
	<script src="../../js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../../js/fastclick.min.js"
		th:src="@{/js/fastclick.min.js}"></script>
	<script src="../../js/app.min.js" th:src="@{/js/app.min.js}"></script>
	<script src="../../js/demo.js" th:src="@{/js/demo.js}"></script>
</body>

</html>