<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>EBS</title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="../../css/AdminLTE.min.css"
	th:href="@{/css/AdminLTE.min.css}">
<link rel="stylesheet" href="../../css/skins/_all-skins.min.css"
	th:href="@{/css/skins/_all-skins.min.css}">

<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.css"
	rel="stylesheet" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.js"></script>


<style>
.form-control-sm {
	height: 30px;
	width: 120px;
}

.select {
	width: 130px;
	font-size: 10px;
}

iframe {
	display: block;
	width: 100%;
}
</style>

</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<div>
			<div th:replace="fragments/header :: header">...</div>
			<div th:replace="fragments/sidebar :: sidebar">...</div>

			<div class="wrapper">

				<section class="content-wrapper">

					<!-- Content Header (Page header) -->
					<section class="content-header">
						<h4>
							Inspection
							<!--<small>it all starts here</small>-->
						</h4>
						<ol class="breadcrumb">
							<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
							<li><a href="#">Examples</a></li>
							<li class="active">Blank page</li>
						</ol>
					</section>


					<!-- Main content -->
					<section class="content">

						<!-- Default box -->
						<div class="box">



							<div class="row">
								<!-- left column -->
								<div class="col-md-12">



									<div class="col-md-12 shadow bg-white rounded"
										style="margin-top: 20px;">
										<!-- general form elements -->
										<div class="box box-primary">

											<input type="hidden" id="mess" name="mess"
												th:value="${message}">

											<div class="box-header with-border">
												<!--<h3 class="box-title">Category Master</h3>-->
											</div>
											<!-- /.box-header -->
											<!-- form start -->
											<form role="form" th:action="@{/inspection/}"
												th:object="${inspection}" method="POST">

												<div class="box">
													<h5 class="box-title">Inspection</h5>
													<div class="box-body">


														<div class="form-group col-md-3">
															<label for="inputEmail4">Inspection No</label> <input
																type="text" class="form-control" id="inputEmail4"
																placeholder="Inspection No" title="inspection no"
																th:field="*{inspNo}">
														</div>
														<div class="form-group col-md-3">
															<label for="inputPassword4">Inspection Date</label> <input
																type="date" class="form-control" id="inspectionDate"
																th:field="*{inspDate}" title="inspection date">
														</div>



														<div class="form-group col-md-3">
															<label for="inputAddress">LOT Status</label> <select
																class="form-control" id="" title="lot status"
																th:field="*{lotStatus}">
																<option value="ac">Actual</option>

																<!-- <option th:each="gateEntry :  ${gateEntryList}"
																	th:text="${gateEntry.gateSrNo}"
																	th:value=" ${gateEntry.gateSrNo}"></option> -->

															</select>
														</div>


														<div class="form-group col-md-3">
															<label for="inputAddress">Mrn No</label> <select
																class="form-control" id="mrnNo" title="mrn no"
																th:field="*{mrn}" onchange="mrnInfo()">
																<option value="">Select</option>

																<option th:each="mrm :  ${mrmList}"
																	th:text="${mrm.mrnNo}" th:value=" ${mrm.mrnNo}"></option>

															</select>
														</div>


														<div class="form-group col-md-3">
															<label class="form-label">Mrn Date</label> <input
																type="date" class="form-control" id="mrnDate"
																th:field="*{mrnDate}" title="mrn date">
														</div>





														<div class="form-group col-md-3">
															<label for="inputAddress">Entry Mode</label> <select
																class="form-control" id="" title="entry mode"
																th:field="*{entryMode}">
																<option value="d">Entering Directly</option>



															</select>
														</div>


														<div class="form-group col-md-3">
															<label for="inputAddress">Employee Type</label> <select
																class="form-control" id="" title="employee type"
																th:field="*{entryType}">
																<option value="e">Employee</option>



															</select>
														</div>


														<div class="form-group col-md-3">
															<label for="inputAddress">Employee Name</label> <select
																class="form-control" id="" title="employee name"
																th:field="*{employee}">
																<option value="">Select</option>

																<option th:each="employee :  ${employeeList}"
																	th:text="${employee.empName}"
																	th:value=" ${employee.empCode}"></option>

															</select>
														</div>


													</div>
													<!-- /.box-body -->

												</div>
												<!--end box-1-->










												<!--detail box-->
												<div class="box">

													<h5>Item Details</h5>
													<div class="box-body">

														<input id="_cr" name="_cr" type="hidden" value="1">



														<div class="table-responsive">
															<table id="example" aria-describedby="example"
																class="table table-striped display">
																<thead>
																	<tr>


																		<th scope="col" class="text-center"
																			style="width: 100px;">Rep Out No</th>
																		<th scope="col" class="text-center"
																			style="width: 90px;">Rep Out Date</th>
																		<th scope="col" class="text-center"
																			style="width: 90px;">Item Code</th>
																		<th scope="col" class="text-center"
																			style="width: 90px;">Description</th>
																		<th scope="col" class="text-center"
																			style="width: 10px;">Item Received</th>
																		<th scope="col" class="text-center"
																			style="width: 120px;">UOM</th>
																		<th scope="col" class="text-center"
																			style="width: 90px;">MRN Qty</th>
																		<th scope="col" class="text-center"
																			style="width: 90px;">MRN Rate</th>
																		<th scope="col" class="text-center"
																			style="width: 120px;">Deviation Qty</th>
																		<th scope="col" class="text-center"
																			style="width: 120px;">Rate of Der.Qty</th>

																		<th scope="col" class="text-center"
																			style="width: 120px;">Rejected Qty</th>

																		<th scope="col" class="text-center"
																			style="width: 120px;">Inspection Qty</th>

																		<th scope="col" class="text-center"
																			style="width: 120px;">Pending Qty</th>

																		<th scope="col" class="text-center"
																			style="width: 120px;">Inspection Status</th>

																		<th scope="col" class="text-center"
																			style="width: 120px;">Remarks</th>




																	</tr>
																</thead>

																<tbody>
																	<tr id="addr0">


																		<!-- Rep Out No -->
																		<td><select
																			class="form-control indentContainer form-control-sm select"
																			id="orderIndentNumberPo"
																			name="mrnInspectionItems[0].repOutNo"
																			title="indent number">
																				<option value="">Select</option>
																				<option value="m">M</option>
																				<option value="s">S</option>


																		</select></td>

																		<!-- ep Out Date -->
																		<td><input type="text"
																			class="form-control form-control-sm"
																			id="orderIndentDatePo" title="order date"
																			name="mrnInspectionItems[0].repOutDate"></td>


																		<!-- Item Code -->
																		<td><input type="text"
																			class="form-control form-control-sm"
																			id="orderIndentDatePo" title="item name"
																			name="mrnInspectionItems[0].item"></td>

																		<!-- Description -->
																		<td><select
																			class="form-control indentContainer form-control-sm select"
																			id="orderIndentNumberPo"
																			title="account name">
																				<option value="">Select</option>
																				<option value="ac-1">Ac01</option>
																				<option value="ac-2">Ac02</option>


																		</select></td>

																		<!-- Item Received -->
																		<td><input type="number" title="uom"
																			class="form-control form-control-sm"
																			name="mrnInspectionItems[0].itemRec1"></td>

																		<!-- UOM -->
																		<td><input type="number"
																			class="form-control form-control-sm" title="po qty"
																			></td>

																		<!--Mrn Qty  -->
																		<td><input type="number"
																			class="form-control form-control-sm"
																			id="technicalQualification" title="inv qty"
																			name="mrnInspectionItems[0].qtyUd"></td>

																		<!-- Mrn rate -->
																		<td><input type="number"
																			class="form-control form-control-sm"
																			id="orderItemuom" title="rec qty"
																			name="mrnInspectionItems[0].mrnRate"></td>



																		<!-- Deviration qty -->
																		<td><input type="text"
																			class="form-control form-control-sm"
																			id="technicalQualification" title="po rate curr"
																			name="mrnInspectionItems[0].qtyAcceptDev"></td>

																		<!-- RAte of der Qty  -->
																		<td><input type="number"
																			class="form-control form-control-sm"
																			id="technicalQualification" title="po rate"
																			name="mrnInspectionItems[0].qtyAcceptDevRate"></td>

																		<!-- Rejected Qty  -->
																		<td><input type="number"
																			class="form-control form-control-sm"
																			id="technicalQualification" title="bill rate"
																			name="mrnInspectionItems[0].qtyRejected"></td>

																		<!-- Inspection Qty -->
																		<td><input type="number"
																			class="form-control form-control-sm"
																			id="technicalQualification" title="total cost"
																			name="mrnInspectionItems[0].inspectedQty"></td>

																		<!-- pending qty -->
																		<td><input type="number"
																			class="form-control form-control-sm"
																			id="technicalQualification" title="net cost"
																			name="mrnInspectionItems[0].qtyPending"></td>


																		<!-- inspection status -->
																		<td><input type="number"
																			class="form-control form-control-sm"
																			id="technicalQualification" title="total pur cost"
																			name="mrnInspectionItems[0].inspStatus"></td>

																		<!-- Remarks	 -->
																		<td><input type="text"
																			class="form-control form-control-sm"
																			id="technicalQualification" title="total inr cost"
																			></td>







																	</tr>
																	<tr id='addr1' />

																</tbody>


															</table>
														</div>

														<input type="hidden" id="hidden_field"
															th:value="${length}" />
													</div>
												</div>


												<!--end detail box-->




												<div class="box-footer" style="margin: 10px">
													<input type="submit" value="Submit" class="btn btn-primary" />
													<input type="reset" value="Reset" class="btn btn-danger" />
												</div>
											</form>


										</div>
										<!-- /.box -->
										<div
											style="width: parent; text-align-last: right; margin: 8px">
											<a th:href="@{/inspection/list}">View All Inspection</a>
										</div>
									</div>



								</div>

							</div>

						</div>
					</section>
				</section>
			</div>

		</div>
	</div>
	<div th:replace="fragments/footer :: footer">...</div>




	<script>
		function mrnInfo() {
			var mrnNO = document.getElementById("mrnNO").value;
			$.ajax({
				type : "GET",
				url : "/inspection/mrninfo/" + mrnNo,

				success : function(data) {
					//$("#resultarea").text(data);
					console.log("response data : " + data);
					$("#mrnDate").val(data.mrnDate);

				},
				error : function() {
					console.log("Error");
				}
			});
		}
	</script>


	<script>
		$(document).ready(function() {

			document.getElementById('inspectionDate').valueAsDate = new Date();

		});
	</script>


	<script>
		
	</script>

	<script>
		$(document).ready(function() {
			var message = document.getElementById('mess').value
			if (message != null && message !== "") {

				swal(message, "", "success", {
					button : "OK",
					hideClass : {
						popup : 'animate__animated animate__fadeOutUp'
					},
				});
			} else {
				console.log("ajax request : " + message);
			}

		});
	</script>


	<script>
		$(window).load(function() {
			$('#exampleModal').modal('show');
		});
	</script>
	<!--   <section class="content">
        
        
        </section>-->

	<script src="../../js/jQuery-2.1.4.min.js" th:src="@{/js/myjs.js}"></script>


	<script src="../../js/jQuery-2.1.4.min.js"
		th:src="@{/js/jQuery-2.1.4.min.js}"></script>
	<script src="../../js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../../js/fastclick.min.js"
		th:src="@{/js/fastclick.min.js}"></script>
	<script src="../../js/app.min.js" th:src="@{/js/app.min.js}"></script>
	<script src="../../js/demo.js" th:src="@{/js/demo.js}"></script>
</body>

</html>