<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>EBS</title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="../../css/AdminLTE.min.css"
	th:href="@{/css/AdminLTE.min.css}">
<link rel="stylesheet" href="../../css/skins/_all-skins.min.css"
	th:href="@{/css/skins/_all-skins.min.css}">


<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.css"
	rel="stylesheet" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.js"></script>

<script type="text/javascript" th:src="@{/JS/myjs.js}"></script>



<style>
.form-control-sm {
	height: 30px;
	width: 120px;
}

.select {
	width: 130px;
	font-size: 12px;
}
</style>

</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<div>
			<div th:replace="fragments/header :: header">...</div>
			<div th:replace="fragments/sidebar :: sidebar">...</div>

			<div class="wrapper">

				<section class="content-wrapper">

					<!-- Content Header (Page header) -->
					<section class="content-header">
						<h4>
							Open Indent
							<!--<small>it all starts here</small>-->
						</h4>
						<ol class="breadcrumb">
							<li><a href="#"><i class="fa fa-dashboard"></i>Purchase</a></li>
							<li><a href="#">Material</a></li>
							<li class="active">Open Indent</li>
						</ol>
					</section>


					<!-- Main content -->
					<section class="content">

						<!-- form start -->
						<form role="form" th:action="@{/openindent/}" method="POST"
							th:object="${openIndent}">

							<!-- Default box -->
							<div class="box">



								<div class="row" style="margin-right:5px;">
									<!-- left column -->

									<div class="box-header with-border text-right">

										<button type="submit" id="submit"
											class="btn btn-primary btn-sm">
											<i class="fa fa-hdd-o" aria-hidden="true"></i> Submit
										</button>
										<button type="reset" value="reset"
											class="btn btn-secondary btn-sm">
											<i class="fa fa-refresh" aria-hidden="true"></i> Reset
										</button>

										<a th:href="@{/openindent/list}"
											class="btn btn-success btn-sm"> <i class="fa fa-list"
											aria-hidden="true"></i> View All
										</a>



									</div>

									<div class="col-md-12 shadow bg-white rounded"
										style="margin-top: 20px;">
										<!-- general form elements -->
										<div class="box box-primary">
											<input type="hidden" id="mess" name="mess"
												th:value="${message}">

											<div class="box-header with-border">

												<h6 class="box-title">Indent Detail</h6>
											</div>
											<!-- /.box-header -->




											<div class="box-body">

												<div class="form-group col-md-4">

													
														
													
													<label for="inputEmail4">Indent
														Number</label> <input type="text" class="form-control"
														id="inputEmail4" title="indent number"
														placeholder="Indent Number" th:field="*{indentNumber}"
														readonly>
												</div>
												<div class="form-group col-md-4">
													<label for="inputPassword4">Indent Date</label><label
														style="color: red">*</label> <input type="date"
														class="form-control" id="indentDate"
														placeholder="Indent Date" title="indent date"
														th:field="*{indentDate}" required>
												</div>




												<!-- <div class="form-group col-md-4">
													<label for="inputAddress">Employee Code</label> <input
														type="text" class="form-control" id="employeename"
														title="employee name" placeholder="Employee Name">
												</div> -->

												<div class="form-group col-md-4">
													<label class="form-label">Employee Name</label> <label
														style="color: red">*</label> <select class="form-control"
														title="employee name" id="employee" required
														onchange="indentGetEmployee()" th:field="*{employee}">
														<option value="">Select Employee</option>
														<option th:each="employee :  ${employeeList}"
															th:text="${employee.empName}"
															th:value=" ${employee.empCode}"></option>
													</select>
												</div>

												<div class="form-group col-md-4">
													<label for="inputAddress">Department Name</label> <select
														class="form-control" title="department name"
														id="departmentcode" th:field="*{deptCode}" readonly>
														<option value="">Select Department</option>
														<option th:each="department :  ${departmentList}"
															th:text="${department.deptName}"
															th:value=" ${department.deptCode}"></option>
													</select>
												</div>


												<div class="form-group col-md-4">
													<label class="form-label">Urgency</label> <select
														class="form-control" id="" title="urgency"
														th:field="*{urgency}">
														<option value="N" selected>Normal</option>
														<option value="M">Most Urgent</option>

														<option value="O">As On Date</option>
													</select>
												</div>

												<div class="form-group col-md-4">
													<label class="form-label">Purchase Type</label> <label
														style="color: red">*</label> <select class="form-control"
														id="" title="purchase type" th:field="*{idOrSo}" required>
														<option value="N">Non-Capex</option>
														<option value="C">Capex</option>

														<option value="P">Petty/Raw Material</option>
														<option value="O">Others</option>
													</select>
												</div>

												<div class="form-group col-md-4">
													<label for="inputAddress">Indent Type</label> <select
														class="form-control" id="" title="indent type"
														th:field="*{indentsStatus}">

														<option value="G" selected>General</option>


													</select>
												</div>
												<div class="form-group col-md-8">
													<label for="inputAddress">Remarks</label>
													<textarea class="form-control" id="inputAddress"
														placeholder="Remarks" th:field="*{remarks}"
														title="remarks"></textarea>
												</div>

											</div>
											<!-- /.box-body -->





											<div class="box">
												<div style="padding-left: 12px">
													<h5>Indent Item Detail</h5>
												</div>

												<div class="box-body"
													style="padding-left: 20px; padding-right: 25px">

													<div class="col-sm-12" style="text-align: right">

														<a id="add_row" class="fa fa-plus" aria-hidden="true"
															style="font-size: 24px; color: #001080"></a>&nbsp;&nbsp;&nbsp;
														<a id='delete_row' class="fa fa-trash"
															style="font-size: 24px; color: #399490fc"
															aria-hidden="true"></a>
													</div>


													<div class="table-responsive" style="margin-top: 40px">
														<div class="table table-striped display">
															<table id="example" aria-describedby="example1">

																<thead>
																	<tr>

																		<th scope="col" class="text-center">Item Code</th>
																		<th scope="col" class="text-center">Item
																			Description<span style="color: red">*</span>
																		</th>

																		<th scope="col" class="text-center">Indented Qty</th>

																		<th scope="col" class="text-center">Approved Qty</th>

																		<th scope="col" class="text-center">Qty.(In
																			Stock)</th>
																		<th scope="col" class="text-center">Qty to be
																			Procured</th>
																		<th scope="col" class="text-center">Pipeline Qty
																		</th>



																		<th scope="col" class="text-center">Currency Code</th>
																		<th scope="col" class="text-center">Item Rate</th>
																		<th scope="col" class="text-center">Units</th>
																		<th scope="col" class="text-center">Total value</th>
																		<th scope="col" class="text-center">Total
																			Value(INR)</th>

																		<th scope="col" class="text-center">Requisition
																			Date<span style="color: red">*</span>
																		</th>


																		<th scope="col" class="text-center">Indent
																			Purpose</th>
																	</tr>
																</thead>

																<tbody>
																	<tr id="addr0">

																		<td><input type="text" id="indItemDescription0"
																			title="item code"
																			class="form-control form-control-sm" readonly></td>



																		<!-- item description -->
																		<td><select
																			class="select form-control form-control-sm itemContainer0"
																			id="indItemCode0" title="item description"
																			name="opeIndentDetail[0].indItemCode"
																			onchange="selectItem()" required style="width: 250px">
																				<option value="">Select Item</option>
																				<option th:each="item :  ${itemList}"
																					th:text="${item.description}"
																					th:value=" ${item.itemCode}"></option>
																		</select></td>


																		<!-- indent qty -->

																		<td><input type="text"
																			class="form-control form-control-sm floatNumberField"
																			id="indQty0" min="18" title="ind qty"
																			name="opeIndentDetail[0].indQty"
																			style="text-align: right" onkeyup="indentQtyValue()"
																			onkeypress='return isNumberKey(event)'></td>


																		<!-- approved indent qty -->

																		<td><input type="text"
																			class="form-control form-control-sm floatNumberField"
																			id="approvedQty0" title="approved qty"
																			name="opeIndentDetail[0].approvedQty"
																			style="text-align: right" readonly></td>


																		<!-- qty in stock -->
																		<td><input type="text"
																			class="form-control form-control-sm" id="qtyInStock0"
																			title="qty" name="opeIndentDetail[0].qtyInStock"
																			style="text-align: right" readonly></td>

																		<!-- qt to procured -->

																		<td><input type="text"
																			class="form-control form-control-sm floatNumberField"
																			id="qtyProcured0" title="qty to procured"
																			name="opeIndentDetail[0].qtyProcured"
																			style="text-align: right" readonly></td>

																		<!-- pipeline indent qty  -->
																		<td><input type="text"
																			class="form-control form-control-sm floatNumberField"
																			id="pipelineIndQty0" title="pipline"
																			name="opeIndentDetail[0].pipelineQty"
																			style="text-align: right" readonly></td>





																		<!-- currency code -->

																		<td><select class="form-control form-control-sm"
																			title="currency code" id="indCurrencyCode0"
																			name="opeIndentDetail[0].currencyCode">

																				<option value="I">INR</option>
																				<option value="U">USD</option>

																		</select></td>

																		<!-- item rate -->

																		<td><input type="text"
																			class="form-control form-control-sm floatNumberField"
																			id="itemRate0" required title="item rate"
																			name="opeIndentDetail[0].itemRate"
																			style="text-align: right" onkeyup="indentItemRate()"
																			onkeypress='return isNumberKey(event)'></td>


																		<!-- units  -->
																		<td><input type="text" id="uomCode0"
																			class="form-control form-control-sm" title="units"
																			readonly></td>


																		<!-- total value inr-total value  -->
																		<td><input type="text"
																			class="form-control form-control-sm"
																			id="totalValueInr0" title="total value"
																			name="opeIndentDetail[0].totalValue"
																			style="text-align: right; background-color: #fafab9;"
																			readonly></td>

																		<!--total value - inr -->
																		<td><input type="text"
																			class="form-control form-control-sm floatNumberField"
																			id="totalValue0" required title="total value"
																			name="opeIndentDetail[0].totalValueInr"
																			style="text-align: right; background-color: #fafab9;"
																			readonly></td>


																		<!-- requisition date -->
																		<td><input type="date"
																			class="form-control form-control-sm" id="salaryTo"
																			style="width: 145px" title="requisition date"
																			name="opeIndentDetail[0].indReqDate" required></td>



																		<!-- indent purpose -->

																		<td><input type="text"
																			class="form-control form-control-sm" id="indPurpose0"
																			title="ind purpose"
																			name="opeIndentDetail[0].indPurpose"></td>


																	</tr>
																	<tr id='addr1' />

																	<tr>
																		<td></td>
																		<td></td>
																		<td></td>
																		<td></td>
																		<td></td>
																		<td></td>
																		<td></td>
																		<td></td>
																		<td></td>
																		<td></td>

																		<td><input type="text"
																			class="form-control form-control-sm" id="salaryTo"
																			title="requisition date"></td>
																		<td><input type="text"
																			class="form-control form-control-sm" id="salaryTo"
																			title="requisition date"></td>
																	</tr>

																</tbody>


															</table>
														</div>
													</div>

													<input type="hidden" id="hidden_field" th:value="${length}" />

												</div>
											</div>




											<!--2nd div -->
											<div class="box">
												<div style="padding-left: 12px;">
													<h5>Indent Status</h5>
												</div>

												<div class="box-body">

													<div class="form-row">
														<div class="form-row">



															<div class="form-group col-md-4">
																<!--  approvalStatus -->
																<label for="inputEmail4">Approval Status</label> <input
																	type="text" class="form-control" id="inputEmail4"
																	placeholder="Approval Status" title="approval status"
																	readonly>
															</div>



															<div class="form-group col-md-4">
																<label for="inputPassword4">Date of Approval</label> <input
																	type="date" class="form-control" id="inputPassword4"
																	placeholder="Date of Approval" title="date of approval"
																	th:field="*{approvalDate1}" readonly>
															</div>
															<div class="form-group col-md-4">
																<label for="inputPassword4">Approved By</label> <input
																	type="text" class="form-control" id="inputPassword4"
																	placeholder="Approved By" title="approved by" readonly>
															</div>

														</div>

													</div>

												</div>
												<!--end 2nd div -->





											</div>
											<!-- /.box -->





										</div>
										<!--end left column-->
									</div>

								</div>
						</form>
					</section>
				</section>
			</div>

		</div>
	</div>

	<div th:replace="fragments/footer :: footer">...</div>
	<!--   <section class="content">
        
        </section>-->



	<script>
		document.getElementById('indentDate').valueAsDate = new Date();

		var idIndex = 0;
		$(document)
				.ready(
						function() {
							console.log("open indent detail is ready!");
							var i = 1;

							$('#add_row')
									.click(
											function() {
												idIndex++;

												$('#addr' + i)
														.html(

																"<td><input type='text' readonly id='indItemDescription"+idIndex+"' title=''class='form-control form-control-sm'></td>"

																		+ "<td><select class='select form-control form-control-sm itemContainer"
																		+ idIndex
																		+ "' id='indItemCode"
																		+ idIndex
																		+ "' title='item Name'name='opeIndentDetail["
																		+ idIndex
																		+ "].indItemCode'required onchange='selectItem()'style='width:250px'></select></td>"

																		/*  ind qty */
																		+ "<td><input type='text'class='form-control form-control-sm floatNumberField' id='indQty"+idIndex+"'"
																		
																		+ " name='opeIndentDetail["+idIndex+"].indQty' style='text-align: right'  onkeyup='indentQtyValue()' step='.01' onkeypress='return isNumberKey(event)' oninput='roundTextBoxes()' placeholder='0.00' ></td>"

																		/* approved qty  */
																		+ "<td><input type='text' class='form-control form-control-sm' id='approvedQty"+idIndex+"' name='opeIndentDetail[" + idIndex + "].approvedQty' style='text-align: right'  readonly></td>"

																		/*  qty in stock  */

																		+ "<td><input type='text' class='form-control form-control-sm floatNumberField' id='qtyInStock"+idIndex+"' title=''  name='opeIndentDetail[" + idIndex + "].qtyInStock' style='text-align: right' readonly></td>"

																		/*  qty to be procured */
																		+ "<td><input type='text'class='form-control form-control-sm floatNumberField'id='qtyProcured"+idIndex+"' title=''name='opeIndentDetail[" + idIndex + "].qtyProcured' style='text-align: right'  readonly></td>"

																		/* pipeline qty  */
																		+ "<td><input type='text'class='form-control form-control-sm' id='pipelineIndQty"+idIndex+"' title=''  name='opeIndentDetail[" + idIndex + "].pipelineQty' style='text-align: right' readonly></td>"
																		/* currency code  */
																		+ "<td><select class='form-control form-control-sm' title='currency code id='indCurrencyCode0' name='opeIndentDetail[" + idIndex + "].currencyCode' ><option value='I'>INR</option><option value='U'>USD</option></select></td>" //currency code 
																		/*  item rate */
																		+ "<td><input type='text' class='form-control form-control-sm floatNumberField' id='itemRate"
																		+ idIndex
																		+ "' title='Technical Qualification' name='opeIndentDetail["
																		+ idIndex
																		+ "].itemRate' onkeyup='indentItemRate()' step='.01' style='text-align: right' oninput='roundTextBoxes()' onkeypress='return isNumberKey(event)'></td>"

																		/* units  */
																		+ "<td><input type='text' class='form-control form-control-sm' id='uomCode"+idIndex+"' readonly></td>" //units 

																		/*  total value  */
																		+ "<td><input type='text' class='form-control form-control-sm floatNumberField' id='totalValueInr"+idIndex+"'   style='text-align: right; background-color:#fafab9; ' name='opeIndentDetail[" + idIndex + "].totalValue'  readonly></td>"
																		/*  total value inr */
																		+ "<td><input type='text' class='form-control form-control-sm floatNumberField' id='totalValue"+idIndex+"'  name='opeIndentDetail[" + idIndex + "].totalValueInr' style='text-align: right; background-color:#fafab9; '  readonly></td>" //total value int
																		/*  requisition date */
																		+ "<td><input type='date' class='form-control form-control-sm' id='salaryTo' style='width: 150px' name='opeIndentDetail[" + idIndex + "].indReqDate' required></td>"
																		/* indent purpose  */
																		+ "<td><input type='text' class='form-control form-control-sm' id='indPurpose0' name='opeIndentDetail[" + idIndex + "].indPurpose'></td>");

												$('#example').append(
														'<tr id="addr'
																+ (i + 1)
																+ '"></tr>');
												ajaxForItemDescription();

												i++;
											});

							$("#delete_row").click(function() {
								if (i > 1) {
									$("#addr" + (i - 1)).html('');

									i--;
									idIndex--;
								}
							});

						});
	</script>


	<script>
		function ajaxForItemDescription() {

			$
					.ajax({
						type : "GET",
						url : "iteminfo/",

						success : function(data) {

							console.log("response data : " + data);
							$("#employeename").val(data.empName);

							var options = '<option value=""><strong>Select Item</strong></option>';
							$(data)
									.each(
											function(index, value) {

												console.log("item info : "
														+ value.itemCode)
												console.log("item info : "
														+ value.description)

												options += '<option value="' + value.itemCode + '">'
														+ value.description
														+ '</option>';

											});

							$('.itemContainer' + idIndex).html(options);

						},
						error : function() {
							console.log("Error");
						}
					});
		}
	</script>


	<script>
		function selectItem() {

			console.log("id index value is : " + idIndex)
			var itemCode = document.getElementById("indItemCode" + idIndex).value;

			console.log("Item code : " + itemCode);

			document.getElementById("indItemDescription" + idIndex).value = itemCode

			$
					.ajax({
						type : "GET",
						url : "itemdetail/" + itemCode,

						success : function(data) {

							document.getElementById("qtyProcured" + idIndex).value = 0;
							document.getElementById("approvedQty" + idIndex).value = 0;
							document.getElementById("totalValueInr" + idIndex).value = 0;
							document.getElementById("totalValue" + idIndex).value = 0;
							document.getElementById("pipelineIndQty" + idIndex).value = 0;
							//pipelineIndQty
							$("#indQty" + idIndex).val(0);
							$("#itemRate" + idIndex).val(0);
							$("#qtyInStock" + idIndex).val(0);

							console.log("response data : " + data);
							console.log("data value is : "
									+ data.item.description)

							$("#indItemDescription" + idIndex).val(
									data.item.itemCode);
							console.log("uom detail is : "
									+ data.item.uom.uomCode)
							$("#uomCode" + idIndex).val(data.item.uom.uomCode);

							$("#qtyInStock" + idIndex).val(
									data.itemOpening.currentStock)

						},
						error : function() {
							console.log("Error");
						}
					});

		}

		function indentQtyValue() {

			var indQty = document.getElementById("indQty" + idIndex).value;
			console.log("indent qty : " + indQty)

			document.getElementById("qtyProcured" + idIndex).value = indQty;
			document.getElementById("approvedQty" + idIndex).value = indQty;
		}

		function indentItemRate() {

			var itemRate = document.getElementById("itemRate" + idIndex).value;
			var indQty = document.getElementById("indQty" + idIndex).value;

			total = itemRate * indQty;
			console.log("total value is : " + total)

			document.getElementById("totalValueInr" + idIndex).value = total;
			document.getElementById("totalValue" + idIndex).value = total;
		}

		$(document).ready(function() {

			var message = document.getElementById('mess').value
			if (message != null && message !== "") {

				swal(message, "", "success", {
					button : "OK",
					hideClass : {
						popup : 'animate__animated animate__fadeOutUp'
					},
				});
			} else {
				console.log("ajax request : " + message);
			}

		});

		function indentGetEmployee() {

			console.log("select..");

			var empCode = document.getElementById("employee").value;
			console.log("emp code : " + empCode);

			$.ajax({
				type : "GET",
				url : "employeeinfo/" + empCode,

				success : function(data) {
					//$("#resultarea").text(data);
					console.log("response data : " + data);
					$("#employeename").val(data.empName);
					$("#departmentcode").val(data.department.deptCode)
					//$("#departmentname").val(data.department.deptName)
				},
				error : function() {
					console.log("Error");
				}
			});

		}
		
		
		
		 function isNumberKey(evt)
	       {
	          var charCode = (evt.which) ? evt.which : evt.keyCode;
	          if (charCode != 46 && charCode > 31 
	            && (charCode < 48 || charCode > 57))
	             return false;

	          return true;
	       }
		 
		 
	</script>


	<!-- for decimal only  -->
	<script type="text/javascript">
		$(document).ready(function() {
			$(".floatNumberField").change(function() {
				$(this).val(parseFloat($(this).val()).toFixed(2));
			});
		});
		
		function roundTextBoxes() {
			$(".floatNumberField").change(function() {
				$(this).val(parseFloat($(this).val()).toFixed(2));
			});
		}
		
	</script>


	<script>
		//let txt = $("#editDistName option:selected").text();
		//$("#employeename").val(data.empName);
	</script>

	<script src="../../js/jQuery-2.1.4.min.js"
		th:src="@{/js/jQuery-2.1.4.min.js}"></script>
	<script src="../../js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../../js/fastclick.min.js"
		th:src="@{/js/fastclick.min.js}"></script>
	<script src="../../js/app.min.js" th:src="@{/js/app.min.js}"></script>
	<script src="../../js/demo.js" th:src="@{/js/demo.js}"></script>
</body>

</html>