<!DOCTYPE html>
<html>

<head xmlns:th="http://www.thymeleaf.org">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>AdminLTE 2 | General Form Elements</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="../../css/AdminLTE.min.css" th:href="@{/css/AdminLTE.min.css}">
	<link rel="stylesheet" href="../../css/skins/_all-skins.min.css" th:href="@{/css/skins/_all-skins.min.css}">

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

	<style>
		.form-control-sm {
			height: 30px;
			width: 120px;

		}

		.select {
			width: 130px;
			font-size: 10px;
		}
	</style>

</head>

<body class="hold-transition skin-blue sidebar-mini" onload="againstPurchaseThrough()">
	<div class="wrapper">
		<div>
			<div th:replace="fragments/header :: header">...</div>
			<div th:replace="fragments/sidebar :: sidebar">...</div>

			<div class="wrapper">

				<section class="content-wrapper">

					<!-- Content Header (Page header) -->
					<section class="content-header">
						<h4>
							Purchase Order
							<!--<small>it all starts here</small>-->
						</h4>
						<ol class="breadcrumb">
							<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
							<li><a href="#">Examples</a></li>
							<li class="active">Blank page</li>
						</ol>
					</section>


					<!-- Main content -->
					<section class="content">

						<!-- Default box -->
						<div class="box">



							<div class="row">
								<!-- left column -->
								<div class="col-md-12">



									<div class="col-md-12 shadow bg-white rounded" style="margin-top: 20px;">
										<!-- general form elements -->
										<div class="box box-primary">
											<div class="box-header with-border">
												<!--<h3 class="box-title">Category Master</h3>-->
											</div><!-- /.box-header -->
											<!-- form start -->
											<form role="form">

												<div class="box">
													<h5 class="box-title">Purchase Order Info</h5>
													<div class="box-body">

														<div class="form-row">
															<div class="form-group col-md-3">
																<label for="inputEmail4">PO Number</label> <input
																	type="text" class="form-control" id="inputEmail4"
																	placeholder="po number">
															</div>
															<div class="form-group col-md-3">
																<label for="inputPassword4">PO Date</label> <input
																	type="date" class="form-control" id="inputPassword4"
																	placeholder="po date">
															</div>

														</div>

														<div class="form-row">
															<div class="form-group col-md-3">
																<label class="form-label">Gst</label> <label
																	style="color: red">*</label> <select
																	class="form-control" id="" title="urgency" required>
																	<option value="gst" selected>GST</option>
																	<option value="nongst">Non-GST</option>

																</select>
															</div>

															<div class="form-group col-md-3">
																<label for="inputAddress">Cancellation Status</label>
																<select class="form-control" id="" title="urgency"
																	required>
																	<option value="yes">Yes</option>
																	<option value="no" selected>No</option>

																</select>
															</div>

														</div><!-- /.box-body -->

													</div>
													<!--end box-1-->

													<!--box2-->

													<div class="box">
														<h5 class="box-title">Nature of Purchase</h5>
														<div class="box-body">
															<div class="form-group col-md-4">
																<label for="inputEmail4">Nature of
																	Purchase</label><select class="form-control" id=""
																	title="urgency" required>

																	<option value="yes">Capital</option>
																	<option value="non" selected>Non-Capital</option>
																</select>
															</div>
															<div class="form-group col-md-4">
																<label for="inputPassword4">Open PO</label> <select
																	class="form-control" id="" title="urgency" required>

																	<option value="yes" selected>Yes</option>
																	<option value="non">No</option>
																</select>
															</div>
															<div class="form-group col-md-4">
																<label for="inputPassword4">PO Type</label> <select
																	class="form-control" id="" title="urgency" required>

																	<option value="InterState" selected>Inter State
																	</option>
																	<option value="IntraState">Intra State</option>
																</select>
															</div>


															<div class="form-group col-md-4">
																<label for="inputPassword4">Purchase Through</label>
																<select class="form-control" id="purchaseThrough"
																	title="urgency" required
																	onchange="againstPurchaseThrough()">
																	<option value="quotation" selected>Quotation
																	</option>
																	<option value="indent">Indent</option>
																</select>
															</div>

															<div class="form-group col-md-4">
																<label for="inputAddress">Quotation Number</label>
																<select class="form-control" id="quotationNumber"
																	title="" onchange="quotationNumberInfo()" required>
																	<option value="">Select</option>
																	<option
																		th:each="quotationDetal :  ${lsitQuotationDetail}"
																		th:text="${quotationDetal.quotNo}"
																		th:value=" ${quotationDetal.quotNo}"></option>
																</select>
															</div>

															<div class="form-group col-md-4">
																<label for="inputAddress">Date</label> <input
																	type="date" class="form-control" id="quotationDate"
																	placeholder="cancelbutton status">
															</div>

														</div>
													</div>
													<!--end box-2-->

													<!--box-3-->
													<div class="box">
														<h5>Supplier Info</h5>
														<div class="box-body">

															<div class="form-group col-md-4">
																<label for="inputEmail4">Supplier</label>
																<select id="supplierId" class="form-control" required
																	title="supplier code" onchange="supplierInfo()">
																	<option value=" ">Select</option>
																	<option th:each="supplier :  ${listSupplier}"
																		th:text="${supplier.supplierName}"
																		th:value=" ${supplier.supplierId}">
																	</option>


																</select>
															</div>

															<div class="form-group col-md-4">
																<label for="inputPassword4">Supplier State</label>
																<input type="text" class="form-control"
																	id="supplierState" placeholder="supplier state">
															</div>

															<div class="form-group col-md-4">
																<label for="inputPassword4">Currency</label>

																<select id="currencyId" class="form-control" required
																	title="currency">
																	<option value=" ">Select</option>
																	<option th:each="currency :  ${listCurrency}"
																		th:text="${currency.currencyValue}"
																		th:value=" ${currency.currencyCode}">
																	</option>


																</select>
															</div>
														</div>
													</div>
													<!--end box-3-->

													<!--box-4-->
													<div class="box">
														<h5>Execution Detail</h5>
														<div class="box-body">

															<div class="form-group col-md-4">
																<label for="inputEmail4">Supply Date</label> <input
																	type="date" class="form-control" id="inputEmail4"
																	placeholder="supply date">
															</div>
															<div class="form-group col-md-4">
																<label for="inputPassword4">Delivery Date</label> <input
																	type="date" class="form-control" id="inputPassword4"
																	placeholder="po date">
															</div>

															<div class="form-group col-md-4">
																<label for="inputPassword4">Conversion Value</label>
																<input type="text" class="form-control"
																	id="inputPassword4" placeholder="gst">
															</div>

															<div class="form-group col-md-4">
																<label for="inputPassword4">Remarks</label> <input
																	type="text" class="form-control" id="inputPassword4"
																	placeholder="gst">
															</div>

															<div class="form-group col-md-4">
																<label for="inputAddress">Invoice Address</label> <input
																	type="text" class="form-control" id="inputAddress"
																	placeholder="Invoce Address">
															</div>
														</div>
													</div>
													<!--end box-4-->


													<!--detail box-->
													<div class="box">
														<div class="box-body">

															<input id="_cr" name="_cr" type="hidden" value="1">



															<div class="table-responsive">
																<table id="example" aria-describedby="example"
																	class="table table-striped display">
																	<thead>
																		<tr>

																			<th scope="col" class="text-center"
																				style="width: 130px;">Type</th>
																			<th scope="col" class="text-center"
																				style="width: 100px;">Indent
																				Number</th>
																			<th scope="col" class="text-center"
																				style="width: 90px;">Indent
																				Date</th>
																			<th scope="col" class="text-center"
																				style="width: 90px;">Item
																				Number</th>
																			<th scope="col" class="text-center"
																				style="width: 90px;">Item
																				Rate</th>
																			<th scope="col" class="text-center"
																				style="width: 10px;">Effective
																				Date</th>
																			<th scope="col" class="text-center"
																				style="width: 120px;">Qty
																				Order</th>
																			<th scope="col" class="text-center"
																				style="width: 90px;">Status</th>
																			<th scope="col" class="text-center"
																				style="width: 90px;">Total
																				Item Cost</th>
																			<th scope="col" class="text-center"
																				style="width: 120px;">otal
																				Item Cost(INR)</th>
																			<th scope="col" class="text-center"
																				style="width: 90px;">Remarks</th>
																			<th scope="col" class="text-center"
																				style="width: 90px;">Rate
																				History</th>
																			<th scope="col" class="text-center"
																				style="width: 90px;">Tax
																				Detail</th>

																		</tr>
																	</thead>

																	<tbody>
																		<tr id="addr0">

																			<td><select id="supplierId"
																					class="form-control form-control-sm select"
																					required title="supplier code"
																					onchange="supplierInfo()">
																					<option value="">Select</option>



																				</select></td>

																			<td><select class="form-control indentContainer form-control-sm select"
																					id="indentNumberPo"
																					title="Department Name" onchange='getIndentDetailPo()' required>
																					<option value="">Select Indent
																					</option>
																					
																				</select></td>
																				
																				<td><input type="text"
																					class="form-control form-control-sm"
																					id="indentDatePo"
																					title="supplier State"></td>


																			<td><select id="itemPo"
																					class="form-control form-control-sm select itemContainerPo"
																					required title="supplier code" onchange="getItemDetailForPo()"
																					>
																					<option value="">Select</option></td>

																			
																			<td><input type="text"
																					class="form-control form-control-sm"
																					id="contactPerson"
																					title="contact person"></td>

																			<td><input type="text"
																					class="form-control form-control-sm"
																					id="email">
																			</td>

																			<td><input type="text"
																					class="form-control form-control-sm"
																					title="Accademic qualification">
																			</td>

																			<td><input type="text"
																					class="form-control form-control-sm"
																					id="technicalQualification"
																					title="Technical Qualification">
																			</td>
																			<td><input type="text"
																					class="form-control form-control-sm"
																					id="supplierState"
																					title="supplier State"></td>

																			<td><input type="text"
																					class="form-control form-control-sm"
																					id="contactPerson"
																					title="contact person"></td>

																			<td><input type="text"
																					class="form-control form-control-sm"
																					id="email">
																			</td>

																			<td><input type="text"
																					class="form-control form-control-sm"
																					title="Accademic qualification">
																			</td>

																			<td><input type="text"
																					class="form-control form-control-sm"
																					id="technicalQualification"
																					title="Technical Qualification">
																			</td>




																		</tr>
																		<tr id='addr1' />

																	</tbody>


																</table>
															</div>

															<input type="hidden" id="hidden_field"
																th:value="${length}" />
														</div>
													</div>


													<!--end detail box-->


													<!--final div -->


													<div class="box">
														<h5>Total value</h5>
														<div class="box-body">

															<div class="form-group col-md-4">
																<label for="inputEmail4">Total Cost(Excluding
																	tax)</label> <input type="number"
																	class="form-control" id="inputEmail4"
																	placeholder="supplier">
															</div>
															<div class="form-group col-md-4">
																<label for="inputPassword4">Total Cost(Including
																	tax)</label> <input type="number"
																	class="form-control" id="inputPassword4"
																	placeholder="supplier state">
															</div>


														</div>
													</div>
													<!--end final div-->

													<div class="box-footer" style="margin: 10px">
														<input type="submit" value="Submit" class="btn btn-primary" />
														<input type="reset" value="Reset" class="btn btn-danger" />
													</div>


											</form>


										</div><!-- /.box -->
										<div style="width: parent; text-align-last: right; margin:8px">
											<!--<a th:href="@{/openindent/list}">view open indent list</a>-->
										</div>
									</div>



								</div>

							</div>

						</div>
					</section>
				</section>
			</div>

			<div th:replace="fragments/footer :: footer">...</div>


			<script>

				$(document).ready(function () {


				});
			</script>


			<script>
				function againstPurchaseThrough() {

					let purchaseThrough = document.getElementById("purchaseThrough").value;
					console.log("purchase through value : " + purchaseThrough);

					//do all value clear on click selection 
					
					$('#quotationDate').val('');

					if (purchaseThrough == "quotation") {
						console.log("quotation ")
						// enable field
						$("#quotationNumber").prop('disabled', false);
						$("#quotationDate").prop('disabled', false);

						
						
						
						//get indent detail against quotation detail 
						
						//getIndentAgainstQuotationDetail()

					} else {
						console.log(" is not")
						//disabled and do blank 
						$("#quotationNumber").prop('disabled', true);
						$("#quotationDate").prop('disabled', true);
						$('#quotationNumber').val('');
						$('#quotationDate').val('');
						
						
						
						//call api in case of purchase through is indent
						
						indentDetailInCaseOfIndent();
						
						

						


					}


				}
			</script>
			<!--   <section class="content">
        
        
        </section>-->

			<script src="../../js/jQuery-2.1.4.min.js" th:src="@{/js/myjs.js}"></script>


			<script src="../../js/jQuery-2.1.4.min.js" th:src="@{/js/jQuery-2.1.4.min.js}"></script>
			<script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
			<script src="../../js/fastclick.min.js" th:src="@{/js/fastclick.min.js}"></script>
			<script src="../../js/app.min.js" th:src="@{/js/app.min.js}"></script>
			<script src="../../js/demo.js" th:src="@{/js/demo.js}"></script>
</body>

</html>