<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>EBS</title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="../../css/AdminLTE.min.css"
	th:href="@{/css/AdminLTE.min.css}">
<link rel="stylesheet" href="../../css/skins/_all-skins.min.css"
	th:href="@{/css/skins/_all-skins.min.css}">


<style>
/* Style The Dropdown Button */
.dropbtn {
	background-color: #4b7df2;
	color: white;
	padding: 8px;
	font-size: 12px;
	border: none;
	cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}
</style>


</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<div>
			<div th:replace="fragments/header :: header">...</div>
			<div th:replace="fragments/sidebar :: sidebar">...</div>

			<div class="wrapper">

				<section class="content-wrapper">


					<div class="row">
						<!-- left column -->
						<div class="col-md-12">



							<div class="col-md-12" style="margin-top: 20px;">

								<div class="box box-primary">
									<div class="box-header with-border">
										<h3 class="box-title">Purchase Order Approval</h3>
									</div>
									<!-- form start -->
									<form role="form">
										<div class="box-body">
											<div class="table-responsive-sm">
												<table class="table table-striped" style="width: 100%">
													<thead>
														<tr>
															<th scope="col">#</th>
															<th scope="col">PO Number</th>
															<th scope="col">PO Date</th>



															<th scope="col" class="text-center">Approval Status</th>



															<th scope="col">Action</th>
														</tr>
													</thead>
													<tbody>


														<tr th:each="po,iter  : ${listPurchaseOrder}">
															<td th:text="${iter.index}">1</td>
															<td th:text="${po.poNumber}">Garrett Winters</td>
															<td th:text="${#dates.format(po.poDate, 'dd-MMM-yyyy')}">Garrett
																Winters</td>




															<td class="text-center"
																th:if="${po.approvalStatus == 'P'}">

																<div class="dropdown">
																	<button class="dropbtn">&nbsp&nbspPending&nbsp&nbsp</button>
																	<div class="dropdown-content">
																		<a class="dropdown-item"
																			th:href="@{/poapproval/approve/{id}/{status}/(id=${po.poNumber},status=${'Y'})}">Approved</a>
																		<a class="dropdown-item"
																			th:href="@{/poapproval/approve/{id}/{status}/(id=${po.poNumber},status=${'N'})}">Cancel</a>
																	</div>
																</div>





															</td>

															<td class="text-center"
																th:if="${po.approvalStatus == 'Y'}">


																<div class="dropdown">
																	<button class="dropbtn">&nbspApproved&nbsp</button>
																	<div class="dropdown-content">
																		<a class="dropdown-item"
																			th:href="@{/poapproval/approve/{id}/{status}/(id=${po.poNumber},status=${'Y'})}">Approved</a>
																		<a class="dropdown-item"
																			th:href="@{/poapproval/approve/{id}/{status}/(id=${po.poNumber},status=${'N'})}">Cancel</a>
																	</div>
																</div>
															</td>

															<td class="text-center"
																th:if="${po.approvalStatus == 'N'}">
																<!-- <div class="dropdown show">
																	<a class="btn btn-primary dropdown-toggle" href="#"
																		role="button" id="dropdownMenuLink"
																		data-toggle="dropdown" aria-haspopup="true"
																		aria-expanded="false"> Cancelled </a>

																	<div class="dropdown-menu"
																		aria-labelledby="dropdownMenuLink">
																		<a class="dropdown-item"
																			th:href="@{/poapproval/approve/{id}/{status}/(id=${po.poNumber},status=${'Y'})}">Approved</a>
																		<a class="dropdown-item"
																			th:href="@{/poapproval/approve/{id}/{status}/(id=${po.poNumber},status=${'N'})}">Cancel</a>

																	</div>
																</div> -->



																<div class="dropdown">
																	<button class="dropbtn">Cancelled</button>
																	<div class="dropdown-content">
																		<a class="dropdown-item"
																			th:href="@{/poapproval/approve/{id}/{status}/(id=${po.poNumber},status=${'Y'})}">Approved</a>
																		<a class="dropdown-item"
																			th:href="@{/poapproval/approve/{id}/{status}/(id=${po.poNumber},status=${'N'})}">Cancel</a>
																	</div>
																</div>

															</td>

															<!--<td class="text-center"
																th:if="${indent.approvalStatus1 == 'Y' and indent.approvalStatus2 == 'Y' and indent.approvalStatus3 == 'Y'}">
																<div class="dropdown show">
																	<a class="btn btn-primary dropdown-toggle" href="#"
																		role="button" id="dropdownMenuLink"
																		data-toggle="dropdown" aria-haspopup="true"
																		aria-expanded="false">
																		&nbsp&nbsp&nbsp&nbsp&nbspApproved&nbsp&nbsp&nbsp&nbsp&nbsp
																	</a>


																</div>
															</td>-->


															<!--<a
														th:href="@{/openindent/approve/{id}(id=${indent.indentNumber})}">view</a>-->


															<td><span> <a
																	th:href="@{/purchaseorder/view/{id}(id=${po.poNumber})}">view</a></span>
															</td>


														</tr>


													</tbody>
												</table>
											</div>
										</div>

										<div class="box-footer">
											<input type="submit" value="Back"
												onclick='window.history.back();' class="btn btn-link" />
										</div>

									</form>
								</div>
							</div>



						</div>

					</div>
				</section>
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer">...</div>
	<!--   <section class="content">
        
        </section>-->


	<script src="../../js/jQuery-2.1.4.min.js"
		th:src="@{/js/jQuery-2.1.4.min.js}"></script>
	<script src="../../js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../../js/fastclick.min.js"
		th:src="@{/js/fastclick.min.js}"></script>
	<script src="../../js/app.min.js" th:src="@{/js/app.min.js}"></script>
	<script src="../../js/demo.js" th:src="@{/js/demo.js}"></script>

</body>

</html>