<!DOCTYPE html>


<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layouts/main-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{:: #home-header},
                                                ~{:: #home-nav},
                                                ~{:: #home-main-content},  
                                                ~{:: #home-footer}
                                               )}">

<head>
<title>Title of Home Page</title>

<th:block id="home-static-resources">

	
	

</th:block>

</head>
<body>

	<div id="home-header">ERP WhareHouse</div>

	<div id="home-nav"
		th:replace="~{fragments/app-fragments :: nav-default}">Home Nav
	</div>





	<div id="home-main-content">

		<h5 style="color: #2e7ef2;">Request for Quotation Master</h5>


		<form th:action="@{/requestquotaion/}" method="POST">
			<div class="form-border">

				<div class="row">
					<div class="form-group col-md-6">
						<label for="inputEmail4">Request for Quotation Num</label> <input
							type="text" class="form-control" placeholder="quotation number">
					</div>
					<div class="form-group col-md-6">
						<label for="inputPassword4">Request for Quotation Type</label> <input
							type="text" class="form-control" placeholder="quotation type">
					</div>

				</div>

				<div class="row">
					<div class="form-group col-md-6">
						<label for="inputEmail4">Request for Quotation Date</label> <input
							type="text" class="form-control" placeholder="quotation date">
					</div>



				</div>

				<!-- 	<div class="row" style="margin: 10px">
					<input type="submit" value="Submit" class="btn btn-primary" />
					<input type="reset" value="Reset" class="btn btn-danger" />
				</div> -->

			</div>



			<!-- request for quotation detail -->

			<h5 style="color: #2e7ef2;">Request for Quotation Detail</h5>
			<div class="card form-border">
				<div class="card-header"></div>
				<div class="card-body">

					<input id="_cr" name="_cr" type="hidden" value="1">

					<div>

						<div style="text-align: right">




							<a id="add_row" class="fa fa-plus" aria-hidden="true"
								style="font-size: 22px; color: #001080"></a> <a id='delete_row'
								class="fa fa-trash" style="font-size: 22px; color: #399490fc"
								aria-hidden="true"></a>
						</div>

						<div class="table-responsive">
							<table id="example" aria-describedby="example"
								class="table table-striped display" style="width: 100%">
								<thead>
									<tr>
										<th scope="col" class="text-center" style="width: 90px;">Indent
											Number</th>
										<th scope="col" class="text-center" style="width: 130px;">Indent
											Date</th>
										<th scope="col" class="text-center" style="width: 100px;">Item Name</th>
										<th scope="col" class="text-center" style="width: 90px;">UOM</th>
										<th scope="col" class="text-center" style="width: 90px;">City</th>
										<th scope="col" class="text-center" style="width: 90px;">Required Date</th>
										<th scope="col" class="text-center" style="width: 10px;">Item Specification</th>
										<th scope="col" class="text-center" style="width: 120px;">Term and Conditions</th>
										<th scope="col" class="text-center" style="width: 90px;">Remarks</th>
										


									</tr>
								</thead>
								<tbody>
									<tr id="addr0">


										<td><input type="text" style="width: 90px;"
											id="desigCode0" readonly title="Designation code" required></td>

										<td><input type="date" style="width: 90px;"
											 title="indent date" required></td>



										<td><select id="location" style="width: 100px;"
											title="Location" required>
												<option value=" ">Select Item Name</option>
												<option value="Court">Court</option>
												<option value="Department">Department</option>
										</select></td>

										<td><input type="text" style="width: 90px;"
											id="ageFrom" title="uom" required></td>

										<td><input type="text" style="width: 90px;"
											id="ageFrom"  title="Age from" required></td>

										<td><input type="date" max="45" style="width: 90px;"
											id="ageTo" required></td>

										<td><input type="text" style="width: 120px;"
											id="accademicQualificatio" required
											title="Accademic qualification"></td>

										<td><input type="text" style="width: 120px;"
											id="technicalQualification" required
											title="Technical Qualification"></td>

										<td><input type="text" style="width: 90px;"
											id="expMinMonth" required title="minimum experience"></td>

										


									</tr>
									<tr id='addr1' />

								</tbody>

							</table>
						</div>
					</div>
					<input type="hidden" id="hidden_field" th:value="${length}" />
				</div>

			</div>



			<!-- end request for quotationdetail -->


			<div style="height: 10px"></div>
			<div>
 <button type="button" onclick="fun">click</button>
</div>
			
			<h5 style="color: #2e7ef2;">Supplier Information</h5>
			<!-- supplier information detail -->

			<div class="card form-border">
				<div class="card-header"></div>
				<div class="card-body">

					<input id="_cr" name="_cr" type="hidden" value="1">

					<div>

						<div style="text-align: right">




							<a id="add_row" class="fa fa-plus" aria-hidden="true"
								style="font-size: 22px; color: #001080"></a> <a id='delete_row'
								class="fa fa-trash" style="font-size: 22px; color: #399490fc"
								aria-hidden="true"></a>
						</div>

						<div class="table-responsive">
							<table id="example" aria-describedby="example"
								class="table table-striped display" style="width: 100%">
								<thead>
									<tr>
										<th scope="col" class="text-center" style="width: 90px;">Indent
											Number</th>
										<th scope="col" class="text-center" style="width: 130px;">Indent
											Date</th>
										<th scope="col" class="text-center" style="width: 100px;">Employee
											Code</th>
										<th scope="col" class="text-center" style="width: 90px;">Employee
											Name</th>
										<th scope="col" class="text-center" style="width: 90px;">Item
											Code</th>
										<th scope="col" class="text-center" style="width: 90px;">Description</th>
										<th scope="col" class="text-center" style="width: 10px;">UOM</th>
										<th scope="col" class="text-center" style="width: 120px;">Rate</th>
										<th scope="col" class="text-center" style="width: 90px;">Negotiable
											Cost</th>
										<th scope="col" class="text-center" style="width: 90px;">Qty</th>
										<th scope="col" class="text-center" style="width: 120px;">Total
											INR Value</th>
										<th scope="col" class="text-center" style="width: 90px;">Approval
											Status</th>


									</tr>
								</thead>
								<tbody>
									<tr id="addr0">


										<td><input type="text" style="width: 90px;"
											id="desigCode0" readonly title="Designation code" required></td>

										<td><select id="designationName0" style="width: 130px;"
											required onchange="selectDesignation()"
											title="Designation name">
												<option value=" ">Select</option>


										</select></td>



										<td><select id="location" style="width: 100px;"
											title="Location" required>
												<option value=" ">Select</option>
												<option value="Court">Court</option>
												<option value="Department">Department</option>
										</select></td>

										<td><select id="sex" style="width: 90px;" required>
												<option value=" ">Select</option>
												<option value="Male">Male</option>
												<option value="Female">Female</option>
										</select></td>

										<td><input type="number" style="width: 90px;"
											id="ageFrom" min="18" title="Age from" required></td>

										<td><input type="number" max="45" style="width: 90px;"
											id="ageTo" required></td>

										<td><input type="text" style="width: 120px;"
											id="accademicQualificatio" required
											title="Accademic qualification"></td>

										<td><input type="text" style="width: 120px;"
											id="technicalQualification" required
											title="Technical Qualification"></td>

										<td><input type="number" style="width: 90px;"
											id="expMinMonth" required title="minimum experience"></td>

										<td><input type="number" style="width: 90px;"
											id="expMaxMonth" required title="max experience"></td>

										<td><select id="vacancyType" style="width: 120px;"
											required>
												<option value=" ">Select</option>
												<option value="Fresher">Fresher</option>
												<option value="Experience">Experience</option>
										</select></td>

										<td><input type="number" style="width: 90px;"
											id="totalvacancy" required title="Total vacancy"></td>


									</tr>
									<tr id='addr1' />

								</tbody>

							</table>
						</div>
					</div>
					<input type="hidden" id="hidden_field" th:value="${length}" />
				</div>

			</div>

			<!-- end supplier information detail -->
		</form>

		<div class="row text-right m-10">
			<a th:href="@{/requestquotation/list}">view state list</a>
		</div>
	</div>





<script>


$( document ).ready(function() {

	alert("testing..")
    console.log( "ready!" );
});



function fun(){

alert("testing")
console.log("testing java script")
}
</script>






	<script>
		//add row 

idIndex=0;
		$(document)
				.ready(
						function() {
							console.log("click function...");
							var i = 1;

							console.log("idINdexin add buttton function"
									+ idIndex);
							$("#add_row")
									.click(
											function() {
												idIndex++;
												$('#addr' + i)
														.html(
																"<td><input type='text' style='width: 90px;'id='desigCode"+idIndex+"'name='employeRequisitionDetail["+i+"].designation.desgCode' required></td>"
																		+

																		"<td><select style='width: 130px;' id='designationName"
																		+ idIndex
																		+ "'name='employeRequisitionDetail["
																		+ i
																		+ "].designation.desgName'onchange='selectDesignation()' required><option value=''>Select</option></select></td>"
																		+ "<td><select id='location'name='employeRequisitionDetail["+i+"].location' required><option value=''>Select</option><option value='Court'>Court</option><option value='Department'>Department</option></select></td>"
																		+ "<td><select style='width: 90px;' id='sex'name='employeRequisitionDetail["+i+"].sex' required><option value=''>Select</option><option value='Male'>Male</option><option value='Female'>Female</option></select></td>"
																		+ "<td><input type='text' style='width: 90px;'id='ageFrom'name='employeRequisitionDetail["+i+"].ageFrom' required></td>"
																		+ " </td><td><input type='text' style='width: 90px;'id='desigCode'name='employeRequisitionDetail["+i+"].ageTo' required></td>"
																		+

																		"<td><input type='text' style='width: 120px;'id='acadQuali'name='employeRequisitionDetail["+i+"].acadQuali' required></td>"
																		+ "<td><input type='text' style='width: 120px;'id='techQuali'name='employeRequisitionDetail["+i+"].techQuali' required></td>"
																		+ "<td><input type='text' style='width: 90px;'id='minExperience'name='employeRequisitionDetail["+i+"].minExperience' required></td>"
																		+ "<td><input type='text' style='width: 90px;'id='maxExpierence'name='employeRequisitionDetail["+i+"].maxExperience' required></td>"
																		+ "<td><select style='width: 120px;id='vacanncyType' name='employeRequisitionDetail["+i+"].vacanncyType' required><option value=''>Select</option><option value='Fresher'>Fresher</option><option value='Experience'>Experience</option></select></td>"
																		+ "<td><input type='text' style='width: 90px;'id='totalVacancy'name='employeRequisitionDetail["+i+"].totalvacancy' required></td>"
																		+ "<td><input type='text' style='width: 120px;'id='salaryFrom'name='employeRequisitionDetail["+i+"].salaryFrom' required></td>"
																		+ "<td><input type='text' style='width: 120px;'id='salaryTo'name='employeRequisitionDetail["+i+"].salaryTo' required></td>"
																		+ "<td><input type='text' style='width: 120px;'id='remarks'name='employeRequisitionDetail["+i+"].remarks' required></td>");

												$('#example').append(
														'<tr id="addr'
																+ (i + 1)
																+ '"></tr>');
												$('#_cr').val(i + 1);
												i++;

												changeDepartment();

											});

							$("#delete_row").click(function() {
								if (i > 1) {
									$("#addr" + (i - 1)).html('');
									$('#_cr').val(i - 1);
									i--;
									idIndex--;
								}
							});

						});
	</script>


</body>
</html>