<!DOCTYPE html>


<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/main-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{:: #home-header},
                                                ~{:: #home-nav},
                                                ~{:: #home-main-content},  
                                                ~{:: #home-footer}
                                               )}">

<head>




	<title>Title of Home Page</title>

	<th:block id="home-static-resources">

		<style>
			.form-control-sm {
				height: 30px;
				width: 120px;

			}

			.select {
				width: 130px;
				font-size: 10px;
			}
		</style>
	</th:block>




</head>

<body>

	<div id="home-header">ERP WhareHouse</div>

	<div id="home-nav" th:replace="~{fragments/app-fragments :: nav-default}">Home Nav
	</div>





	<div id="home-main-content">

		<h5 style="color: #2e7ef2;">Request for Quotation Master</h5>


		<form th:action="@{/requestquotaion/}" method="POST" th:object="${rFQuotation}">
			<div class="form-border">

				<div class="row">
					<div class="form-group col-md-6">
						<label for="inputEmail4">Request for Quotation Num</label> <input type="text"
							class="form-control" placeholder="quotation number" th:field="*{rfqNo}">
					</div>
					<div class="form-group col-md-6">
						<label class="form-label">Request For Quotation Type</label> <label style="color: red">*</label>
						<select class="form-control" id="" title="urgency" th:field="*{rfqType}" required>
							<option value="">Select</option>
							<option value="indent">Indent</option>
							<option value="withoutIndent">without Indent</option>

						</select>
					</div>

				</div>

				<div class="row">
					<div class="form-group col-md-6">
						<label for="inputEmail4">Request for Quotation Date</label> <input type="date"
							class="form-control" placeholder="quotation date" th:field="*{rfqDate}">
					</div>



				</div>

				<!-- 	<div class="row" style="margin: 10px">
					<input type="submit" value="Submit" class="btn btn-primary" />
					<input type="reset" value="Reset" class="btn btn-danger" />
				</div> -->

			</div>



			<!-- request for quotation detail -->

			<h5 style="color: #2e7ef2;">Request for Quotation Detail</h5>
			<div class="card form-border">
				<div class="card-header"></div>
				<div class="card-body">

					<input id="_cr" name="_cr" type="hidden" value="1">

					<div>

						<div style="text-align: right">




							<a id="add_row" class="fa fa-plus" aria-hidden="true"
								style="font-size: 22px; color: #001080"></a> <a id='delete_row' class="fa fa-trash"
								style="font-size: 22px; color: #399490fc" aria-hidden="true"></a>
						</div>

						<div class="table-responsive">
							<table id="example" aria-describedby="example" class="table table-striped display"
								style="width: 100%">
								<thead>
									<tr>
										<th scope="col" class="text-center">Indent
											Number</th>
										<th scope="col" class="text-center">Indent
											Date</th>
										<th scope="col" class="text-center">Item
											Name</th>
										<th scope="col" class="text-center">UOM</th>
										<th scope="col" class="text-center">City</th>
										<th scope="col" class="text-center">Required
											Date</th>
										<th scope="col" class="text-center">Item
											Specification</th>
										<th scope="col" class="text-center">Term
											and Conditions</th>
										<th scope="col" class="text-center">Remarks</th>



									</tr>
								</thead>
								<tbody>
									<tr id="addr0">


										<td><select class="select form-control form-control-sm" id="location"
												title="Location" required>
												<option value=" ">Select Indent Number</option>
												<option th:each="indent :  ${aprovedOpenIndentList}"
													th:text="${indent.indentNumber}"
													th:value=" ${indent.indentNumber}"></option>
											</select>
											</select></td>

										<td><input type="date" style="font-size: 0.95rem" title="indent date"
												class="form-control form-control-sm" required>
										</td>



										<td><select class="form-control form-control-sm select" id="location"
												title="Location" required>
												<option value=" ">Select Item Name</option>
												<option value="Court">Court</option>
												<option value="Department">Department</option>
											</select></td>

										<td><input type="text" title="uom" class="form-control form-control-sm">
										</td>

										<td><input type="text" title="Age from" class="form-control form-control-sm">
										</td>

										<td><input type="date" style="font-size: 0.95rem"
												class="form-control form-control-sm" required></td>

										<td><input type="text" class="form-control form-control-sm" required title="">
										</td>

										<td><input type="text" class="form-control form-control-sm" required title="">
										</td>

										<td><input type="text" class="form-control form-control-sm" required title="">
										</td>




									</tr>
									<tr id='addr1' />

								</tbody>

							</table>
						</div>
					</div>
					<input type="hidden" id="hidden_field" th:value="${length}" />
				</div>

			</div>



			<!-- end request for quotationdetail -->


			<div style="height: 10px"></div>



			<h5 style="color: #2e7ef2;">Supplier Information</h5>
			<!-- supplier information detail -->

			<div class="card form-border">
				<div class="card-header"></div>
				<div class="card-body">

					<input id="_cr" name="_cr" type="hidden" value="1">

					<div>

						<div style="text-align: right">




							<a id="add_row" class="fa fa-plus" aria-hidden="true"
								style="font-size: 22px; color: #001080"></a> <a id='delete_row' class="fa fa-trash"
								style="font-size: 22px; color: #399490fc" aria-hidden="true"></a>
						</div>

						<div class="table-responsive">
							<table id="example" aria-describedby="example" class="table table-striped display"
								style="width: 100%">
								<thead>
									<tr>
										<th scope="col" class="text-center">Supplier Name</th>
										<th scope="col" class="text-center">Supplier Address</th>
										<th scope="col" class="text-center">Supplier City</th>
										<th scope="col" class="text-center">Supplier State</th>
										<th scope="col" class="text-center">Contact Person</th>
										<th scope="col" class="text-center">Email</th>
										<th scope="col" class="text-center">Phone Number</th>
										<th scope="col" class="text-center">fax Number</th>



									</tr>
								</thead>
								<tbody>
									<tr id="addr0">

										<td><select id="designationName0" class="form-control form-control-sm select"
												required onchange="selectDesignation()" title="Designation name">
												<option value=" ">Select</option>


											</select></td>

										<td><input type="text" class="form-control form-control-sm" id="desigCode0"
												title="Designation code"></td>

										<td><input type="text" class="form-control form-control-sm" id="desigCode0"
												title="Designation code"></td>

										<td><input type="text" class="form-control form-control-sm" id="desigCode0"
												title="Designation code"></td>

										<td><input type="text" class="form-control form-control-sm" id="ageFrom"
												min="18" title="Age from"></td>

										<td><input type="text" max="45" class="form-control form-control-sm" id="ageTo">
										</td>

										<td><input type="text" class="form-control form-control-sm"
												id="accademicQualificatio" title="Accademic qualification">
										</td>

										<td><input type="text" class="form-control form-control-sm"
												id="technicalQualification" title="Technical Qualification">
										</td>




									</tr>
									<tr id='addr1' />

								</tbody>

							</table>
						</div>
					</div>
					<input type="hidden" id="hidden_field" th:value="${length}" />
				</div>

			</div>

			<!-- end supplier information detail -->
		</form>




		<div class="row text-right m-10">
			<a th:href="@{/requestquotation/list}">view Request for Quotaion list</a>
		</div>
	</div>












	<script>
		$(function () {
			console.log("ready!");
		});



		function fun() {

			console.log("my function running...")
		}


	</script>



</body>


</html>