<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>EBS</title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="../../css/AdminLTE.min.css"
	th:href="@{/css/AdminLTE.min.css}">
<link rel="stylesheet" href="../../css/skins/_all-skins.min.css"
	th:href="@{/css/skins/_all-skins.min.css}">
<script type="text/javascript" th:src="@{/JS/myjs.js}"></script>


<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>


<style>
.form-control-sm {
	height: 30px;
	width: 120px;
	font-size: 11px;
}

.select {
	width: 130px;
	font-size: 11px;
}
</style>


</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<div>
			<div th:replace="fragments/header :: header">...</div>
			<div th:replace="fragments/sidebar :: sidebar">...</div>

			<div class="wrapper">

				<section class="content-wrapper">

					<!-- Content Header (Page header) -->
					<section class="content-header">
						<h4>
							Request for Quotation Master
							<!--<small>it all starts here</small>-->
						</h4>
						<ol class="breadcrumb">
							<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
							<li><a href="#">Examples</a></li>
							<li class="active">Blank page</li>
						</ol>
					</section>


					<!-- Main content -->
					<section class="content">

						<!-- Default box -->
						<div class="box">



							<div class="row">
								<!-- left column -->
								<div class="col-md-12">



									<div class="col-md-12 shadow bg-white rounded"
										style="margin-top: 20px;">
										<!-- general form elements -->
										<div class="box box-primary">
											<div class="box-header with-border">
												<!--<h3 class="box-title">Category Master</h3>-->
											</div>
											<!-- /.box-header -->
											<!-- form start -->
											<h5>Request for Quotation Detail</h5>


											<form role="form" th:action="@{/requestquotation/}"
												method="POST" th:object="${rFQuotation}">
												<div class="box-body">

													<div class="form-group col-md-4">
														<label for="inputEmail4">Request for Quotation No</label>
														<input type="text" class="form-control"
															placeholder="Quotation Number" title="quotation number"
															th:field="*{rfqNo}">
													</div>
													<div class="form-group col-md-4">
														<label class="form-label">Request For Quotation
															Type</label> <label style="color: red">*</label> <select
															class="form-control" id="" title="request for quotation"
															th:field="*{rfqType}" required>

															<option value="I" selected>Indent</option>
															<option value="W">without Indent</option>

														</select>
													</div>

													<div class="form-group col-md-4">
														<label for="inputEmail4">Request for Quotation
															Date</label> <input type="date" class="form-control"
															title="quotation date" th:field="*{rfqDate}"
															id="requestForQuotationDate">
													</div>

												</div>
												<!-- /.box-body -->


												<div class="box">

													<h5>Indent Detail</h5>

													<div class="box-body">


														<input id="_cr" name="_cr" type="hidden" value="1">



														<div class="table-responsive">

															<div class="col-sm-12" style="text-align: right">

																<a id="add_row_in" class="fa fa-plus" aria-hidden="true"
																	style="font-size: 24px; color: #001080"></a>&nbsp;&nbsp;&nbsp;
																<a id='delete_row_in' class="fa fa-trash"
																	style="font-size: 24px; color: #399490fc"
																	aria-hidden="true"></a>
															</div>


															<table id="indentTable" aria-describedby="example"
																class="table table-striped display" style="width: 100%">
																<thead>
																	<tr>
																		<th scope="col" class="text-center">Indent Number</th>
																		<th scope="col" class="text-center">Indent Date</th>
																		<th scope="col" class="text-center">Item Name<span
																			style="color: red">*</span></th>
																		<th scope="col" class="text-center">UOM</th>
																		<th scope="col" class="text-center">City</th>
																		<th scope="col" class="text-center">Required Date</th>
																		<th scope="col" class="text-center">Item
																			Specification</th>
																		<th scope="col" class="text-center">Term and
																			Conditions</th>
																		<th scope="col" class="text-center">Remarks</th>



																	</tr>
																</thead>
																<tbody>
																	<tr id="inr0">


																		<td><select
																			class="select form-control form-control-sm"
																			id="indentNumber0" title="indent number" required
																			onchange="getIndentList()"
																			name="listRFQuotation[0].openIndent">
																				<option value=" ">Select Indent Number</option>
																				<option th:each="indent :  ${aprovedOpenIndentList}"
																					th:text="${indent.indentNumber}"
																					th:value=" ${indent.indentNumber}"></option>

																		</select></td>

																		<td><input type="date" style="font-size: 0.95rem"
																			title="indent date"
																			class="form-control form-control-sm" id="indentDate0"
																			name="listRFQuotation[0].indentDate" required>
																		</td>



																		<td><select
																			class="form-control form-control-sm select itemContainer0"
																			onchange="getItemDetail()" title="item name"
																			id="item0" name="listRFQuotation[0].item" required>
																				<option value=" ">Select Item Name</option>

																		</select></td>

																		<td><input type="text" title="uom"
																			class="form-control form-control-sm" id="uom0"
																			name="listRFQuotation[0].uom"></td>

																		<td><input type="text" title="city"
																			class="form-control form-control-sm"
																			name="listRFQuotation[0].city"></td>

																		<td><input type="date" style="font-size: 0.95rem"
																			class="form-control form-control-sm" title="rfq date"
																			name="listRFQuotation[0].rfqDate" required></td>

																		<td><input type="text"
																			class="form-control form-control-sm"
																			name="listRFQuotation[0].itemSpec" required
																			title="item spec"></td>

																		<td><input type="text"
																			class="form-control form-control-sm"
																			name="listRFQuotation[0].termCondition" required
																			title="term condition"></td>

																		<td><input type="text"
																			class="form-control form-control-sm"
																			name="listRFQuotation[0].remarks" required
																			title="remarks"></td>




																	</tr>
																	<tr id='inr1' />

																</tbody>

															</table>
															<input type="hidden" id="hidden_field"
																th:value="${length}" />
														</div>

													</div>
												</div>



												<div class="body">
													<h5>Supplier Info</h5>
													<div class="box-body">



														<div class="table-responsive">

															<div class="col-sm-12" style="text-align: right">

																<a id="add_row_sup" class="fa fa-plus"
																	aria-hidden="true"
																	style="font-size: 24px; color: #001080"></a>&nbsp;&nbsp;&nbsp;
																<a id='delete_row_sup' class="fa fa-trash"
																	style="font-size: 24px; color: #399490fc"
																	aria-hidden="true"></a>
															</div>
															<table id="supplierTable" aria-describedby="example"
																class="table table-striped display" style="width: 100%">
																<thead>
																	<tr>
																		<th scope="col" class="text-center">Supplier Name</th>
																		<th scope="col" class="text-center">Supplier
																			Address</th>
																		<th scope="col" class="text-center">Supplier City</th>
																		<th scope="col" class="text-center">Supplier
																			State</th>
																		<th scope="col" class="text-center">Contact
																			Person</th>
																		<th scope="col" class="text-center">Email</th>
																		<th scope="col" class="text-center">Phone Number
																		</th>
																		<th scope="col" class="text-center">Fax Number</th>



																	</tr>
																</thead>
																<tbody>
																	<tr id="spr0">

																		<td><select id="supplierId0"
																			class="form-control form-control-sm select" required
																			title="supplier code" onchange="supplierInfo()"
																			name="listRFQuotationSupply[0].suppCode">
																				<option value=" ">Select</option>
																				<option th:each="supplier :  ${listSupplier}"
																					th:text="${supplier.partyName}"
																					th:value=" ${supplier.partyCode}"></option>


																		</select></td>

																		<td><input type="text"
																			class="form-control form-control-sm"
																			id="supplierAdd0" title="supplier address"
																			name="listRFQuotationSupply[0].suppAdd"></td>



																		<td><select
																			class="form-control form-control-sm select" required
																			title="supplier city" id="supplierCity0"
																			name="listRFQuotationSupply[0].suppCity">
																				<option value=" ">Select</option>
																				<option th:each="city :  ${listCity}"
																					th:text="${city.cityName}"
																					th:value=" ${city.cityCode}"></option>


																		</select></td>



																		<td><select
																			class="form-control form-control-sm select" required
																			id="supplierState0" title="supplier State"
																			name="listRFQuotationSupply[0].suppState">
																				<option value=" ">Select</option>
																				<option th:each="state :  ${listStates}"
																					th:text="${state.stateName}"
																					th:value=" ${state.stateCode}"></option>


																		</select></td>

																		<td><input type="text"
																			class="form-control form-control-sm"
																			id="contactPerson" title="contact person"
																			name="listRFQuotationSupply[0].contactPerson">
																		</td>

																		<td><input type="text" title="email"
																			class="form-control form-control-sm" id="email"
																			name="listRFQuotationSupply[0].email"></td>

																		<td><input type="text"
																			class="form-control form-control-sm"
																			id="accademicQualificatio" title="phone number"
																			name="listRFQuotationSupply[0].phoneNumber">
																		</td>

																		<td><input type="text"
																			class="form-control form-control-sm"
																			id="technicalQualification" title="fax number"
																			name="listRFQuotationSupply[0].faxNum"></td>




																	</tr>
																	<tr id='spr1' />

																</tbody>

															</table>
														</div>
													</div>
												</div>




												<div class="box-footer" style="margin: 10px">
													<input type="submit" value="Submit" class="btn btn-primary" />
													<input type="reset" value="Reset" class="btn btn-danger" />
												</div>


											</form>


										</div>
										<!-- /.box -->
										<div
											style="width: parent; text-align-last: right; margin: 8px">
											<a th:href="@{/requestquotation/list}">View All R.F.Q</a>
										</div>
									</div>



								</div>

							</div>

						</div>
					</section>
				</section>
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer">...</div>


	<script th:inline="javascript">
		var idIndex1 = 0;
		var idIndex2 = 0;

		$(document)
				.ready(
						function() {
							console.log("ready!");

							var i = 1;
							console.log("id Index value after adding ")

							$('#add_row_in')
									.click(
											function() {
												console.log("click method")

												idIndex1++;
												console
														.log("id index value id "
																+ idIndex1)
												$('#inr' + i)
														.html(
																"<td><select class='select form-control form-control-sm indentContainer"
																		+ idIndex1
																		+ "' id='indentNumber"
																		+ idIndex1
																		+ "' title='Location'"
																		+ "required onchange='getIndentList()' name='listRFQuotation["
																		+ idIndex1
																		+ "].openIndent'><option value=''>Select"
																		+ " Indent Number"
																		+ "</select></td>"

																		+ "<td><input type='date' style='font-size: 0.95rem'title='indent date' class='form-control form-control-sm' id='indentDate"+idIndex1+"' name='listRFQuotation[" + idIndex1 + "].indentDate' required></td>"
																		+ "<td><select class='form-control form-control-sm select itemContainer"
																		+ idIndex1
																		+ "' onchange='getItemDetail()'  title='Location' id='item"
																		+ idIndex1
																		+ "' name='listRFQuotation["
																		+ idIndex1
																		+ "].item' required><option value=''>Select Item Name</option></select></td>"
																		+ "<td><input type='text' title='uom' class='form-control form-control-sm' id='uom"+idIndex1+"' name='listRFQuotation[" + idIndex1 + "].uom'> </td>"
																		+ "<td><input type='text' title='city' class='form-control form-control-sm' name='listRFQuotation[" + idIndex1 + "].city'></td>"
																		+ "<td><input type='date'style='font-size: 0.95rem'class='form-control form-control-sm'name='listRFQuotation[" + idIndex1 + "].rfqDate'required></td>"
																		+ "<td><input type='text'class='form-control form-control-sm'name='listRFQuotation[" + idIndex1 + "].itemSpec'required title=''></td>"
																		+ "<td><input type='text'class='form-control form-control-sm'name='listRFQuotation[" + idIndex1 + "].termCondition'required title=''></td>"
																		+ "<td><input type='text'class='form-control form-control-sm'name='listRFQuotation[" + idIndex1 + "].remarks'required title=''></td>"

														);
												$('#indentTable').append(
														'<tr id="inr' + (i + 1)
																+ '"></tr>');

												indentInfoForRfq();

												i++;

											});

							$("#delete_row_in").click(function() {
								if (i > 1) {
									$("#inr" + (i - 1)).html('');

									i--;
									idIndex1--;
								}
							});
						});

		$(document)
				.ready(
						function() {
							console.log("ready!");

							var j = 1;

							$('#add_row_sup')
									.click(
											function() {
												idIndex2++;
												$('#spr' + j)
														.html(
																"<td><select id='supplierId"
																		+ idIndex2
																		+ "' class='form-control form-control-sm select supplierContainer"
																		+ idIndex2
																		+ "' required "
																		+ +"title='supplier code' onchange='supplierInfo()'name='listRFQuotationSupply[0].suppCode'><option value=''>"
																		+ "Select</option><optionth:each='supplier :  ${listSupplier}'th:text='${supplier.supplierName}'th:value='${supplier.supplierId}'></option></select></td>"

																		+ "<td><input type='text' title='uom' class='form-control form-control-sm' id='supplierAdd"+idIndex2+"' name='listRFQuotationSupply[0].suppAdd'> </td>"

																		+ "<td><input type='text' title='uom' class='form-control form-control-sm' id='supplierCity"+idIndex2+"' name='listRFQuotationSupply[0].suppCity'> </td>"
																		+ "<td><input type='text' title='city' class='form-control form-control-sm'id='supplierState"+idIndex2+"' name='listRFQuotationSupply[0].suppState'></td>"
																		+ "<td><input type='text'class='form-control form-control-sm' name='listRFQuotationSupply[0].contactPerson'required title=''></td>"
																		+ "<td><input type='text'class='form-control form-control-sm'name='listRFQuotationSupply[0].email'required title=''></td>"
																		+ "<td><input type='text'class='form-control form-control-sm'name='listRFQuotationSupply[0].phoneNumber'required title=''></td>"
																		+ "<td><input type='text'class='form-control form-control-sm'name='listRFQuotationSupply[0].fax'required title=''></td>"

														);
												$('#supplierTable').append(
														'<tr id="spr' + (j + 1)
																+ '"></tr>');

												listOfSupplierInfo()

												j++;

											});

							$("#delete_row_sup").click(function() {
								if (j > 1) {
									$("#spr" + (j - 1)).html('');

									j--;
									idIndex2--;
								}
							});
						});

		// ajax request for get indent info for dynamic row 

		function indentInfoForRfq() {

			console.log("indent info for rfq ")

			$
					.ajax({
						type : "GET",
						url : "indentinfo/",

						success : function(data) {
							console.log("ite data is : " + data)

							var options = '<option value=""><strong>Select Indent</strong></option>';
							$(data)
									.each(
											function(index, value) {

												console.log("item info : "
														+ value.indentNumber)
												console.log("item info : "
														+ value.indentNumber)

												options += '<option value="' + value.indentNumber + '">'
														+ value.indentNumber
														+ '</option>';

											});

							$('.indentContainer' + idIndex1).html(options);

							// $("#departmentname").val(data.department.deptName)
						},
						error : function() {
							console.log("Error");
						}
					});

		}

		function getIndentList() {

			console.log("get Item function calling");
			var indentNumber = document.getElementById("indentNumber"
					+ idIndex1).value;
			console.log("emp code : " + indentNumber);

			$
					.ajax({
						type : "GET",
						url : "itemdetail/" + indentNumber,

						success : function(data) {
							//$("#resultarea").text(data);
							console.log("response data : "
									+ $(this.data).addClass('show'));

							$("#indentDate" + idIndex1).val(data.indentDate);

							var options = '<option value=""><strong>Select Item</strong></option>';
							$(data.listItem)
									.each(
											function(index, value) {

												console.log("item info : "
														+ value.description)
												options += '<option value="' + value.itemCode + '">'
														+ value.description
														+ '</option>';

											});

							$('.itemContainer' + idIndex1).html(options);
							// $("#departmentcode").val(data.department.deptCode)
							// $("#departmentname").val(data.department.deptName)
						},
						error : function() {
							console.log("Error");
						}
					});

		}

		function getItemDetail() {

			var item = document.getElementById("item" + idIndex1).value;
			console.log("item number is " + item)

			$.ajax({
				type : "GET",
				url : "itemdetail1/" + item,

				success : function(data) {
					console.log("ite data is : " + data)

					console.log("response text object : "
							+ JSON.stringify(data))
					console.log("uom info Is : " + data.uom.uomCode);

					$("#uom" + idIndex1).val(data.uom.uomCode)

				},
				error : function() {
					console.log("Error");
				}
			});
		}

		function supplierInfo() {

			var supplierId = document.getElementById("supplierId" + idIndex2).value;
			console.log("supplier id is : " + supplierId)

			$.ajax({
				type : "GET",
				url : "supplierdetail/" + supplierId,

				success : function(data) {
					
					console.log("response text object : "
							+ JSON.stringify(data))
					console.log("ite data is : " + data)

					$("#supplierAdd0").val(data.lclAddr1)
					$("#supplierCity0").val(data.cityCode)
					$("#supplierState0").val(data.stateCode)
					// $("#departmentname").val(data.department.deptName)
				},
				error : function() {
					console.log("Error");
				}
			});

		}

		// dynamic drop down for supplier list

		function listOfSupplierInfo() {

			console.log("list of supplier info ");
			$
					.ajax({
						type : "GET",
						url : "supplierlist/",

						success : function(data) {
							console.log("ite data is : " + data)

							console.log(" json data :" + JSON.stringify(data))

							var options = '<option value=""><strong>Select</strong></option>';
							$(data)
									.each(
											function(index, value) {

												console.log("item info : "
														+ value.supplierId)
												options += '<option value="' + value.supplierId + '">'
														+ value.supplierName
														+ '</option>';

											});

							$('.supplierContainer' + idIndex2).html(options);

						},
						error : function() {
							console.log("Error");
						}
					});

		}

		// for current date 

		$(document)
				.ready(
						function() {
							document.getElementById("requestForQuotationDate").valueAsDate = new Date();
						});
	</script>
	<!--   <section class="content">
        
        </section>-->
	<script src="../../js/jQuery-2.1.4.min.js"
		th:src="@{/js/jQuery-2.1.4.min.js}"></script>
	<script src="../../js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../../js/fastclick.min.js"
		th:src="@{/js/fastclick.min.js}"></script>
	<script src="../../js/app.min.js" th:src="@{/js/app.min.js}"></script>
	<script src="../../js/demo.js" th:src="@{/js/demo.js}"></script>
</body>

</html>