<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"lang="en">
<div layout:fragment="header">

<nav class="navbar navbar-expand navbar-theme">
				<a class="sidebar-toggle d-flex mr-2">
					<em class="hamburger align-self-center"></em>
				</a>

				<div class="col-md-11 center">
					 <h3  style="color:#ffffff; margin-top:30px;" class="text-center">EBS </h3>
						 <h3  style="color:#ffffff;" class="text-center">Access Infotech</h3> 

				</div>

				<div class="navbar-collapse collapse"
				>
					<ul class="navbar-nav ml-auto">

						<li class="nav-item dropdown ml-lg-2">
							<a class="nav-link dropdown-toggle position-relative" href="#" id="userDropdown" data-toggle="dropdown">
								<em class="align-middle fas fa-cog"></em>
							</a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
							
							
								<div class="dropdown"></div>
								<a class="dropdown-item" th:href="@{/logout}"><em class="align-middle mr-1 fas fa-fw fa-arrow-alt-circle-right"></em> Sign out</a>
							</div>
						</li>
					</ul>
				</div>
</nav>
</div>