<div class="sidebar-wrapper active" th:fragment="nav-default" style="background: white;">
  
    <div class="sidebar-header" style="height: 200px; text-align: center;">
        <div class="d-flex justify-content-between" style="height: 200px; text-align: center;">
            <div class="logo" style="text-align: center;">
                <a href="index.html"><img src="assets/images/logo/logo.png" alt="Logo" srcset="" ></a>
            </div>
           
        </div>
    </div>
    
    
    <div class="sidebar-menu">
        <ul class="menu">
            <li class="sidebar-title" style="color: red;">Menu</li>
           
            <li class="sidebar-item">
                <a href="#" class='sidebar-link'>
                    <i class="bi"></i>
                    <span>Item</span>
                </a>
                <ul class="submenu">
                    <li class="submenu-item">
                        <a href="#">sub-item</a>
                    </li>
                </ul>
            </li>
            
        </ul>
    </div>
    
    
   <!-- <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>-->
</div>