<!DOCTYPE html>
<html lang="en">

<head xmlns:th="http://www.thymeleaf.org">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>AdminLTE 2 | General Form Elements</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="../../css/AdminLTE.min.css" th:href="@{/css/AdminLTE.min.css}">
	<link rel="stylesheet" href="../../css/skins/_all-skins.min.css" th:href="@{/css/skins/_all-skins.min.css}">


	<style>
		.form-control-sm {
			height: 30px;
			width: 120px;
			font-size: 11px;

		}

		.select {
			width: 130px;
			font-size: 11px;
		}
	</style>


</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<div>
			<div th:replace="fragments/header :: header">...</div>
			<div th:replace="fragments/sidebar :: sidebar">...</div>

			<div class="wrapper">

				<section class="content-wrapper">


					<div class="row">
						<!-- left column -->




						<div class="col-md-12" style="margin-top: 20px;">

							<div class="box box-primary">
								<div class="box-header with-border">
									<h3 class="box-title">Quotation Details</h3>
								</div>
								<!-- form start -->
								<form role="form" th:action="@{/quotationdetail/}" th:object="${quotation}"
									method="POST">
									<div class="box-body">

										<div class="container-fluid">

											<ul class="nav nav-pills">
												<li class="active"><a data-toggle="tab" href="#companydetail">Quotation
														Detail</a></li>
												<li><a data-toggle="tab" href="#tdsinfo">Items Detail</a></li>



											</ul>

											<!-- main div content -->
											<div class="tab-content">

												<!-- company detail tab -->
												<div id="companydetail" class="tab-pane fade in active">
													<p></p>

													<div class="box">

														<div class="box-body">
															<h5>Quotation Details</h5>
															<div class="row">
																<div class="col-md-12">
																	<div class="form-group col-md-4">
																		<label for="inputEmail4">Quotation No.</label>
																		<input type="text" class="form-control"
																			id="inputEmail4" placeholder="quotation no"
																			th:field="*{quotNo}">
																	</div>
																	<div class="form-group col-md-4">
																		<label for="inputPassword4">Quotation
																			Date</label>
																		<input type="date" class="form-control"
																			id="inputPassword4"
																			placeholder="quotation date"
																			th:field="*{quotDate}">
																	</div>
																	<div class="form-group col-md-4">
																		<label for="inputPassword4">Nature of
																			Purchase</label> <input type="text"
																			class="form-control" id="inputPassword4"
																			placeholder="nature of purchase">
																	</div>

																	<div class="form-group col-md-4">
																		<label for="inputAddress">Received On</label>
																		<input type="date" class="form-control"
																			id="inputAddress" placeholder="received on"
																			th:field="*{receivedOn}">
																	</div>

																	<div class="form-group col-md-4">
																		<label class="form-label">RFQ Number </label>
																		<label style="color: red">*</label>
																		<select class="form-control"
																			onchange="changeRequestForQuotation()"
																			title="RFQ Number" id="rfqNum"
																			th:field="*{rfqNo}">
																			<option value="">Select RFQ</option>
																			<option th:each="rfq :  ${listRfQuotation}"
																				th:text="${rfq.rfqNo}"
																				th:value=" ${rfq.rfqNo}">
																			</option>
																		</select>
																	</div>

																	<div class="form-group col-md-4">
																		<label for="inputAddress">RFQ Date</label>
																		<input type="date" class="form-control"
																			id="rfqDate" placeholder="rfq date"
																			th:field=*{rfqDate}>
																	</div>
																</div>

															</div>
														</div>

													</div>




													<div>
														<h5>Supplier Info</h5>

														<div class="box">
															<div class="box-body">
																<div class="form-group col-md-4">
																	<label class="form-label">Supplier </label>
																	<label style="color: red">*</label>
																	<select class="form-control"
																		onchange="supplierInfo1()" title="supplier "
																		id="supplierId" th:field="*{suplierCode}">
																		<option value="">Select</option>
																		<option th:each="supp :  ${listSupplier}"
																			th:text="${supp.supplierName}"
																			th:value=" ${supp.supplierId}">
																		</option>
																	</select>
																</div>

																<div class="form-group col-md-4">
																	<label for="inputPassword4">Supplier
																		Name</label>
																	<input type="text" class="form-control"
																		placeholder="quotation date" id="supplierName"
																		th:field="*{tempSupName}">
																</div>
																<div class="form-group col-md-4">
																	<label for="inputPassword4">Supplier
																		City</label>
																	<input type="text" class="form-control"
																		id="supplierCity"
																		placeholder="nature of purchase"
																		th:field="*{supCityCode}">
																</div>

																<div class="form-group col-md-4">
																	<label for="inputAddress">Form Code</label>
																	<input type="text" class="form-control"
																		id="inputAddress" placeholder="received on"
																		th:field="*{fromCode}">
																</div>
																<div class="form-group col-md-4">
																	<label for="inputAddress">Supplier State</label>
																	<input type="text" class="form-control"
																		id="supplierState"
																		placeholder="supplier country"
																		th:field="*{supCountry}">
																</div>
																<div class="form-group col-md-4">
																	<label for="inputAddress">Form Type</label>
																	<input type="text" class="form-control"
																		id="inputAddress" placeholder="from type"
																		th:field="*{quotType}">
																</div>
															</div><!-- /.box-body -->

														</div>


														<div class="box">
															<div class="box-body">
																<div class="form-group col-md-6">
																	<label class="form-label">Currency Code</label>
																	<label style="color: red">*</label>
																	<select class="form-control"
																		onchange="changeCurrency()"
																		title="currency Name" required id="currencyCode"
																		th:field="*{currencyCode}">
																		<option value="">Select Department</option>
																		<option
																			th:each="currency :  ${listCurrencyMaster}"
																			th:text="${currency.currencyCode}"
																			th:value=" ${currency.currencyValue}">
																		</option>
																	</select>
																</div>

																<div class="form-group col-md-6">
																	<label for="inputPassword4">Currency Value</label>
																	<input type="text" class="form-control"
																		id="currencyValue" placeholder="currency value"
																		th:field="*{conversionValue}">
																</div>


															</div>
														</div>



														<div class="box">
															<h5>Delivery Details</h5>
															<div class="box-body">



																<div class="form-group col-md-4">
																	<label for="inputEmail4">Delivery Period</label>
																	<input type="text" class="form-control"
																		id="inputEmail4" placeholder="delivery period"
																		th:field="*{deliveryPeriod}">
																</div>
																<div class="form-group col-md-4">
																	<label for="inputPassword4">Delivery Mode</label>
																	<input type="text" class="form-control"
																		id="inputPassword4" placeholder="delivery mode"
																		th:field="*{delMode}">
																</div>


																<div class="form-group col-md-4">
																	<label for="inputEmail4">Term and Condition</label>
																	<input type="text" class="form-control"
																		id="inputEmail4" placeholder="delivery period"
																		th:field="*{deliveryPeriod}">
																</div>


															</div>

														</div>
													</div>
													<!-- ADD -->
												</div>
												<!-- end company detail tab -->


												<!--  detail -->
												<div id="tdsinfo" class="tab-pane fade">
													<p></p>
													<div class="box">
														<h5>Item Details</h5>
														<div class="table-responsive">
															<table class="table table-sm">
																<thead>
																	<tr>
																		<th scope="col" class="text-center"
																			style="width: 90px;">Indent
																			Number</th>
																		<th scope="col" class="text-center"
																			style="width: 130px;">Indent
																			Date</th>
																		<th scope="col" class="text-center"
																			style="width: 100px;">Employee
																			Code</th>
																		<th scope="col" class="text-center"
																			style="width: 90px;">Employee
																			Name</th>
																		<th scope="col" class="text-center"
																			style="width: 90px;">Item Code
																		</th>
																		<th scope="col" class="text-center"
																			style="width: 90px;">Description
																		</th>
																		<th scope="col" class="text-center"
																			style="width: 10px;">UOM</th>
																		<th scope="col" class="text-center"
																			style="width: 120px;">Rate</th>
																		<th scope="col" class="text-center"
																			style="width: 90px;">Negotiable
																			Cost</th>
																		<th scope="col" class="text-center"
																			style="width: 90px;">Qty</th>
																		<th scope="col" class="text-center"
																			style="width: 120px;">Total INR
																			Value</th>
																		<th scope="col" class="text-center"
																			style="width: 90px;">Approval
																			Status</th>


																	</tr>
																</thead>
																<tbody>
																	<tr id="addr0" th:each="row, stat :${quotationdetail.quotationItem}">


																		<td><select
																				class="select form-control form-control-sm"
																				id="indentNumber" title="Location"
																				required
																				onchange="getIndentDetailByIndentNumber()"
																				th:field="*{quotationItem[__${stat.index}__].indentNum}">
																				<option value=" ">Select Indent Number
																				</option>
																				<option
																					th:each="indent :  ${listIndentInRfq}"
																					th:text="${indent.indentNumber}"
																					th:value=" ${indent.indentNumber}">
																				</option>

																			</select></td>

																		<td><input type="date"
																				style="font-size: 0.95rem"
																				title="indent date"
																				class="form-control form-control-sm"
																				th:field="*{quotationItem[__${stat.index}__].indentDate}"
																				id="indentDate" required>
																		</td>



																		<td><input type="text" title="employee name"
																				th:field="*{quotationItem[__${stat.index}__].employee}"
																				class="form-control form-control-sm"
																				id="empCode">
																		</td>

																		<td><input type="text" title="uom"
																				class="form-control form-control-sm"
																				id="empName">
																		</td>


																		<td><select
																				class="select form-control form-control-sm itemContainer"
																				id="item" title="item" required
																				th:field="*{quotationItem[__${stat.index}__].qtItemCode}"
																				onchange="changeItemInQuotationDetail()">
																				<option value="">Select Item Code
																				</option>


																			</select></td>

																		<td><input type="text" id="itemDescriptin"
																				class="form-control form-control-sm"
																				required></td>

																		<td><input type="text"
																				class="form-control form-control-sm"
																				required id="uomCode" title="">
																		</td>

																		<td><input type="text"
																				class="form-control form-control-sm"
																				required th:field="*{quotationItem[__${stat.index}__].rate}"
																				title="">
																		</td>

																		<td><input type="text"
																				class="form-control form-control-sm"
																				required title="">
																		</td>


																		<td><input type="text"
																				class="form-control form-control-sm"
																				required
																				th:field="*{quotationItem[__${stat.index}__].qtItemQty}"
																				title="">
																		</td>

																		<td><input type="text"
																				class="form-control form-control-sm"
																				required
																				th:field="*{quotationItem[__${stat.index}__].totalValue}"
																				title="">
																		</td>

																		<td><input type="text"
																				class="form-control form-control-sm"
																				required title="">
																		</td>




																	</tr>




																</tbody>
															</table>
														</div>
													</div>



													<!--miscellaneas start -->


													<div class="box">
														<h5>Miscellaneous Charge</h5>

														<div class="box-body">

															<div class="row">

																<div class="form-group m-5">
																	<label for="inputEmail3"
																		class="col-md-2 control-label">Total
																		Discount</label>
																	<div class="col-md-4">
																		<input type="number" class="form-control"
																			id="inputEmail3"
																			placeholder="total discount">
																	</div>
																	<div class="col-md-4">
																		<input type="number" class="form-control"
																			id="inputEmail3"
																			placeholder="total discount">
																	</div>
																</div>
															</div>


															<div class="row">

																<div class="form-group m-5">
																	<label for="inputEmail3"
																		class="col-md-2 control-label">Discount</label>
																	<div class="col-md-4">
																		<input type="number" class="form-control"
																			id="inputEmail3" placeholder="discount">
																	</div>
																	<div class="col-md-4">
																		<input type="number" class="form-control"
																			id="inputEmail3" placeholder="discount">
																	</div>
																</div>
															</div>

															<div class="row">

																<div class="form-group m-5">
																	<label for="inputEmail3"
																		class="col-md-2 control-label">CGST(%)</label>
																	<div class="col-md-4">
																		<input type="number" class="form-control"
																			id="inputEmail3" placeholder="cgst">
																	</div>
																	<div class="col-md-4">
																		<input type="number" class="form-control"
																			id="inputEmail3" placeholder="cgst">
																	</div>
																</div>
															</div>

															<div class="row">

																<div class="form-group m-5">
																	<label for="inputEmail3"
																		class="col-md-2 control-label">Packing</label>
																	<div class="col-md-4">
																		<input type="number" class="form-control"
																			id="inputEmail3" placeholder="packing">
																	</div>

																</div>
															</div>

															<div class="row">

																<div class="form-group m-5">
																	<label for="inputEmail3"
																		class="col-md-2 control-label">SGST(%)</label>
																	<div class="col-md-4">
																		<input type="number" class="form-control"
																			id="inputEmail3" placeholder="sgst">
																	</div>
																	<div class="col-md-4">
																		<input type="number" class="form-control"
																			id="inputEmail3" placeholder="sgst">
																	</div>
																</div>
															</div>

															<div class="row">

																<div class="form-group m-5">
																	<label for="inputEmail3"
																		class="col-md-2 control-label">Freight</label>
																	<div class="col-md-4">
																		<input type="number" class="form-control"
																			id="inputEmail3" placeholder="freight">
																	</div>

																</div>
															</div>

															<div class="row">

																<div class="form-group m-5">
																	<label for="inputEmail3"
																		class="col-md-2 control-label">CGST(%)</label>
																	<div class="col-md-4">
																		<input type="number" class="form-control"
																			id="inputEmail3" placeholder="cgst">
																	</div>
																	<div class="col-md-4">
																		<input type="number" class="form-control"
																			id="inputEmail3" placeholder="cgst">
																	</div>
																</div>
															</div>

															<div class="row">

																<div class="form-group m-5">
																	<label for="inputEmail3"
																		class="col-md-2 control-label">IGST(%)</label>
																	<div class="col-md-4">
																		<input type="number" class="form-control"
																			id="inputEmail3" placeholder="igst">
																	</div>
																	<div class="col-md-4">
																		<input type="number" class="form-control"
																			id="inputEmail3" placeholder="igst">
																	</div>
																</div>
															</div>

														</div>

													</div>

													<!--miscellaneas end -->

												</div>
												<!--end  detail -->




												<!--</div>-->
												<!--end main div content-->



											</div>


										</div>

										<div class="box-footer">
											<button type="submit" class="btn btn-primary">Submit</button>
										</div>

								</form>


								<div class="box-footer">
									<div style="width: parent; text-align-last: right; margin:8px">
										<a th:href="@{/quotationdetail/list}">View All Quotation Detail</a>
									</div>

								</div>
								<!-- end form -->
							</div>
						</div>





					</div>
				</section>
			</div>
		</div>

	</div>

	<div th:replace="fragments/footer :: footer">...</div>
	<!--   <section class="content">
        
        </section>-->
	<script src="../../js/jQuery-2.1.4.min.js" th:src="@{/js/jQuery-2.1.4.min.js}"></script>
	<script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../../js/fastclick.min.js" th:src="@{/js/fastclick.min.js}"></script>
	<script src="../../js/app.min.js" th:src="@{/js/app.min.js}"></script>
	<script src="../../js/demo.js" th:src="@{/js/demo.js}"></script>

	<script src="../../js/demo.js" th:src="@{/js/myjs.js}"></script>

</body>

</html>