<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layouts/main-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{:: #home-header},
                                                ~{:: #home-nav},
                                                ~{:: #home-main-content},  
                                                ~{:: #home-footer}
                                               )}">

<head>
<title>Title of Home Page</title>

<th:block id="home-static-resources">

	<script type="text/javascript" src="../static/home.js"
		th:src="@{/home.js}"></script>
	<link rel="stylesheet" type="text/css" href="../static/home.css"
		th:href="@{/home.css}" />

</th:block>

</head>
<body>

	<div id="home-header">ERP WhareHouse</div>

	<div id="home-nav"
		th:replace="~{/fragments/app-fragments :: nav-default}">Home Nav
	</div>





	<div id="home-main-content">

		<h3>Program Master</h3>

		<form th:action="@{/program/}" method="POST" th:object="${program}">
			<div class="form-border">

				<div class="form-group col-md-6">
					<label>Program Code</label> <input type="text" class="form-control"
						placeholder="program code" th:field="*{programCode}">
				</div>

				<div class="form-group col-md-6">
					<label>Program Name</label> <input type="text" class="form-control"
						placeholder="program name" th:field="*{programName}">
				</div>

				<div class="form-group col-lg-6">
					<label class="form-label">Sub Module Name</label> <label
						style="color: red">*</label> <select class="form-control"
						title="Department Name" th:field="*{subModuleMaster}" required>
						<option value="">Select Sub Module</option>
						<option th:each="subModule :  ${listSubModule}"
							th:text="${subModule.subModuleName}"
							th:value=" ${subModule.subModuleCode}"></option>
					</select>
				</div>

				<div class="form-group col-md-6">
					<label for="inputPassword4">Program Type</label> <input type="text"
						class="form-control" placeholder="program type"
						th:field="*{programType}">
				</div>

				<div class="form-group col-md-6">
					<label for="inputPassword4">Program Href</label> <input type="text"
						class="form-control" placeholder="program href"
						th:field="*{programHrefName}">
				</div>

				<div class="form-group col-md-6">
					<label for="inputPassword4">Sequence Number</label> <input
						type="text" class="form-control" placeholder="sequence number"
						th:field="*{seqNo}">
				</div>


				<div class="form-group" style="margin: 10px;">

					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio"
							name="inlineRadioOptions" id="inlineRadio1" value="Y"> <label
							class="form-check-label" for="inlineRadio1">Active</label>
					</div>

					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio"
							name="inlineRadioOptions" id="inlineRadio1" value="N"> <label
							class="form-check-label" for="inlineRadio1">In-Active</label>
					</div>

				</div>

				<div class="row" style="margin: 10px">
					<input type="submit" value="Update" class="btn btn-primary" />
					<input type="submit" value="Back"
						onclick='javascript:window.history.back()'
						class="btn btn-link button" />
				</div>


			</div>

		</form>

		<div class="row text-right m-10">
			<a th:href="@{/program/list}">view program list</a>
		</div>
	</div>











	<!-- <div id="home-footer" th:replace="~{/fragments/app-fragments :: copyright}">
        Footer
    </div> -->


</body>
</html>