<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>EBS</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="../../css/AdminLTE.min.css" th:href="@{/css/AdminLTE.min.css}">
	<link rel="stylesheet" href="../../css/skins/_all-skins.min.css" th:href="@{/css/skins/_all-skins.min.css}">

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.css"
		rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.js"></script>


	<style>
		.form-control-sm {
			height: 30px;
			width: 120px;
		}

		.select {
			width: 130px;
			font-size: 10px;
		}
	</style>

</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<div>
			<div th:replace="fragments/header :: header">...</div>
			<div th:replace="fragments/sidebar :: sidebar">...</div>

			<div class="wrapper">

				<section class="content-wrapper">

					<!-- Content Header (Page header) -->
					<section class="content-header">
						<h4>
							Item Return Note
							<!--<small>it all starts here</small>-->
						</h4>
						<ol class="breadcrumb">
							<li><a href="#"><i class="fa fa-dashboard"></i> warehouse</a></li>
							<li><a href="#">Item Return Note</a></li>
							<li class="active">Add</li>
						</ol>
					</section>


					<!-- Main content -->
					<section class="content">

						<!-- Default box -->
						<div class="box">
							<!-- form start -->
							<form role="form" th:action="@{/itemreturnnote/}" th:object="${itemReturnNote}"
								method="POST">


								<div class="box-header with-border text-right">

									<button type="submit" id="submit" class="btn btn-primary btn-sm">
										<i class="fa fa-hdd-o" aria-hidden="true"></i> Submit
									</button>
									<button type="reset" value="reset" class="btn btn-secondary btn-sm">
										<i class="fa fa-refresh" aria-hidden="true"></i> Reset
									</button>

									<a th:href="@{/itemreturnnote/list}" class="btn btn-success btn-sm">
										<i class="fa fa-list" aria-hidden="true"></i> View All
									</a>



								</div>



								<div class="row">
									<!-- left column -->
									<div class="col-md-12">



										<div class="col-md-12 shadow bg-white rounded" style="margin-top: 20px;">
											<!-- general form elements -->
											<div class="box box-primary">

												<input type="hidden" id="mess" name="mess" th:value="${message}">

												<div class="box-header with-border">
													<!--<h3 class="box-title">Category Master</h3>-->
												</div>
												<!-- /.box-header -->



												<div class="box">
													<h5 class="box-title">Item Return Note</h5>
													<div class="box-body">


														<div class="form-group col-md-4">
															<label for="inputEmail4">ReceiptNo.</label> <input
																type="text" class="form-control" id="inputEmail4"
																placeholder="ReceiptNo" th:field="*{receiptNo}"
																readonly>
														</div>

														<div class="form-group col-md-4">
															<label for="inputEmail4">ReceiptDate</label> <input
																type="date" class="form-control" id="inputEmail4"
																placeholder="ReceiptDate" th:field="*{recptDate}">
														</div>



														<div class="form-group col-md-4">
															<label for="inputAddress">Returned To</label> <select
																class="form-control" id="" title="">
																<option value="p">select</option>


															</select>
														</div>

														<div class="form-group col-md-4">
															<label for="inputAddress">Returned By</label> <select
																class="form-control" id="" title="">
																<option value="p">Select</option>

															</select>
														</div>





														<div class="form-group col-md-4">
															<label for="inputAddress">Goods Category</label> <select
																class="form-control" id="" title="">
																<option value="p">Capital</option>
																<option value="re">Non-Capital</option>


															</select>
														</div>


														<div class="form-group col-md-4">
															<label for="inputAddress">Issue Mode</label> <select
																class="form-control" id="" title=""
																th:field="*{issMode}">
																<option value="p">Direct</option>
																<option value="re">IssueReturn</option>
																<option value="re">InterUnit</option>

															</select>
														</div>







														<div class="form-group col-md-4">
															<label for="inputAddress">IssueNo.</label> <select
																class="form-control" id="" title="entry type"
																th:field="*{issueSlip}">

																<option value="p">Select</option>
																<option th:each="issue :  ${listIssueSlip}"
																	th:text="${issue.issueNo}"
																	th:value=" ${issue.issueNo}">
																</option>

															</select>
														</div>


														<div class="form-group col-md-4">
															<label class="form-label">IssueDate</label> <input
																type="date" class="form-control" id="" title="IssueDate"
																th:field="*{issueDate}">

															</input>
														</div>







													</div>
													<!-- /.box-body -->

												</div>
												<!--end box-1-->


												<!-- box 2 -->


											</div>
											<!--end box-1-->
											<!-- end box-2 -->







											<!--detail box-->
											<div class="box">

												<h5>Return Item Details</h5>
												<div class="box-body">


													<div class="col-sm-12" style="text-align: right">

														<a id="add_row" class="fa fa-plus" aria-hidden="true"
															style="font-size: 24px; color: #001080"></a>&nbsp;&nbsp;&nbsp;
														<a id='delete_row' class="fa fa-trash"
															style="font-size: 24px; color: #399490fc"
															aria-hidden="true"></a>
													</div>


													<input id="_cr" name="_cr" type="hidden" value="1">



													<div class="table-responsive" style="margin-top: 40px">
														<table id="example" aria-describedby="example"
															class="table table-striped display">
															<thead>
																<tr>


																	<!--
																	<th scope="col" class="text-center"
																		style="width: 90px;">Sr.No</th>-->
																	<th scope="col" class="text-center"
																		style="width: 90px;">Item Code<span
																			style="color: red">*</span></th>
																	<th scope="col" class="text-center"
																		style="width: 90px;">Item Description</th>
																	<th scope="col" class="text-center"
																		style="width: 10px;">UOM</th>
																	<th scope="col" class="text-center"
																		style="width: 120px;">Qty.Return</th>
																	<th scope="col" class="text-center"
																		style="width: 90px;">Return Good.</th>
																	<th scope="col" class="text-center"
																		style="width: 120px;"> Rate</th>
																	<th scope="col" class="text-center"
																		style="width: 120px;">Remarks</th>
																</tr>
															</thead>

															<tbody>
																
																<tr id="addr0"
																	th:each="row, stat :${itemReturnNote.listItemReturnNoteDetail}">

																	<!--   po number  -->



																	
																	<!-- po date  -->
																	<!--
																	<td><input type="text"
																			class="form-control form-control-sm"
																			id="orderIndentDatePo0" title="order date"
																			name="listRejectionIssueDetail[0].orderDate"
																			readonly></td>
																			
-->


																	<td><input type="text"
																			class="form-control form-control-sm"
																			id="orderItemuom0" title="status"></td>
																	<!-- item code  -->

																	<td><select id="orderItemPo0"
																			class="form-control form-control-sm select orderItemContainerPo0"
																			title="item"
																			th:field="*{listItemReturnNoteDetail[__${stat.index}__].item}"
																			onchange="getOrderItemDetailForPo()"
																			>
																			
																			<option value="">Select</option>
																		</select></td>
																	<!--
																	<!-- item description  -->
																	<!--
																	<td><input type="text"
																			class="form-control form-control-sm"
																			id="orderItemCode0" title="item description"
																			name="listRejectionIssueDetail[0].itemDescription"
																			readonly></td>
-->

																	<!-- uom  -->




																	<!--  qty   -->



																	<td><input type="text" title="pending qty"
																			class="form-control form-control-sm">

																	</td>

																	<!-- qty  -->





																	<td><input type="number" id="qtyOrder0"
																			onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)"
																			class="form-control form-control-sm"
																			title="net qty"
																			th:field="*{listItemReturnNoteDetail[__${stat.index}__].qtyRet}"
																			
																			step="0.25" value="0.00"></td>


																	<td><input type="number" id="qtyOrder0"
																			onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)"
																			class="form-control form-control-sm"
																			title="Return good"
																			th:field="*{listItemReturnNoteDetail[__${stat.index}__].qtyGood}"
																			
																			step="0.25" value="0.00"></td>



																	<!-- claim part   -->
																	<td><input type="number" id="qtyOrder0"
																			onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)"
																			class="form-control form-control-sm"
																			title="rate"
																			th:field="*{listItemReturnNoteDetail[__${stat.index}__].rate}"
																			
																			step="0.25" value="0.00"></td>


																	<td><input type="text" title="Remarks"
																			class="form-control form-control-sm"
																			th:field="*{listItemReturnNoteDetail[__${stat.index}__].remarks}"
																			>
																	</td>


																</tr>
																<tr id='addr1' />

															</tbody>


														</table>
													</div>

													<input type="hidden" id="hidden_field" th:value="${length}" />
												</div>
											</div>


											<!--end detail box-->




							</form>


						</div>
						<!-- /.box -->


		</div>

	</div>

	</div>
	</section>
	</section>
	</div>

	</div>
	</div>
	<div th:replace="fragments/footer :: footer">...</div>


	<script>
		$(document).ready(function () {

			document.getElementById('gateEntryDate').valueAsDate = new Date();

		});

		function getPoList() {

			console.log("get po list ")
			$
				.ajax({
					type: "GET",
					url: "approved/polist",

					success: function (data) {
						console.log("list of get approved po  : " + data)

						//$("#supplierState").val(data.supplierState)
						//$("#uomCode").val(data.uom.uomCode);

						var options = '<option value=""><strong>Select Indent</strong></option>';
						$(data)
							.each(
								function (index, value) {

									console.log("data in loop : ")
									console.log("data in loop : "
										+ value.poNumber)

									options += '<option value="' + value.poNumber + '">'
										+ value.poNumber
										+ '</option>';

								});

						console.log(" id index value is :" + idIndex)
						$('.poContainer' + idIndex).html(options);

					},
					error: function () {
						console.log("Error");
					}
				});
		}

		function getOrderIndentDetailPo() {

			console.log(" getOrderIndentDetailPo fun ")
			// this po 
			var indentNumber = document.getElementById("orderIndentNumberPo" + idIndex).value;
			console.log("order indent number is : " + indentNumber)

			$.ajax({
				type: "GET",
				url: "indentdetailinpo/" + indentNumber,

				success: function (data) {
					console.log("order indent response  : " + data)

					console.log("order indent date   : "
						+ convertDate(data.poDate))
					console.log("order indent date   : " + data.poDate)

					$("#orderIndentDatePo" + idIndex).val(data.poDate)
					//$("#empName").val(data.employee.empName);
					//$("#empCode").val(data.employee.empCode);

					getOrderItemList(indentNumber);

					//item trave

				},
				error: function () {
					console.log("Error");
				}
			});
		}

		function convertDate(inputFormat) {
			function pad(s) {
				return (s < 10) ? '0' + s : s;
			}
			var d = new Date(inputFormat)
			return [pad(d.getDate()), pad(d.getMonth() + 1), d.getFullYear()]
				.join('/')
		}

		function getOrderItemList(poNumber) {

			//Get Item lIst in purchase order item detail using po number (FK)

			console.log("get Item List Function is : " + poNumber)

			$
				.ajax({
					type: "GET",
					url: "itemList/" + poNumber,

					success: function (data) {
						console.log("Item Info behalf of Indent Number  : "
							+ data)

						var options = '<option value=""><strong>Select Item</strong></option>';
						$(data)
							.each(
								function (index, value) {

									console.log("item info : "
										+ value.item.itemCode)
									console
										.log("item info : "
											+ value.item.description)

									options += '<option value="' + value.item.itemCode + '">'
										+ value.item.description
										+ '</option>';

								});

						$('.orderItemContainerPo' + idIndex).html(options);

					},
					error: function () {
						console.log("Error");
					}
				});
		}

		function getOrderItemDetailForPo() {

			var itemNumber = document.getElementById("orderItemPo" + idIndex).value;
			var poNumber = document.getElementById("orderIndentNumberPo" + idIndex).value;

			$.ajax({
				type: "GET",
				url: "itemInfo/" + itemNumber + "/" + poNumber,

				success: function (data) {

					console.log("getOrderItemDetailForPo item description  :"
						+ data.description)
					$("#orderItemCode" + idIndex).val(data.item.description)
					//orderItemCode0
					//$("#orderItemCode0").val(data.itemCode)
					$("#orderItemuom" + idIndex).val(data.item.uom.uomCode)
					$("#qtyOrder" + idIndex).val(data.purchaseOrderItem.qtyOrder)

				},
				error: function () {
					console.log("Error");
				}
			});

		}
	</script>




	<script>
		var idIndex = 0;
		$(document)
			.ready(
				function () {
					console.log("gate  entry detail block  is ready!");
					var i = 1;
					$('#add_row')
						.click(
							function () {
								idIndex++;
								$('#addr' + i)
									.html(

										/*  po number */

										"<td><select class='form-control poContainer" + i + "  form-control-sm select'  id='orderIndentNumberPo" + i + "'  name='gateEntryItemDetails[" + i + "].purchaseOrder' title='indent number' onchange='getOrderIndentDetailPo()' required></select></td>"

										/*  item code */
										+ "<td><select id='orderItemPo" + i + "' class='form-control form-control-sm select orderItemContainerPo" + i + "' required title='item' onchange='getOrderItemDetailForPo()' name='gateEntryItemDetails[" + i + "].item'><option value=''>Select</option></select></td>"



										/*  uom*/
										+ "<td><input type='text'class='form-control form-control-sm'id='orderItemuom" + i + "' title='status'name='gateEntryItemDetails[" + i + "].uom'></td>"


										< !--/* item description  */
										"<td><input type='text'class='form-control form-control-sm'id='orderItemCode" + i + "' title='item description'name='gateEntryItemDetails[" + i + "].itemDescription'readonly></td>"

										/*  qty */
										+ "<td><input type='number' id='qtyOrder" + i + "' class='form-control form-control-sm' title='net qty'name='gateEntryItemDetails[" + i + "].netQty' onchange=''(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)''  step='0.25' value='0.00'></td>"

										+ "<td><input type='number' id='qtyOrder" + i + "' class='form-control form-control-sm' title='net qty'name='gateEntryItemDetails[" + i + "].netQty' onchange=''(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)''  step='0.25' value='0.00'></td>"

										/* incoming part sr no  */
										+ "<td><input type='text'class='form-control form-control-sm' id='' title=''></td>"

										+ "<td><input type='text'class='form-control form-control-sm'id='technicalQualification' title=''></td>");

								$('#example').append(
									'<tr id="addr'
									+ (i + 1)
									+ '"></tr>');

								i++;

								getPoList()

							});

					$("#delete_row").click(function () {
						if (i > 1) {
							$("#addr" + (i - 1)).html('');
							$('#_cr').val(i - 1);
							i--;
							idIndex--;
						}
					});

				});
	</script>




	<script>
		$(document).ready(function () {
			var message = document.getElementById('mess').value
			if (message != null && message !== "") {

				swal(message, "", "success", {
					button: "OK",
					hideClass: {
						popup: 'animate__animated animate__fadeOutUp'
					},
				});
			} else {
				console.log("ajax request : " + message);
			}

		});
	</script>
	<!--   <section class="content">
        
        
        </section>-->

	<script src="../../js/jQuery-2.1.4.min.js" th:src="@{/js/myjs.js}"></script>


	<script src="../../js/jQuery-2.1.4.min.js" th:src="@{/js/jQuery-2.1.4.min.js}"></script>
	<script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../../js/fastclick.min.js" th:src="@{/js/fastclick.min.js}"></script>
	<script src="../../js/app.min.js" th:src="@{/js/app.min.js}"></script>
	<script src="../../js/demo.js" th:src="@{/js/demo.js}"></script>
</body>

</html>