<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>EBS</title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="../../css/AdminLTE.min.css"
	th:href="@{/css/AdminLTE.min.css}">
<link rel="stylesheet" href="../../css/skins/_all-skins.min.css"
	th:href="@{/css/skins/_all-skins.min.css}">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

<link
	href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.css"
	rel="stylesheet" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.js"></script>

<script
	src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>


<style>
.error {
	color: red;
	font-size: 11px;
}
</style>

</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<div>
			<div th:replace="fragments/header :: header">...</div>
			<div th:replace="fragments/sidebar :: sidebar">...</div>

			<div class="wrapper">

				<section class="content-wrapper">


					<div class="row">
						<!-- left column -->




						<div class="col-md-12" style="margin-top: 20px;">

							<div class="box box-primary">
								<input type="hidden" id="mess" name="mess" th:value="${message}">
								<div class="box-header with-border">
									<h3 class="box-title">Company Details</h3>
								</div>
								<!-- form start -->
								<form id="companyDetail" class="wizard wizard-primary"
									role="form" th:action="@{/companydetail/}"
									th:object="${company}" method="POST">
									<div class="box-body">

										<div class="container-fluid">

											<ul class="nav nav-pills">
												<li class="active"><a data-toggle="tab"
													href="#companydetail">Company Detail</a></li>
												<li><a data-toggle="tab" href="#tdsinfo">TDS
														Information</a></li>
												<li><a data-toggle="tab" href="#taxreg">Tax
														Registration No</a></li>
												<li><a data-toggle="tab" href="#importdetail">Import
														Detail</a></li>
												<li><a data-toggle="tab" href="#insurancedetail">Insurance
														Detail</a></li>
												<li><a data-toggle="tab" href="#siteoffices">Site
														Offices</a></li>


											</ul>

											<!-- main div content -->
											<div class="tab-content">

												<!-- company detail tab -->
												<div id="companydetail" class="tab-pane fade in active">
													<p></p>

													<div class="box">

														<h5>Company Details</h5>
														<div class="row">
															<div class="col-md-8">
																<div class="form-row">
																	<div class="form-group col-md-4">
																		<label for="inputEmail4">Company Code</label><span
																			style="color: red">*</span> <input type="text"
																			class="form-control" id="companyCode"
																			name="companyCode" placeholder="Company Code"
																			th:field="*{compCode}" title="This field is required"
																			onkeyup="getCompanyCode()" required>
																	</div>
																	<div class="form-group col-md-4">
																		<label for="inputPassword4">Company Name</label><span
																			style="color: red">*</span> <input type="text"
																			class="form-control" id="companyName"
																			name="companyName" placeholder="Company Name"
																			th:field="*{compName}" title="This field is required"
																			required onkeyup=getCompanyName()>
																	</div>
																	<div class="form-group col-md-4">
																		<label for="inputPassword4">Company Type</label> <select
																			class="form-control" th:field="*{compType}" id=""
																			title="company type" required>

																			<option value="dependent">Dependent</option>
																			<option value="independent" selected>
																				Independent</option>

																		</select>


																	</div>



																	<div class="form-group col-md-4">
																		<label>Director Name</label> <input type="text"
																			class="form-control" th:field="*{dirName}"
																			placeholder"Director Name" title="director name" />
																	</div>

																	<div class="form-group col-md-4">
																		<label for="inputPassword4">PF Number</label> <input
																			type="text" class="form-control"
																			placeholder="Pf Number" th:field="*{pfNumber}"
																			title="pf number">
																	</div>
																	<div class="form-group col-md-4">
																		<label for="inputPassword4">Parent Code</label> <input
																			type="text" class="form-control" title="parent code"
																			placeholder="Parent Code" th:field="*{parentCode}">
																	</div>
																	<div class="form-group col-md-4">
																		<label for="inputEmail4">Calculate ESI</label> <select
																			class="form-control" th:field="*{calculateEsi}" id=""
																			title="calculate esi" required>

																			<option value="yes" selected>Yes</option>
																			<option value="no">No</option>

																		</select>

																	</div>

																	<div class="form-group col-md-4">
																		<label for="inputPassword4">ESI Number</label> <input
																			type="text" class="form-control" title="esi number"
																			id="inputPassword4" placeholder="Esi Number"
																			th:field="*{esiNo}">
																	</div>

																	<div class="form-group col-md-4">
																		<label for="inputAddress">Import Data</label> <input
																			type="text" class="form-control" title="import data"
																			id="inputAddress" placeholder="Import Data">
																	</div>

																	<div class="form-group col-md-4">
																		<label for="inputPassword4">Tax Account(Sale)</label>
																		<input type="text" class="form-control"
																			id="inputPassword4" placeholder="Tax" title="tax"
																			th:field="*{acountTaxSale}">
																	</div>
																	<div class="form-group col-md-4">
																		<label for="inputPassword4">Tax
																			Account(Purchase)</label> <input type="text"
																			class="form-control" id="inputPassword4" title="tax"
																			placeholder="Tax Account"
																			th:field="*{accountTaxPurchase}">
																	</div>

																	<div class="form-group col-md-4">
																		<label for="inputPassword4">Ddn Form Emp(y/n)</label>
																		<select class="form-control" id=""
																			title="Deduction From Employee" required
																			th="*{deductionFromEmp}">

																			<option value="yes" selected>Yes</option>
																			<option value="no" selected>No</option>

																		</select>
																	</div>




																</div>
															</div>
															<div class="col-md-2"
																style="text-align: center; height: 50px; width: 50px;">
																<img alt="" src="/img/contact.png"
																	style="height: 150px; width: 150; border-radius: 50%">
															</div>
														</div>



													</div>




													<div>


														<h5>Company Address and Bank Details</h5>
														<div class="col-md-12">

															<div class="box">
																<!--<div class="box-header with-border">
																	<h3 class="box-title">Horizontal Form</h3>
																</div>-->

																<div class="box-body">

																	<div class="form-group row">

																		<div class="required">

																			<label class="col-md-2 control-label">Address-1</label>

																			<div class="col-md-4">
																				<input type="text" class="form-control"
																					id="address1" name="address1"
																					placeholder="Address-1"
																					title="This field is required" th:field="*{cAddr1}"
																					required>
																			</div>
																		</div>

																		<div>
																			<label for="" class="col-md-2 control-label">Address-2</label>
																			<div class="col-md-4">

																				<input type="text" class="form-control" id=""
																					placeholder="Address-2" title="address-2"
																					th:field="*{cAddr2}">
																			</div>
																		</div>
																	</div>

																	<div class="form-group row">

																		<div>
																			<label for="" class="col-md-2 control-label">Road/street/lane</label>
																			<div class="col-md-4">
																				<input type="text" class="form-control" id=""
																					th:field="*{cStreet}" title="road/street/lane"
																					placeholder="Road / Street / Lane">
																			</div>
																		</div>

																		<div>
																			<label for="inputEmail3"
																				class="col-md-2 control-label">State</label>
																			<div class="col-md-4">
																				<select class="form-control" id="state"
																					onchange="getCityOnState()" title="state"
																					th:field="*{cState}">
																					<option value="">Select State</option>
																					<option th:each="state :  ${listState}"
																						th:text="${state.stateName}"
																						th:value=" ${state.stateCode}"></option>
																				</select>
																			</div>
																		</div>

																	</div>


																	<div class="form-group row">


																		<div>
																			<label for="" class="col-md-2 control-label">City</label>
																			<div class="col-md-4">
																				<select class="form-control cityContainer"
																					title="city" id="cityCode" th:field="*{cCity}">
																					<option value="">Select City</option>
																					<option th:each="city :  ${listCity}"
																						th:text="${city.cityName}"
																						th:value="${city.cityCode}"></option>

																				</select>
																			</div>
																		</div>

																		<div>
																			<label for="" class="col-md-2 control-label">Pin
																				Code</label>
																			<div class="col-md-4">
																				<input type="number" class="form-control"
																					th:field="*{cPin}" id="pin1" name="pin1"
																					title="pin" placeholder="Pin Code"
																					onkeyup="pin1Validation()"> <span
																					class="error" id="pin1Error" style='display: none'>Pin
																					Should be 6 digit</span>
																			</div>
																		</div>


																	</div>


																	<div class="form-group row">
																		<div>
																			<label for="" class="col-md-2 control-label">Fax</label>
																			<div class="col-md-4">
																				<input type="text" class="form-control" id=""
																					placeholder="Fax" title="fax" th:field="*{cFax}">
																			</div>
																		</div>

																		<div>
																			<label for="" class="col-md-2 control-label">WebSite</label>
																			<div class="col-md-4">

																				<input type="text" class="form-control" id=""
																					placeholder="Website" title="website"
																					th:field="*{cWebsite}">
																			</div>
																		</div>
																	</div>




																	<div class="form-group row">
																		<div>
																			<label for="" class="col-md-2 control-label">Email</label>
																			<div class="col-md-10">
																				<input type="email" class="form-control" id=""
																					placeholder="Email" title="email"
																					th:field="*{cEmail}">
																			</div>
																		</div>
																	</div>


																	<div class="form-group row">

																		<div>
																			<label for="" class="col-md-2 control-label">Phone
																				1</label>
																			<div class="col-md-4">
																				<input type="text" class="form-control" id="phone1"
																					name="phone1"
																					oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
																					placeholder="Phone-1" value="0" title="phone-1"
																					maxlength="12" th:field="*{cPhone1}"> <span
																					class="error" id="phone1Error"
																					style='display: none'>Phone nubmer is in
																					0123456789 format</span>
																			</div>
																		</div>

																		<div>
																			<label for="" class="col-md-2 control-label">Phone-2</label>
																			<div class="col-md-4">
																				<input type="text" class="form-control"
																					placeholder="Phone-2" id="phone2" name="phone2"
																					title="phone-2"
																					oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
																					th:field="*{cPhone2}" maxlength="12"> <span
																					class="error" id="phone2Error"
																					style='display: none'>Phone nubmer is in
																					0123456789 format</span>
																			</div>
																		</div>


																	</div>


																</div>
																<!-- /.box-body -->

																<!-- 
														REMOVE DIB -->

															</div>
														</div>

													</div>

													<!-- ADD -->

													<div class="box-footer">
														<button type="submit" class="btn btn-primary" id="submit">Submit</button>

														<input type="button" value="Go back!"
															class="btn btn-danger" onclick="history.back()">
													</div>
												</div>
												<!-- end company detail tab -->



												<!-- tds information detail -->
												<div id="tdsinfo" class="tab-pane fade">

													<p></p>
													<div class="box">

														<h5>Particular of the Person Responsible for
															deduction of tax</h5>
														<div class="row">
															<div class="form-group col-md-12">
																<label for="inputAddress">Name</label><span
																	style="color: red">*</span> <input type="text"
																	class="form-control" id="name" name="name"
																	placeholder="Name" th:field="*{rName}"
																	title="This field is required" required>
															</div>
															<div class="form-group col-md-4">
																<label for="inputEmail4">Type of Deductor</label> <select
																	class="form-control" id="" title="type of deductor"
																	th:field="*{rTypeOfDeductor}">

																	<option value="other">Other</option>

																</select>
															</div>
															<div class="form-group col-md-4">
																<label for="inputPassword4">Branch</label> <input
																	type="text" class="form-control" id="inputPassword4"
																	placeholder="Branch" th:field="*{rBranch}"
																	title="branch">
															</div>
															<div class="form-group col-md-4">
																<label for="inputPassword4">Excise Devison</label> <input
																	type="text" class="form-control" id="inputPassword4"
																	placeholder="Excise Devision"
																	th:field="*{rExciseDivision}" title="excise devison">
															</div>

															<div class="form-group col-md-4">
																<label for="inputAddress">Designation</label><span
																	style="color: red">*</span> <input type="text"
																	class="form-control" id="designation"
																	name="designation" placeholder="Designation"
																	th:field="*{rDesig}" title="This field is required"
																	required>
															</div>
															<div class="form-group col-md-4">
																<label for="inputAddress">Flat Number</label> <input
																	type="text" class="form-control" id="inputAddress"
																	placeholder="Flat Number" th:field="*{rFlatNum}"
																	title="flat number">
															</div>
															<div class="form-group col-md-4">
																<label for="inputAddress">Building</label> <input
																	type="text" class="form-control" id="inputAddress"
																	placeholder="Building" th:field="*{rBuildingNo}"
																	title="building">
															</div>
															<div class="form-group col-md-12">
																<label for="inputAddress">Road/street/lane</label> <input
																	type="text" class="form-control"
																	title="road/street/lane" id="inputAddress"
																	placeholder="Road/Street/Lane" th:field="*{rStreet}">
															</div>





															<div class="form-group col-md-4">
																<label for="inputAddress">State</label> <select
																	class="form-control" id="rState"
																	onchange="getRCityOnState()" title="state"
																	th:field="*{rState}">
																	<option value="">Select State</option>
																	<option th:each="state :  ${listState}"
																		th:text="${state.stateName}"
																		th:value=" ${state.stateCode}"></option>
																</select>
															</div>
															<div class="form-group col-md-4">
																<label for="inputAddress">Town/City/District</label> <select
																	class="form-control rCityContainer"
																	title="town/city/district" id="cityCode"
																	th:field="*{rCity}">
																	<option value="">Select City</option>
																	<option th:each="city :  ${listCity}"
																		th:text="${city.cityName}" th:value="${city.cityCode}">
																	</option>

																</select>
															</div>

															<div class="form-group col-md-4">
																<label for="inputAddress">Area/Location</label> <input
																	type="text" class="form-control" title="area location"
																	id="inputAddress" placeholder="Area/Location"
																	th:field="*{rLocation}">
															</div>
															<div class="form-group col-md-4">
																<label for="inputAddress">Pin</label> <input
																	type="number" class="form-control" id="pin2"
																	name="pin2" placeholder="Pin" th:field="*{rPin}"
																	title="pin" onkeyup="pin2Validation()"> <span
																	class="error" id="pin2Error" style='display: none'>Pin
																	Should be 6 digit</span>
															</div>
															<div class="form-group col-md-4">
																<label for="inputAddress">Telephone Number</label> <input
																	type="number" class="form-control" id="telephone"
																	oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
																	name="telephone" placeholder="Telephone Number"
																	th:field="*{rTel}" title="telephone number"
																	maxlength="12"> <span class="error"
																	id="phone3Error" style='display: none'>Phone
																	nubmer is in 0123456789 format</span>
															</div>
															<div class="form-group col-md-4">
																<label for="inputAddress">Email</label> <input
																	type="email" class="form-control" id="inputAddress"
																	placeholder="Email" th:field="*{rEmail}" title="email">
															</div>
														</div>
													</div>

												</div>
												<!--end tds information detail -->


												<!-- tax registration detail -->
												<div id="taxreg" class="tab-pane fade">
													<p></p>
													<div class="box">
														<h5>Tax Details</h5>
														<div class="row">
															<div class="form-group col-md-6">
																<label for="inputAddress">PAN Number</label><span
																	style="color: red">*</span> <input type="text"
																	class="form-control" id="panNumber" name="panNumber"
																	placeholder="Pan Number" th:field="*{panNumber}"
																	title="This field is required" required>
															</div>
															<div class="form-group col-md-6">
																<label for="inputEmail4">GST Number</label><span
																	style="color: red">*</span> <input type="text"
																	class="form-control" id="gstNumber" name="gstNumber"
																	placeholder="Gst Number" th:field="*{tGstNo}"
																	title="This field is required" required>
															</div>
															<div class="form-group col-md-6">
																<label for="inputPassword4">Taxpayer Legal
																	Number</label> <input type="text" class="form-control"
																	id="inputPassword4" placeholder="Taxpayer Legal"
																	title="taxpayer legal number"
																	th:field="*{taxPayerLegalName}">
															</div>
															<div class="form-group col-md-6">
																<label for="inputPassword4">Taxpayer Trade
																	Number</label> <input type="password" class="form-control"
																	id="inputPassword4" placeholder="Taxpayer Trade Number"
																	title="taxpayer trade number"
																	th:field="*{taxPayerTradeName}">
															</div>

															<div class="form-group col-md-6">
																<label for="inputAddress">Date of Filling</label> <input
																	type="date" class="form-control" id="inputAddress"
																	placeholder="Date of Filling"
																	th:field="*{tFillingDate}" title="date of filling">
															</div>


														</div>
													</div>

												</div>
												<!--end tax registration detail -->

												<!-- import detail -->
												<div id="importdetail" class="tab-pane fade">
													<p></p>
													<div class="row box">

														<div class="col-md-10 offset-md-2">
															<div class="form-border">
																<h5>Import Details</h5>
																<div class="form-row">
																	<div class="form-group col-md-6">
																		<label for="inputAddress">Import License
																			Number</label> <input type="text" class="form-control"
																			id="inputAddress" placeholder="Import License Number"
																			th:field="*{importLicenseNumber}"
																			title="import license number">
																	</div>
																	<div class="form-group col-md-6">
																		<label for="inputEmail4">B17 Bond Number</label> <input
																			type="text" class="form-control"
																			title="b17 bond number" id="inputEmail4"
																			placeholder="B17 Bond Number"
																			th:field="*{b17BondNumber}">
																	</div>
																	<div class="form-group col-md-6">
																		<label for="inputPassword4">B17 Bond Date</label> <input
																			type="date" class="form-control" id="inputPassword4"
																			placeholder="B17 Bond Date" title="b17 bond date"
																			th:field="*{b17BondDate}">
																	</div>
																	<div class="form-group col-md-6">
																		<label for="inputPassword4">Exporter RCMC No</label> <input
																			type="text" class="form-control" id="inputPassword4"
																			placeholder="Exporter Rcmc No"
																			title="exporter rcmc no" th:field="*{rcmcNo}">
																	</div>

																	<div class="form-group col-md-6">
																		<label for="inputAddress">Export Performance</label> <input
																			type="text" class="form-control" id="inputAddress"
																			placeholder="Export Performance"
																			title="export performance"
																			th:field="*{expPerformance}">
																	</div>

																	<div class="form-group col-md-6">
																		<label for="inputAddress">Certificate No.</label> <input
																			type="text" class="form-control" id="inputAddress"
																			placeholder="Certificate Number"
																			title="certificate number"
																			th:field="*{expCertiificateNo}">
																	</div>


																</div>
															</div>
														</div>

													</div>


												</div>
												<!--end import detail tab -->

												<!-- insurance detail -->
												<div id="insurancedetail" class="tab-pane fade">
													<p></p>
													<div class="box">
														<h5>Insurance Details</h5>




														<table class="table table-sm" id="example">
															<thead>
																<tr>
																	<th scope="col">Company Code</th>
																	<th scope="col">Company Name</th>
																	<th scope="col">Customer Code</th>
																	<th scope="col">Renewel Date</th>
																	<th scope="col">Version</th>
																	<th scope="col">Description-1</th>
																	<th scope="col">Description-2</th>


																</tr>
															</thead>
															<tbody>
																<tr th:each="row, stat :${company.insuranceDetail}">
																	<th scope="row"><input type="hidden"
																		th:field="*{insuranceDetail[__${stat.index}__].insuranceId}">
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="" readonly
																				th:field="*{insuranceDetail[__${stat.index}__].company.compCode}">
																		</fieldset></th>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="" readonly
																				th:field="*{insuranceDetail[__${stat.index}__].company.compName}">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder=""
																				th:field="*{insuranceDetail[__${stat.index}__].custCode}">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="date" class="form-control"
																				placeholder=""
																				th:field="*{insuranceDetail[__${stat.index}__].renewalDate}">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder=""
																				th:field="*{insuranceDetail[__${stat.index}__].version}">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder=""
																				th:field="*{insuranceDetail[__${stat.index}__].desc1}">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder=""
																				th:field="*{insuranceDetail[__${stat.index}__].desc2}">
																		</fieldset>
																	</td>
																</tr>
																<tr>
																	<th scope="row">
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</th>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																</tr>
																<tr>
																	<th scope="row">
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</th>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																</tr>

															</tbody>
														</table>

													</div>

												</div>
												<!--end insurance detail -->

												<!-- site offices detail -->
												<div id="siteoffices" class="tab-pane fade">

													<div class="box">
														<h5>Site Offices</h5>




														<table class="table table-sm" id="example2">
															<thead>
																<tr>
																	<th scope="col">Site Code</th>
																	<th scope="col">Site Location</th>
																	<th scope="col">Site Incharge</th>
																	<th scope="col">Site Address</th>
																	<th scope="col">Approved Budget</th>
																</tr>
															</thead>
															<tbody>
																<tr th:each="row, stat :${company.siteOffice}">
																	<th scope="row">


																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder=""
																				th:field="*{siteOffice[__${stat.index}__].siteOfficeCode}">
																		</fieldset>
																	</th>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder=""
																				th:field="*{siteOffice[__${stat.index}__].siteLocation}">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder=""
																				th:field="*{siteOffice[__${stat.index}__].siteIncharge}">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder=""
																				th:field="*{siteOffice[__${stat.index}__].siteAddress}">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="number" class="form-control"
																				placeholder=""
																				th:field="*{siteOffice[__${stat.index}__].approvedBudget}">
																		</fieldset>
																	</td>
																</tr>
																<tr>
																	<th scope="row">
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</th>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																</tr>
																<tr>
																	<th scope="row">
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</th>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="">
																		</fieldset>
																	</td>
																</tr>

															</tbody>
														</table>

													</div>



												</div>
												<!--end site offices detail -->


											</div>
											<!--end main div content-->






										</div>

									</div>



								</form>

								<div class="box-footer"></div>
								<!-- end form -->
							</div>



						</div>





					</div>
				</section>
			</div>
		</div>

	</div>

	<div th:replace="fragments/footer :: footer">...</div>


	<script>

		var idIndex = 0;
		var idIndex2 = 0;
		$(document).ready(function () {
			console.log("document is ready!");
			var i = 1;

			$('#add_row_ins').click(function () {

				idIndex++;
				$('#addr' + i).html(
					"<th scope='row'><fieldset><input type='text' class='form-control' id='insCompanyCode" + idIndex + "' placeholder='' readonly></fieldset></th>"
					+ "<td><fieldset><input type='text' class='form-control' id='insCompanyName" + idIndex + "' placeholder='' readonly></fieldset></td>"
					+ "<td><fieldset><input type='text' class='form-control'placeholder=''name=''insuranceDetail[" + idIndex + "].custCode'"
					+ "></fieldset>        </td>"
					+ "<td><fieldset><input type='date' class='form-control' placeholder=''"
					+ "name='insuranceDetail[" + idIndex + "].renewalDate'></fieldset>      </td>"
					+ "<td><fieldset><input type='text' class='form-control' placeholder='' "
					+ "name='insuranceDetail[" + idIndex + "].version'></fieldset>     </td>"
					+ "<td><fieldset><input type='text' class='form-control' placeholder='' name='insuranceDetail[" + idIndex + "].desc1'"
					+ "></fieldset></td>"
					+ "<td><fieldset><input type='text' class='form-control' placeholder=''name='insuranceDetail[" + idIndex + "].desc2'></fieldset></td>"

				);

				$('#example').append(
					'<tr id="addr'
					+ (i + 1)
					+ '"></tr>');

				var companyCode = document.getElementById("companyCode").value;
				console.log("company codeis : " + companyCode);
				document.getElementById("insCompanyCode" + idIndex).value = companyCode

				var companyName = document.getElementById("companyName").value;
				console.log("company name is : " + companyName);
				document.getElementById("insCompanyName" + idIndex).value = companyName


				idIndex++
				i++;
			});

			$("#delete_row_ins").click(function () {
				if (i > 1) {
					$("#addr" + (i - 1)).html('');
					$('#_cr').val(i - 1);
					i--;
					idIndex--;
				}
			});
		});



		// for Site Office 
		$(document).ready(function () {
			console.log("site is ready!");
			var j = 1;
			$('#add_row_site').click(function () {
				idIndex2++;
				$('#ad' + j).html(
					"<th scope='row'><fieldset><input type='text' class='form-control' placeholder=''"
					+ "name='siteOffice[" + idIndex2 + "].siteCode'></fieldset></th>"
					+ "<td><fieldset><input type='text' class='form-control' placeholder=''name='siteOffice[" + idIndex2 + "].siteLocation'></fieldset></td>"
					+ "<td><fieldset><input type='text' class='form-control' placeholder=''name='siteOffice[" + idIndex2 + "].siteIncharge'></fieldset></td>"
					+ "<td><fieldset><input type='text' class='form-control'placeholder=''name='siteOffice[" + idIndex2 + "].siteAddress'></fieldset></td>"
					+ "<td><fieldset><input type='number' class='form-control' placeholder=''name='siteOffice[" + idIndex2 + "].approvedBudget' value='0'></fieldset></td>"
				);

				$('#example2').append(
					'<tr id="ad'
					+ (j + 1)
					+ '"></tr>');

				j++;
			});

			$("#delete_row_site").click(function () {
				if (j > 1) {
					$("#ad" + (j - 1)).html('');

					j--;
					idIndex2--;
				}
			});

		});



		function getCompanyCode() {

			var companyCode = document.getElementById("companyCode").value;
			console.log("company codeis : " + companyCode);
			document.getElementById("insCompanyCode0").value = companyCode


		}
		function getCompanyName() {

			var companyName = document.getElementById("companyName").value;
			console.log("company name is : " + companyName);
			document.getElementById("insCompanyName0").value = companyName
		}
		
		
		window.addEventListener("load", myInit, true); function myInit(){ 
			
			//getCityOnState();
			//getRCityOnState();
		}; 

	</script>

	<script>

		$(document).ready(function () {
			var message = document.getElementById('mess').value
			if (message != null && message !== "") {

				swal(message, "", "success", {
					button: "OK",
					hideClass: {
						popup: 'animate__animated animate__fadeOutUp'
					},
				});
			} else {
				console.log("ajax request : " + message);
			}

		});

		$(document).ready(function () {
			$("form").validate().settings.ignore = "";
		});


	</script>



	// for pin validation

	<script type="text/javascript">


		function pin1Validation() {

			var pin_code = document.getElementById("pin1");
			var pin_error = document.getElementById("pin1Error").value;

			var pat1 = /^\d{6}$/;
			var pattern = /^\d{10}$/;
			var filter = /^([a-z A-Z 0-9 _\.\-])+\@(([a-z A-Z 0-9\-])+\.)+([a-z A-z 0-9]{3,3})+$/;


			if (!pat1.test(pin_code.value)) {

				$('#pin1Error').show();
				pin_code.focus();
				return false;
			} else {
				$('#pin1Error').hide();
			}

		}


		function pin2Validation() {

			var pin_code = document.getElementById("pin2");
			var pin_error = document.getElementById("pin2Error").value;

			var pat1 = /^\d{6}$/;
			var pattern = /^\d{10}$/;
			var filter = /^([a-z A-Z 0-9 _\.\-])+\@(([a-z A-Z 0-9\-])+\.)+([a-z A-z 0-9]{3,3})+$/;


			if (!pat1.test(pin_code.value)) {

				$('#pin2Error').show();
				pin_code.focus();
				return false;
			} else {
				$('#pin2Error').hide();
			}

		}













	</script>



	<!--   <section class="content">
        
        </section>-->
	<!--	<script src="../../js/jQuery-2.1.4.min.js" th:src="@{/js/jQuery-2.1.4.min.js}"></script>-->
	<script src="../../js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../../js/fastclick.min.js"
		th:src="@{/js/fastclick.min.js}"></script>
	<script src="../../js/app.min.js" th:src="@{/js/app.min.js}"></script>
	<script src="../../js/demo.js" th:src="@{/js/demo.js}"></script>

	<script src="../../js/demo.js" th:src="@{/js/myjs.js}"></script>
	<script src="../../js/demo.js" th:src="@{/js/validation.js}"></script>

</body>

</html>