<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>EBS</title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="../../css/AdminLTE.min.css"
	th:href="@{/css/AdminLTE.min.css}">
<link rel="stylesheet" href="../../css/skins/_all-skins.min.css"
	th:href="@{/css/skins/_all-skins.min.css}">

<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.css"
	rel="stylesheet" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.js"></script>


<style>
.form-control-sm {
	height: 30px;
	width: 120px;
}

.select {
	width: 130px;
	font-size: 10px;
}
</style>

</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<div>
			<div th:replace="fragments/header :: header">...</div>
			<div th:replace="fragments/sidebar :: sidebar">...</div>

			<div class="wrapper">

				<section class="content-wrapper">

					<!-- Content Header (Page header) -->
					<section class="content-header">
						<h4>
							Issue Slip
							<!--<small>it all starts here</small>-->
						</h4>
						<ol class="breadcrumb">
							<li><a href="#"><i class="fa fa-dashboard"></i>WhareHouse</a></li>
							<li><a href="#">Issue Slip</a></li>
							<li class="active">Add Page</li>

						</ol>
					</section>


					<!-- Main content -->
					<section class="content">

						<!-- form start -->
						<form role="form" th:action="@{/issueslip/}"
							th:object="${issueSlip}" method="POST">

							<div class="box-header with-border text-right">

								<button type="submit" id="submit" class="btn btn-primary btn-sm">
									<i class="fa fa-hdd-o" aria-hidden="true"></i> Submit
								</button>
								<button type="reset" value="reset"
									class="btn btn-secondary btn-sm">
									<i class="fa fa-refresh" aria-hidden="true"></i> Reset
								</button>

								<a th:href="@{/issueslip/list}" class="btn btn-success btn-sm">
									<i class="fa fa-list" aria-hidden="true"></i> View All
								</a>



							</div>

							<!-- Default box -->
							<div class="box">



								<div class="row">
									<!-- left column -->
									<div class="col-md-12">



										<div class="col-md-12 shadow bg-white rounded"
											style="margin-top: 20px;">
											<!-- general form elements -->
											<div class="box box-primary">

												<input type="hidden" id="mess" name="mess"
													th:value="${message}">

												<div class="box-header with-border">
													<!--<h3 class="box-title">Category Master</h3>-->
												</div>
												<!-- /.box-header -->


												<div class="box">
													<h5 class="box-title">Issue Details</h5>
													<div class="box-body">


														<div class="form-group col-md-4">
															<label for="inputEmail4">Issue No</label> <input
																type="text" class="form-control" id="inputEmail4"
																placeholder="Requisition No" title="requisition no"
																th:field="*{issueNo}" readonly>
														</div>
														<div class="form-group col-md-4">
															<label for="inputPassword4">Issue Date</label> <input
																type="date" class="form-control" id="issueDate"
																title="requisition date" th:field="*{issueDate}"
																readonly>

														</div>



														<div class="form-group col-md-4">
															<label for="inputPassword4">Issue Type</label> <select
																class="form-control" id="" title="issue type"
																th:field="*{issueType}">
																<option value="R">Returnable</option>
																<option value="N">Non Returnable</option>
																<option value="D">Dead Stock</option>

															</select>
														</div>



														<div class="form-group col-md-4">
															<label for="inputPassword4">Requisition Type</label> <select
																class="form-control" id="employee" title="employee name"
																onchange="selectEmployee()" th:field="*{reqType}">
																<option value="G">General</option>
																<!-- <option th:each="employee :  ${employeeList}"
																	th:text="${employee.empName}"
																	th:value=" ${employee.empCode}"></option> -->
															</select>
														</div>

														<div class="form-group col-md-4">
															<label for="inputAddress">Requisition No</label><span
																style="color: red">*</span> <select class="form-control"
																id="reqNum" title="employee name"
																onchange="selectRequisition()" th:field="*{requisition}">
																<option value="">Select</option>
																<option th:each="requisition :  ${requisitionMaster}"
																	th:text="${requisition.requisitionNo}"
																	th:value=" ${requisition.requisitionNo}"></option>
															</select>
														</div>


														<div class="form-group col-md-4">
															<label for="inputPassword4">Requisition Date</label> <input
																type="date" class="form-control" id="reqDate"
																title="department name" placeholder="Department Name"
																th:field="*{requisitionDate}" readonly>
														</div>

														<div class="form-group col-md-4">
															<label for="inputPassword4">Bulk Issue</label> <select
																class="form-control" id="" title="requisition type"
																th:field="*{bulkIssue}">

																<option value="Y">Yes</option>
																<option value="N">No</option>

															</select>
														</div>

													</div>
													<!-- /.box-body -->

												</div>
												<!--end box-1-->


												<div class="box">
													<h5 class="box-title">Store/Employee Detail</h5>
													<div class="box-body">


														<div class="form-group col-md-4">
															<label for="inputEmail4">Transaction Type</label> <select
																class="form-control" id="" title="requisition type"
																th:field="*{tranType}">

																<option value="D">Store to Department</option>
																<option value="U">Issue to Unit</option>
																<option value="S">Issue to Store</option>


															</select>
														</div>
														<div class="form-group col-md-4">
															<label for="inputPassword4">Issue To</label> <select
																class="form-control" id="employee" title="employee name"
																th:field="*{issueTo}">
																<option value="">Select</option>
																<option th:each="employee :  ${employeeList}"
																	th:text="${employee.empName}"
																	th:value=" ${employee.empCode}"></option>
															</select>
														</div>






														<div class="form-group col-md-4">
															<label for="inputPassword4">Issue Department</label> <select
																class="form-control" id="employee" title="employee name"
																th:field="*{issueDept}">
																<option value="">Select</option>
																<option th:each="department :  ${departmentList}"
																	th:text="${department.deptName}"
																	th:value=" ${department.deptCode}"></option>
															</select>
														</div>



														<!-- <div class="form-group col-md-4">
															<label for="inputPassword4">Work Center Name</label> <input
																type="text" class="form-control" id="departmentName"
																title="department name" placeholder="Department Name">
														</div> -->

														<div class="form-group col-md-4">
															<label for="inputPassword4">Issued By</label> <select
																class="form-control" id="employee" title="employee name"
																th:field="*{issuedBy}">
																<option value="">Select</option>
																<option th:each="employee :  ${employeeList}"
																	th:text="${employee.empName}"
																	th:value=" ${employee.empCode}"></option>
															</select>
														</div>

													</div>
													<!-- /.box-body -->

												</div>
												<!--end box-1-->

												<!--detail box-->
												<div class="box">

													<h5>Item Detail</h5>
													<div class="box-body">

														<input id="_cr" name="_cr" type="hidden" value="1">

														<div class="col-sm-12" style="text-align: right">




															<a id="add_row" class="fa fa-plus" aria-hidden="true"
																style="font-size: 24px; color: #001080"></a>&nbsp;&nbsp;&nbsp;
															<a id='delete_row' class="fa fa-trash"
																style="font-size: 24px; color: #399490fc"
																aria-hidden="true"></a>
														</div>

														<div class="table-responsive" style="margin-top: 40px">
															<table id="example" aria-describedby="example"
																class="table table-striped display">
																<thead>
																	<tr>

																		<th scope="col" class="text-center"
																			style="width: 90px;">Store Description <label style="color:red">*</label></th>

																		



																		<th scope="col" class="text-center">Item code</th>

																		<th scope="col" class="text-center">Item Description</th>


																		<th scope="col" class="text-center">UOM</th>
																		<th scope="col" class="text-center">Qty Required <span style="color:red">*</span></th>

																		<th scope="col" class="text-center">Qty Iss</th>

																		<th scope="col" class="text-center">Qty. Iss Conversion</th>

																		<th scope="col" class="text-center">Qty. In Stock</th>

																		<th scope="col" class="text-center">Issue Rate</th>

																		<th scope="col" class="text-center">Lot.No.</th>



																	</tr>
																</thead>

																<tbody>

																	<tr th:each="row, stat :${issueSlip.issueSlipDetails}">

																		<!-- store description  -->

																		<td><select
																			class="form-control indentContainer form-control-sm select"
																			id="storeNAme0"
																			th:field="*{issueSlipDetails[__${stat.index}__].store}"
																			title="item" required>
																				<option value="">Select</option>
																				<option th:each="store :  ${storeList}"
																					th:text="${store.description}"
																					th:value=" ${store.storeCode}"></option>

																		</select></td>


																		<!-- item code -->
																		<td><input type="text"
																			class="form-control form-control-sm" id="item0"
																			title="description" readonly></td>
																		<!-- item description  -->

																		<td><select
																			class="form-control itemContainer0 form-control-sm select"
																			id="itemCode0" style='width: 180px'
																			th:field="*{issueSlipDetails[__${stat.index}__].item}"
																			title="item" onchange='getItemInfo()' required>
																				<option value="">Select</option>

																		</select></td>

																		<!-- UOM -->
																		<td><input type="text" id="uom0"
																			class="form-control form-control-sm" title="net qty"
																			th:field="*{issueSlipDetails[__${stat.index}__].uom}"
																			readonly></td>

																		<!-- Qty Required  -->
																		<td><input type="number" id="qtyRequired0"
																			class="form-control form-control-sm text-right"
																			title="net qty"
																			th:field="*{issueSlipDetails[__${stat.index}__].qtyReq}"
																			step="0.25"
																			onchange='(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)'
																			value='0.00' readonly></td>

																		<!-- Qty Issue   -->
																		<td><input type="number"
																			class="form-control form-control-sm text-right"
																			id="qtyIssue0" step="0.25" title="srNoClaimUnder"
																			onchange='(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)'
																			th:field="*{issueSlipDetails[__${stat.index}__].qtyIssue}"
																			value='0.00'></td>

																		<!-- qty Issue Conversion  -->
																		<td><input type="text"
																			class="form-control form-control-sm text-right"
																			id="issueConversion0" title="" step="0.25"
																			style="width: 150px"
																			onchange='(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)'
																			th:field="*{issueSlipDetails[__${stat.index}__].qtyIssueConv}"
																			readonly></td>

																		<!-- qty in stock  -->

																		<td><input type="number"
																			class="form-control form-control-sm text-right"
																			value='0.00' id="qtyInStock0" title="" step="0.25"
																			style="width: 150px"
																			onchange='(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)'
																			readonly></td>


																		<!-- issue rate  -->
																		<td><input type="number"
																			class="form-control form-control-sm text-right"
																			value='0.00' id="issueRate0" title=""
																			style="width: 150px"
																			th:field="*{issueSlipDetails[__${stat.index}__].issueRate}"
																			step="0.25"
																			onchange='(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)'></td>


																		<!-- lot No. -->

																		<td><input type="text"
																			class="form-control form-control-sm"
																			id="orderItemuom" title="" style="width: 150px"
																			th:field="*{issueSlipDetails[__${stat.index}__].lotNo}"></td>


																	</tr>
																	<tr id='addr1' />

																</tbody>


															</table>
														</div>

														<input type="hidden" id="hidden_field"
															th:value="${length}" />
													</div>
												</div>


												<!--end detail box-->





											</div>
											<!-- /.box -->

										</div>



									</div>

								</div>

							</div>
						</form>

					</section>
				</section>
			</div>

		</div>
	</div>
	<div th:replace="fragments/footer :: footer">...</div>

	<script>
		$(document).ready(function() {

			document.getElementById('issueDate').valueAsDate = new Date();

		});
	</script>

	<script>
		function selectRequisition() {

			var reqNum = document.getElementById("reqNum").value;

			$.ajax({
				type : "GET",
				url : "requisitioninfo/" + reqNum,

				success : function(data) {

					console.log("response data : " + JSON.stringify(data));

					$("#reqDate").val(data.requisitionDate);
					//$("#departmentName").val(data.deptName)
					//$("#departmentname").val(data.department.deptName)

					getItemListAgainstReq()
				},
				error : function() {
					console.log("Error");
				}
			});

		}

		function getItemListAgainstReq() {

			var reqNum = document.getElementById("reqNum").value;

			$
					.ajax({
						type : "GET",
						url : "itelist/againstreq/" + reqNum,

						success : function(data) {

							console.log("response data : "
									+ JSON.stringify(data));

							//$("#reqDate").val(data.requisitionDate);
							//$("#departmentName").val(data.deptName)
							//$("#departmentname").val(data.department.deptName)

							var options = '<option value=""><strong>Select Item</strong></option>';
							$(data)
									.each(
											function(index, value) {

												console.log("item info : "
														+ value.itemCode)
												console.log("item info : "
														+ value.description)

												options += '<option value="' + value.itemCode + '">'
														+ value.description
														+ '</option>';

											});

							$('.itemContainer' + idIndex).html(options);
						},
						error : function() {
							console.log("Error");
						}
					});

		}

		function getItemInfo() {

			var itemCode = document.getElementById("itemCode" + idIndex).value;
			var reqNum = document.getElementById("reqNum").value;
			document.getElementById("item" + idIndex).value = itemCode;
			$.ajax({
				type : "GET",
				url : "iteminfo/againstreq/" + reqNum + "/" + itemCode,

				success : function(data) {

					console.log("response data : " + JSON.stringify(data));
					//materialRequisitionDetail

					console.log("uom required : "
							+ data.materialRequisitionDetail.item.uom.uomCode)
					console.log("qty required : "
							+ data.materialRequisitionDetail.qtyRequired)

					console.log("qty in stock : "
							+ data.itemOpening.currentStock)
					$("#uom" + idIndex).val(
							data.materialRequisitionDetail.item.uom.uomCode);
					$("#qtyRequired" + idIndex).val(
							data.materialRequisitionDetail.qtyRequired)
					$("#qtyInStock" + idIndex).val(
							data.itemOpening.currentStock)

				},
				error : function() {
					console.log("Error");
				}
			});

		}

		function getStoreList() {

			$
					.ajax({
						type : "GET",
						url : "storelist/",

						success : function(data) {

							console.log("response data : "
									+ JSON.stringify(data));

							//$("#reqDate").val(data.requisitionDate);
							//$("#departmentName").val(data.deptName)
							//$("#departmentname").val(data.department.deptName)

							var options = '<option value=""><strong>Select Store</strong></option>';
							$(data)
									.each(
											function(index, value) {

												console.log("item info : "
														+ value.storeCode)
												console.log("item info : "
														+ value.description)

												options += '<option value="' + value.storeCode + '">'
														+ value.description
														+ '</option>';

											});

							$('.storeContainer' + idIndex).html(options);
						},
						error : function() {
							console.log("Error");
						}
					});

		}

		function selectEmployee() {

			var employee = document.getElementById("employee").value;
			console.log("employee is " + employee);

			document.getElementById("empCode").value = employee;

			$.ajax({
				type : "GET",
				url : "employeeinfo/" + employee,

				success : function(data) {

					console.log("response data : " + data);

					$("#departmentCode").val(data.deptCode);
					$("#departmentName").val(data.deptName)
					//$("#departmentname").val(data.department.deptName)
				},
				error : function() {
					console.log("Error");
				}
			});
		}
	</script>


	<script>
		/* function againstPurchaseThrough() {

			let purchaseThrough = document.getElementById("purchaseThrough").value;
			console.log("purchase through value : " + purchaseThrough);

			//do all value clear on click selection 

			$('#quotationDate').val('');

			if (purchaseThrough == "quotation") {
				console.log("quotation ")
				// enable field
				$("#quotationNumber").prop('disabled', false);
				$("#quotationDate").prop('disabled', false);

				//get indent detail against quotation detail 

				//getIndentAgainstQuotationDetail()

			} else {
				console.log(" is not")
				//disabled and do blank 
				$("#quotationNumber").prop('disabled', true);
				$("#quotationDate").prop('disabled', true);
				$('#quotationNumber').val('');
				$('#quotationDate').val('');

				//call api in case of purchase through is indent

				indentDetailInCaseOfIndent();

			}

		} */
	</script>

	<script>
		$(document).ready(function() {
			var message = document.getElementById('mess').value
			if (message != null && message !== "") {

				swal(message, "", "success", {
					button : "OK",
					hideClass : {
						popup : 'animate__animated animate__fadeOutUp'
					},
				});
			} else {
				console.log("ajax request : " + message);
			}

		});
	</script>



	<!--   <section class="content">
        
        
        </section>-->

	<script src="../../js/jQuery-2.1.4.min.js" th:src="@{/js/myjs.js}"></script>


	<script src="../../js/jQuery-2.1.4.min.js"
		th:src="@{/js/jQuery-2.1.4.min.js}"></script>
	<script src="../../js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../../js/fastclick.min.js"
		th:src="@{/js/fastclick.min.js}"></script>
	<script src="../../js/app.min.js" th:src="@{/js/app.min.js}"></script>
	<script src="../../js/demo.js" th:src="@{/js/demo.js}"></script>
</body>

</html>