<!DOCTYPE html>
<html>

<head xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>EBS</title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="../../css/AdminLTE.min.css"
	th:href="@{/css/AdminLTE.min.css}">
<link rel="stylesheet" href="../../css/skins/_all-skins.min.css"
	th:href="@{/css/skins/_all-skins.min.css}">


<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.css"
	rel="stylesheet" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.js"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script
	src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>


<style>
.error {
	color: red;
	font-size: 11px;
}
</style>


</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<div>
			<div th:replace="fragments/header :: header">...</div>
			<div th:replace="fragments/sidebar :: sidebar">...</div>

			<div class="wrapper">

				<section class="content-wrapper">
					<div class="row">
						<!-- left column -->




						<div class="col-md-12" style="margin-top: 20px;">

							<div class="box box-primary">
								<input type="hidden" id="mess" name="mess" th:value="${message}">
								<div class="box-header with-border">
									<h3 class="box-title">Party Master</h3>
								</div>
								<!-- form start -->
								<form id="itemMasterForm" role="form" th:action="@{/party/}"
									th:object="${partyMaster}" method="post">

									<div class="box-body">

										<div class="container-fluid">

											<ul class="nav nav-pills">
												<li class="active"><a data-toggle="tab"
													href="#itemdetail">Party Detail</a></li>

												<li><a data-toggle="tab" href="#taxdetail">Tax
														Detail</a></li>
												<li><a data-toggle="tab" href="#packing">Billing
														And Consignee Detail</a></li>



											</ul>

											<div class="tab-content">
												<p></p>


												<!-- item detail div  -->
												<div id="itemdetail" class="tab-pane fade in active">

													<div class="box">

														<h5>Party Details</h5>

														<div class="box-body">

															<div class="form-group col-md-4">
																<label for="inputAddress">Party Code</label><span
																	style="color: red">*</span> <input type="text"
																	class="form-control" placeholder="Party Code"
																	title="party code" th:field="*{partyCode}">
															</div>
															<div class="form-group col-md-4">
																<label for="inputEmail4">Name</label><span
																	style="color: red">*</span> <input type="text"
																	class="form-control" placeholder="Name" title="name"
																	th:field="*{partyName}">
															</div>
															<div class="form-group col-md-4">
																<label for="inputPassword4">Type</label><span
																	style="color: red">*</span> <select
																	class="form-control" title="type"  th:field="*{custType}"
																	required>
																	<option value="">Select</option>
																	<option value="supplier">Supplier</option>
																	<option value="customer">Customer</option>
																	<option value="both">Both</option>
																	
																</select>
															</div>
															<div class="form-group col-md-4">
																<label for="inputPassword4">Person Through</label> <input
																	type="text" class="form-control" id="inputPassword4"
																	placeholder="Person Through" title="person through" th:field="*{pthruCode}">
															</div>

															<div class="form-group col-md-4">
																<label for="inputPassword4">Representative Code</label>
																<input type="text" class="form-control"
																	id="inputPassword4" placeholder="Representative Code"
																	title="representative code">
															</div>
															<div class="form-group col-md-4">
																<label for="inputPassword4">Representative Name</label>
																<select
																	class="form-control" id="departmentDropdown"
																	title="Department Name" required>
																	<option value="">Select</option>
																	<option th:each="employee :  ${listEmployee}"
																		th:text="${employee.empName}"
																		th:value=" ${employee.empCode}"></option>
																</select>
															</div>

															<div class="form-group col-md-4">
																<label for="inputPassword4">work Address</label><span
																	style="color: red">*</span><input type="text"
																	class="form-control" id="inputPassword4"
																	placeholder="Work Address" title="work address" th:field="*{partyAddr1}">
															</div>


															<div class="form-group col-md-4">
																<label for="inputPassword4">City</label> <select
																	class="form-control" id="departmentDropdown"
																	title="Department Name" th:field="*{cityCode}"required>
																	<option value="">Select</option>
																	<option th:each="city :  ${listCity}"
																		th:text="${city.cityName}"
																		th:value=" ${city.cityCode}"></option>
																</select>
															</div>


															<div class="form-group col-md-4">
																<label for="inputPassword4">State</label> <select
																	class="form-control" id="departmentDropdown"
																	title="Department Name" th:field="*{stateCode}" required>
																	<option value="">Select</option>
																	<option th:each="state :  ${listState}"
																		th:text="${state.stateName}"
																		th:value=" ${state.stateCode}"></option>
																</select>
															</div>

															<div class="form-group col-md-4">
																<label for="inputPassword4">Country</label><span
																	style="color: red">*</span><select class="form-control"
																	id="departmentDropdown" title="Department Name" th:field="*{countryCode}"
																	required>
																	<option value="">Select</option>
																	<option th:each="country :  ${listCountry}"
																		th:text="${country.countryName}"
																		th:value=" ${country.countryCode}"></option>
																</select>
															</div>


															<div class="form-group col-md-4">
																<label for="inputPassword4">Pin</label> <input
																	type="text" class="form-control" id="inputPassword4"
																	placeholder="Pin" title="pin" th:field="*{pinCode}">
															</div>
															<div class="form-group col-md-4">
																<label for="inputPassword4">Phone</label> <input
																	type="text" class="form-control" id="inputPassword4"
																	placeholder="Phone" title="phone">
															</div>

															<div class="form-group col-md-4">
																<label for="inputPassword4">Mobile</label><span
																	style="color: red">*</span><input type="text"
																	class="form-control" id="inputPassword4"
																	placeholder="Mobile" title="mobile">
															</div>

															<div class="form-group col-md-4">
																<label for="inputPassword4">Fax</label> <input
																	type="text" class="form-control" id="inputPassword4"
																	placeholder="Fax" title="fax" th:field="*{partyFax}">
															</div>
															<div class="form-group col-md-4">
																<label for="inputPassword4">Email</label> <input
																	type="text" class="form-control" id="inputPassword4"
																	placeholder="Email" title="email"
																	th:field="*{partyEmail}">
															</div>

															<div class="form-group col-md-4">
																<label for="inputPassword4">Website</label><span
																	style="color: red">*</span><input type="text"
																	class="form-control" id="inputPassword4"
																	placeholder="website" title="website"
																	th:field="*{partyWebsite}">
															</div>

															<div class="form-group col-md-4">
																<label for="inputPassword4">Contact Person</label> <input
																	type="text" class="form-control" id="inputPassword4"
																	placeholder="Contact Person" title="contact person">
															</div>

															<div class="form-group col-md-4">
																<label for="inputPassword4">Phone No</label><span
																	style="color: red">*</span><input type="text"
																	class="form-control" id="inputPassword4"
																	placeholder="Phone No" title="phone no">
															</div>

														</div>


													</div>

													<p></p>
													<p></p>

													<!--stock label-->
													<div class="box">

														<h5>Office Address</h5>
														<div class="box-body">

															<div class="form-group col-md-4">
																<label for="inputPassword4">Registered Office
																	Address-1</label><span style="color: red">*</span><input
																	type="text" class="form-control" id="inputPassword4"
																	placeholder="Registered Office Address"
																	title="Registered Office Address" th:field="*{regAddr1}">
															</div>
															
															<div class="form-group col-md-4">
																<label for="inputPassword4">Registered Office
																	Address-2</label><span style="color: red">*</span><input
																	type="text" class="form-control" id="inputPassword4"
																	placeholder="Registered Office Address"th:field="*{regAddr2}"
																	title="Registered Office Address">
															</div>
															
															<div class="form-group col-md-4">
																<label for="inputPassword4">Registered Office
																	Address-3</label><span style="color: red">*</span><input
																	type="text" class="form-control" id="inputPassword4"
																	placeholder="Registered Office Address"th:field="*{regAddr3}"
																	title="Registered Office Address">
															</div>

															<div class="form-group col-md-4">
																<label for="inputPassword4">City</label> <select
																	class="form-control" id="departmentDropdown"
																	title="Department Name" th:field="*{regAddrCityCode}" required>
																	<option value="">Select</option>
																	<option th:each="city :  ${listCity}"
																		th:text="${city.cityName}"
																		th:value=" ${city.cityCode}"></option>
																</select>
															</div>


															<div class="form-group col-md-4">
																<label for="inputPassword4">State</label> <select
																	class="form-control" id="departmentDropdown"
																	title="Department Name" th:field="*{regAddrStateCode}" required>
																	<option value="">Select</option>
																	<option th:each="state :  ${listState}"
																		th:text="${state.stateName}"
																		th:value=" ${state.stateCode}"></option>
																</select>
															</div>

															<div class="form-group col-md-4">
																<label for="inputPassword4">Country</label><span
																	style="color: red">*</span><select class="form-control"
																	id="departmentDropdown" th:field="*{regAddrCntCode}" title="Department Name"
																	required>
																	<option value="">Select</option>
																	<option th:each="country :  ${listCountry}"
																		th:text="${country.countryName}"
																		th:value=" ${country.countryCode}"></option>
																</select>
															</div>

														</div>
													</div>
													<!--end stock level -->

													<p></p>
													<p></p>


													<div class="box">

														<h5>Local Address</h5>
														<div class="box-body">

															<div class="form-group col-md-4">
																<label for="inputPassword4">Local Address-1</label><span
																	style="color: red">*</span><input type="text"
																	class="form-control" id="inputPassword4"
																	placeholder="Local Address" title="Local Address" th:field="*{lclAddr1}">
															</div>
															
															<div class="form-group col-md-4">
																<label for="inputPassword4">Local Address-2</label><span
																	style="color: red">*</span><input type="text"
																	class="form-control" id="inputPassword4"
																	placeholder="Local Address" title="Local Address" th:field="*{lclAddr2}">
															</div>
															
															<div class="form-group col-md-4">
																<label for="inputPassword4">Local Address-3</label><span
																	style="color: red">*</span><input type="text"
																	class="form-control" id="inputPassword4"
																	placeholder="Local Address" title="Local Address" th:field="*{lclAddr3}">
															</div>


															<div class="form-group col-md-4">
																<label for="inputPassword4">City</label> <select
																	class="form-control" id="departmentDropdown"
																	title="Department Name" th:field="*{lclAddrCityCode}" required>
																	<option value="">Select</option>
																	<option th:each="city :  ${listCity}"
																		th:text="${city.cityName}"
																		th:value=" ${city.cityCode}"></option>
																</select>
															</div>


															<div class="form-group col-md-4">
																<label for="inputPassword4">State</label> <select
																	class="form-control" id="departmentDropdown"
																	title="Department Name" th:field="*{lclAddrStateCode}" required>
																	<option value="">Select</option>
																	<option th:each="state :  ${listState}"
																		th:text="${state.stateName}"
																		th:value=" ${state.stateCode}"></option>
																</select>
															</div>

															<div class="form-group col-md-4">
																<label for="inputPassword4">Country</label><span
																	style="color: red">*</span><select class="form-control"
																	id="departmentDropdown" th:field="*{lclAddrCntCode}" title="Department Name"
																	required>
																	<option value="">Select</option>
																	<option th:each="country :  ${listCountry}"
																		th:text="${country.countryName}"
																		th:value=" ${country.countryCode}"></option>
																</select>
															</div>

														</div>
													</div>




												</div>
												<!--end item detal -->

												<!--text detail tab-->
												<div id="taxdetail" class="tab-pane fade">

													<div class="box">


														<div class="box-body">

															<label>Registered</label> <label class="checkbox-inline">
																<input type="radio" value="Y" name="inlineRadioOptions">Yes
																<input type="radio" value="N" name="inlineRadioOptions"
																style="margin-left: 20px">No
															</label>
															<div class="form-group row">

																<div style="margin-top: 10px">

																	<label class="col-md-2 control-label">GST
																		Customer Type</label>

																	<div class="col-md-8">
																		<input type="text" class="form-control" id="address1"
																			placeholder="GST Customer Type"
																			title="gst customer type" th:field="*{gstCustType}">
																	</div>
																</div>


															</div>


															<div class="form-group row">
																<div>
																	<label for="" class="col-md-2 control-label">PAN
																		Number</label>
																	<div class="col-md-8">
																		<input type="text" class="form-control" id=""
																			placeholder="Pan Number" title="pan number" th:field="*{partyPanno}">
																	</div>
																</div>
															</div>

															<div class="form-group row">
																<div>
																	<label for="" class="col-md-2 control-label">Credit
																		Amount</label>
																	<div class="col-md-8">
																		<input type="email" class="form-control" id=""
																			placeholder="Credit Amount" title="credit amount" th:field="*{creditAmount}">
																	</div>
																</div>
															</div>

															<div class="form-group row">
																<div>
																	<label for="" class="col-md-2 control-label">Credit
																		Period (No of days)</label>
																	<div class="col-md-8">
																		<input type="text" class="form-control" id=""
																			placeholder="Credit Period " title="credit period" th:field="*{creditPeriod}">
																	</div>
																</div>
															</div>

															<div class="form-group row">
																<div>
																	<label for="" class="col-md-2 control-label">GST
																		No.</label>
																	<div class="col-md-8">
																		<input type="text" class="form-control" id=""
																			placeholder="GST No." title="gst no" th:field="*{gstNo}">
																	</div>
																</div>
															</div>


															<div class="form-group row">
																<div>
																	<label for="" class="col-md-2 control-label">Taxpayer
																		Legal Name</label>
																	<div class="col-md-8">
																		<input type="text" class="form-control" id=""
																			placeholder="TaxtPayer Legal name"
																			title="taxpayer legal name" th:field="*{taxpayerLegalName}">
																	</div>
																</div>
															</div>

															<div class="form-group row">
																<div>
																	<label for="" class="col-md-2 control-label">Taxpayer
																		Trade Name</label>
																	<div class="col-md-8">
																		<input type="text" class="form-control" id=""
																			placeholder="TaxtPayer Trade name"
																			title="taxpayer trade name" th:field="*{taxpayerTradeName}">
																	</div>
																</div>
															</div>

															<div class="form-group row">
																<div>
																	<label for="" class="col-md-2 control-label">Date
																		of Filling</label>
																	<div class="col-md-4">
																		<input type="date" class="form-control" id=""
																			title="date of filling" th:field="*{fillingDate}">
																	</div>
																</div>
															</div>





														</div>
													</div>


												</div>

												<!--end tax detail tab -->

												<!-- packing detail -->

												<div id="packing" class="tab-pane fade">

													<p></p>
													<p></p>


													<div class="box">
														<h5>Billing Details</h5>


														<div class="col-sm-12" style="text-align: right">

															<a id="add_row_ins" class="fa fa-plus" aria-hidden="true"
																style="font-size: 24px; color: #001080"></a>&nbsp;&nbsp;&nbsp;
															<a id='delete_row_ins' class="fa fa-trash"
																style="font-size: 24px; color: #399490fc"
																aria-hidden="true"></a>
														</div>

														<table class="table table-sm" id="example">
															<thead>
																<tr>
																	<th scope="col">Billing Code</th>
																	<th scope="col">Billing Name</th>
																	<th scope="col">Billing GST No</th>
																	<th scope="col">Billing Addr1</th>
																	<th scope="col">Billing Addr2</th>
																	<th scope="col">Billing Addr3</th>
																	<th scope="col">City</th>
																	<th scope="col">State</th>
																	<th scope="col">Pin Code</th>
																	<th scope="col">Country</th>


																</tr>
															</thead>
															<tbody>
																<tr  th:each="row, stat :${partyMaster.listPartyBilling}">
																	<th scope="row">
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="" id="insCompanyCode0"
																				title="Billing Name" th:field="*{listPartyBilling[__${stat.index}__].partyBillingId}">
																		</fieldset>
																	</th>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="" id="insCompanyCode0" th:field="*{listPartyBilling[__${stat.index}__].billingName}"
																				title="Billing Name">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="" id="insCompanyName0"
																				title="Billing GST No" th:field="*{listPartyBilling[__${stat.index}__].billingGstNo}">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="" title="Billing Addr1" th:field="*{listPartyBilling[__${stat.index}__].billingAddr1}">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="date" class="form-control"
																				placeholder="" title="Billing Addr2" th:field="*{listPartyBilling[__${stat.index}__].billingAddr2}">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="" title="Billing Addr3" th:field="*{listPartyBilling[__${stat.index}__].billingAddr3}">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<select class="form-control" id="departmentDropdown"
																				title="Department Name" th:field="*{listPartyBilling[__${stat.index}__].billingCity}" required>
																				<option value="">Select</option>
																				<option th:each="city :  ${listCity}"
																					th:text="${city.cityName}"
																					th:value=" ${city.cityCode}"></option>
																			</select>
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<select class="form-control" id="departmentDropdown"
																				title="Department Name" th:field="*{listPartyBilling[__${stat.index}__].billingState}"  required>
																				<option value="">Select</option>
																				<option th:each="state :  ${listState}"
																					th:text="${state.stateName}"
																					th:value=" ${state.stateCode}"></option>
																			</select>
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<input type="text" class="form-control"
																				placeholder="" id="insCompanyName0"
																				title="pin code" th:field="*{listPartyBilling[__${stat.index}__].billingPin}">
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<select class="form-control" 
																				title="Country Name" th:field="*{listPartyBilling[__${stat.index}__].billingCountry}" required>
																				<option value="">Select</option>
																				<option th:each="country :  ${listCountry}"
																					th:text="${country.countryName}"
																					th:value=" ${country.countryCode}"></option>
																			</select>
																		</fieldset>
																	</td>

																</tr>

																<tr id="addr1"></tr>

															</tbody>
														</table>

													</div>


													<div class="box">



														<div class="box-body">
															<div class="col-sm-12" style="text-align: right">

																<a id="add_row_ins" class="fa fa-plus"
																	aria-hidden="true"
																	style="font-size: 24px; color: #001080"></a>&nbsp;&nbsp;&nbsp;
																<a id='delete_row_ins' class="fa fa-trash"
																	style="font-size: 24px; color: #399490fc"
																	aria-hidden="true"></a>
															</div>

															<table class="table table-sm" id="example">
																<thead>
																	<tr>
																		<th scope="col">Code</th>
																		<th scope="col">Name</th>
																		<th scope="col">Address1</th>
																		<th scope="col">Address2</th>
																		<th scope="col">Address3</th>
																		<th scope="col">City</th>
																		<th scope="col">Country</th>
																		<th scope="col">Pin Code</th>


																	</tr>
																</thead>
																<tbody>
																	<tr id="addr0" th:each="row, stat :${partyMaster.listPartyConsignee}">
																		<th scope="row">
																			<fieldset>
																				<input type="text" class="form-control"
																					placeholder="" id="insCompanyCode0"
																					title="Billing Name" th:field="*{listPartyConsignee[__${stat.index}__].conSigneeCode}">
																			</fieldset>
																		</th>
																		<td>
																			<fieldset>
																				<input type="text" class="form-control"
																					placeholder="" id="insCompanyName0" 
																					title="Billing GST No" th:field="*{listPartyConsignee[__${stat.index}__].consigneeName}" >
																			</fieldset>
																		</td>
																		<td>
																			<fieldset>
																				<input type="text" class="form-control" th:field="*{listPartyConsignee[__${stat.index}__].consigneeAddr1}" 
																					placeholder="" title="Billing Addr1">
																			</fieldset>
																		</td>
																		<td>
																			<fieldset>
																				<input type="date" class="form-control" th:field="*{listPartyConsignee[__${stat.index}__].consigneeAddr2}" 
																					placeholder="" title="Billing Addr2">
																			</fieldset>
																		</td>
																		<td>
																			<fieldset>
																				<input type="text" class="form-control" th:field="*{listPartyConsignee[__${stat.index}__].consigneeAddr3}" 
																					placeholder="" title="Billing Addr3">
																			</fieldset>
																		</td>
																		<td>
																			<fieldset>
																				<select class="form-control" id="departmentDropdown"
																					title="Department Name" th:field="*{listPartyConsignee[__${stat.index}__].city}" required>
																					<option value="">Select</option>
																					<option th:each="city :  ${listCity}"
																						th:text="${city.cityName}"
																						th:value=" ${city.cityCode}"></option>
																				</select>
																			</fieldset>
																		</td>
																		<td>
																			<fieldset>
																				<select class="form-control" id="departmentDropdown"
																					title="Department Name" th:field="*{listPartyConsignee[__${stat.index}__].country}"required>
																					<option value="">Select</option>
																					<option th:each="country :  ${listCountry}"
																						th:text="${country.countryName}"
																						th:value=" ${country.countryCode}"></option>
																				</select>
																			</fieldset>
																		</td>
																		<td>
																			<fieldset>
																				<input type="text" class="form-control"
																					placeholder="" id="insCompanyName0" th:field="*{listPartyConsignee[__${stat.index}__].pin}"
																					title="pin code">
																			</fieldset>
																		</td>


																	</tr>

																	<tr id="addr1"></tr>

																</tbody>
															</table>
														</div>

													</div>

													<div class="box-footer">
														<button type="submit" class="btn btn-primary">Submit</button>
														<input type="reset" value="Reset" class="btn btn-danger" />
													</div>
												</div>
												<!--end packing detail -->







											</div>
										</div>
									</div>
								</form>
								<div style="width: parent; text-align-last: right; margin: 8px">
									<a th:href="@{/party/list}">View All Party</a>
								</div>

							</div>

							<!-- end box primary  -->
						</div>

						<!-- end left column -->



					</div>
				</section>
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer">...</div>


	<script>
				var idIndex = 0;
				$(document).ready(function () {
					console.log("item master is ready!");
					var i = 1;
					$('#add_row').click(function () {
						idIndex++;
						$('#addr' + i).html(
							"<th scope='row'><fieldset><input type='text' class='form-control'placeholder='' name='insuranceDetail[" + idIndex + "].packingCode'></fieldset></th>"
							+ "<td><fieldset><input type='text' class='form-control'placeholder='' name='insuranceDetail[" + idIndex + "].packingName'></fieldset></td>"
							+ "<td><fieldset><input type='text' class='form-control' placeholder=''name='insuranceDetail[" + idIndex + "].unitName'></fieldset></td>"
							+ "<td><fieldset><input type='number' class='form-control' placeholder=''name='insuranceDetail[" + idIndex + "].qty'></fieldset></td>"
							+ "<td><fieldset><input type='text' class='form-control' placeholder=''name='insuranceDetail[" + idIndex + "].barCode'></fieldset></td>"
						);

						$('#example').append(
							'<tr id="addr'
							+ (i + 1)
							+ '"></tr>');

						i++;

					});

					$("#delete_row").click(function () {
						if (i > 1) {
							$("#addr" + (i - 1)).html('');
							$('#_cr').val(i - 1);
							i--;
							idIndex--;
						}
					});

				});

			</script>

	<script>

				$(document).ready(function () {
					var message = document.getElementById('mess').value
					if (message != null && message !== "") {

						swal(message, "", "success", {
							button: "OK",
							hideClass: {
								popup: 'animate__animated animate__fadeOutUp'
							},
						});
					} else {
						console.log("ajax request : " + message);
					}

				});


				function getUomNameInfo() {

					var uomName = document.getElementById("uomName").value;
					document.getElementById("uomCode").value = uomName;
				}



				function limitDecimalPlaces(e, count) {
					if (e.target.value.indexOf('.') == -1) {return;}
					if ((e.target.value.length - e.target.value.indexOf('.')) > count) {
						e.target.value = parseFloat(e.target.value).toFixed(count);
					}
				}
			</script>

	<script>

				$("#itemMasterForm").validate({
					ignoreTitle: true
				});

			</script>



	<!--   <section class="content">
        
        </section>-->
	<script src="../../js/jQuery-2.1.4.min.js"
		th:src="@{/js/jQuery-2.1.4.min.js}"></script>
	<script src="../../js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../../js/fastclick.min.js"
		th:src="@{/js/fastclick.min.js}"></script>
	<script src="../../js/app.min.js" th:src="@{/js/app.min.js}"></script>
	<script src="../../js/demo.js" th:src="@{/js/demo.js}"></script>
</body>

</html>