<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>EBS</title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="../../css/AdminLTE.min.css"
	th:href="@{/css/AdminLTE.min.css}">
<link rel="stylesheet" href="../../css/skins/_all-skins.min.css"
	th:href="@{/css/skins/_all-skins.min.css}">

</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<div>
			<div th:replace="fragments/header :: header">...</div>
			<div th:replace="fragments/sidebar :: sidebar">...</div>

			<div class="wrapper">

				<section class="content-wrapper">

					<!-- Content Header (Page header) -->
					<section class="content-header">
						<h4>
							Store Master
							<!--<small>it all starts here</small>-->
						</h4>
						<ol class="breadcrumb">
							<li><a href="#"><i class="fa fa-dashboard"></i> Master</a></li>
							<li><a href="#">Store</a></li>
							<li class="active">edit store</li>
						</ol>
					</section>


					<!-- Main content -->
					<section class="content">

						<!-- form start -->
						<form role="form" th:action="@{/store/update/}" method="POST"
							th:object="${store}">


							<!-- Default box -->
							<div class="box">



								<div class="row">
									<!-- left column -->
									<div class="col-md-12">

										<div class="box-header with-border text-right">
											<button type="submit" id="submit"
												class="btn btn-primary btn-sm">
												<i class="fa fa-hdd-o" aria-hidden="true"></i> Apply Changes
											</button>
											<button type="button" class="btn btn-danger btn-sm"
												onclick="history.back()">
												<i class="fa fa-step-backward"></i> Go Back
											</button>
										</div>

										<div class="col-md-2"></div>


										<div class="col-md-8 shadow bg-white rounded"
											style="margin-top: 20px;">
											<!-- general form elements -->
											<div class="box box-primary">
												<div class="box-header with-border">
													<!--<h3 class="box-title">Category Master</h3>-->
												</div>
												<!-- /.box-header -->

												<div class="box-body">

													<div class="form-group col-md-12">
														<label for="inputEmail4">Store Code</label> <input
															type="text" class="form-control" placeholder="store code"
															th:field="*{storeCode}">
													</div>


													<!-- <div class="form-group col-md-12">
														<label class="form-label">Type</label> <label
															style="color: red">*</label> <select class="form-control"
															id="" title="type" th:field="*{storeType}" required>
															<option value="">Select</option>
															<option value="S">Store</option>
															<option value="G">Godown</option>
														</select>
													</div> -->

													<div class="form-group col-md-12">
														<label for="inputEmail4">Location</label> <input
															type="text" class="form-control" placeholder="location"
															th:field="*{location}">
													</div>
													<div class="form-group col-md-12">
														<label for="inputEmail4">Description</label> <input
															type="text" class="form-control"
															placeholder="description" th:field="*{description}">
													</div>





													<!-- <div class="form-group col-md-12">
														<label class="form-label">Status</label> <select
															class="form-control" id="" title="status"
															th:field="*{storeStatus}">
															<option value="">Select</option>

															<option value="F" selected>Functional</option>
															<option value="Nl">Non-Functioanl</option>
														</select>
													</div> -->

													<label class="checkbox-inline"> <input type="radio"
														value="Y" name="active" checked style="margin-left: 5px">Active
														<input type="radio" value="N" name="active"
														style="margin-left: 5px">In-Active
													</label>

												</div>
												<!-- /.box-body -->







											</div>
											<!-- /.box -->

										</div>


										<div class="col-md-2"></div>
									</div>

								</div>

							</div>

						</form>
					</section>
				</section>
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer">...</div>
	<!--   <section class="content">
        
        </section>-->
	<script src="../../js/jQuery-2.1.4.min.js"
		th:src="@{/js/jQuery-2.1.4.min.js}"></script>
	<script src="../../js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../../js/fastclick.min.js"
		th:src="@{/js/fastclick.min.js}"></script>
	<script src="../../js/app.min.js" th:src="@{/js/app.min.js}"></script>
	<script src="../../js/demo.js" th:src="@{/js/demo.js}"></script>
</body>

</html>