<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>EBS</title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="../../css/AdminLTE.min.css"
	th:href="@{/css/AdminLTE.min.css}">
<link rel="stylesheet" href="../../css/skins/_all-skins.min.css"
	th:href="@{/css/skins/_all-skins.min.css}">

<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.css"
	rel="stylesheet" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.js"></script>


<style>
.form-control-sm {
	height: 30px;
	width: 120px;
}

.select {
	width: 130px;
	font-size: 10px;
}

iframe {
	display: block;
	width: 100%;
}
</style>

</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<div>
			<div th:replace="fragments/header :: header">...</div>
			<div th:replace="fragments/sidebar :: sidebar">...</div>

			<div class="wrapper">

				<section class="content-wrapper">

					<!-- Content Header (Page header) -->
					<section class="content-header">
						<h4>
							Inspection
							<!--<small>it all starts here</small>-->
						</h4>
						<ol class="breadcrumb">
							<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
							<li><a href="#">Examples</a></li>
							<li class="active">Blank page</li>
						</ol>
					</section>


					<!-- Main content -->
					<section class="content">

						<!-- Default box -->
						<div class="box">



							<div class="row">
								<!-- left column -->
								<div class="col-md-12">



									<div class="col-md-12 shadow bg-white rounded"
										style="margin-top: 20px;">
										<!-- general form elements -->
										<div class="box box-primary">

											<input type="hidden" id="mess" name="mess"
												th:value="${message}">

											<div class="box-header with-border">
												<!--<h3 class="box-title">Category Master</h3>-->
											</div>
											<!-- /.box-header -->
											<!-- form start -->
											<form role="form" th:action="@{/inspection/}"
												th:object="${inspection}" method="POST">

												<div class="box">
													<h5 class="box-title">Inspection</h5>
													<div class="box-body">


														<div class="form-group col-md-3">
															<label for="inputEmail4">Inspection No</label> <input
																type="text" class="form-control" id="inputEmail4"
																placeholder="Inspection No" title="inspection no"
																th:field="*{inspNo}" readonly>
														</div>
														<div class="form-group col-md-3">
															<label for="inputPassword4">Inspection Date</label> <input
																type="date" class="form-control" id="inspectionDate"
																th:field="*{inspDate}" title="inspection date" readonly>
														</div>



														<div class="form-group col-md-3">
															<label for="inputAddress">LOT Status</label> <select
																class="form-control" id="" title="lot status"
																th:field="*{lotStatus}">
																<option value="ac">Actual</option>

																<!-- <option th:each="gateEntry :  ${gateEntryList}"
																	th:text="${gateEntry.gateSrNo}"
																	th:value=" ${gateEntry.gateSrNo}"></option> -->

															</select>
														</div>


														<div class="form-group col-md-3">
															<label for="inputAddress">Mrn No</label><span
																style="color: red">*</span> <select class="form-control"
																id="mrnNo" title="mrn no" th:field="*{mrn}"
																onchange="mrnInfo()" required>
																<option value="">Select</option>

																<option th:each="mrm :  ${mrmList}"
																	th:text="${mrm.mrnNo}" th:value=" ${mrm.mrnNo}"></option>

															</select>
														</div>


														<div class="form-group col-md-3">
															<label class="form-label">Mrn Date</label> <input
																type="date" class="form-control" id="mrnDate"
																th:field="*{mrnDate}" title="mrn date" readonly>
														</div>





														<div class="form-group col-md-3">
															<label for="inputAddress">Entry Mode</label> <select
																class="form-control" id="" title="entry mode"
																th:field="*{entryMode}">
																<option value="d">Entering Directly</option>



															</select>
														</div>


														<div class="form-group col-md-3">
															<label for="inputAddress">Employee Type</label> <select
																class="form-control" id="" title="employee type"
																th:field="*{entryType}">
																<option value="e">Employee</option>



															</select>
														</div>


														<div class="form-group col-md-3">
															<label for="inputAddress">Employee Name</label> <select
																class="form-control" id="" title="employee name"
																th:field="*{employee}">
																<option value="">Select</option>

																<option th:each="employee :  ${employeeList}"
																	th:text="${employee.empName}"
																	th:value=" ${employee.empCode}"></option>

															</select>
														</div>


													</div>
													<!-- /.box-body -->

												</div>
												<!--end box-1-->










												<!--detail box-->
												<div class="box">

													<h5>Item Details</h5>
													<div class="box-body">

														<input id="_cr" name="_cr" type="hidden" value="1">


														<div class="col-sm-12" style="text-align: right">




															<a id="add_row" class="fa fa-plus" aria-hidden="true"
																style="font-size: 24px; color: #001080"></a>&nbsp;&nbsp;&nbsp;
															<a id='delete_row' class="fa fa-trash"
																style="font-size: 24px; color: #399490fc"
																aria-hidden="true"></a>
														</div>

														<div class="table-responsive" style="margin-top: 40px">





															<table id="example" aria-describedby="example"
																class="table table-striped display">




																<thead>
																	<tr>


																		<!-- <th scope="col" class="text-center"
																			style="width: 100px;">Rep Out No</th> -->
																		<!-- <th scope="col" class="text-center"
																			style="width: 90px;">Rep Out Date</th> -->
																		<th scope="col" class="text-center"
																			style="width: 90px;">Item Code</th>
																		<th scope="col" class="text-center"
																			style="width: 90px;">Description</th>
																		<th scope="col" class="text-center"
																			style="width: 10px;">Item Received</th>
																		<th scope="col" class="text-center"
																			style="width: 120px;">UOM</th>
																		<th scope="col" class="text-center"
																			style="width: 90px;">MRN Qty</th>
																		<th scope="col" class="text-center"
																			style="width: 90px;">MRN Rate</th>
																		<th scope="col" class="text-center"
																			style="width: 120px;">Deviation Qty</th>
																		<th scope="col" class="text-center"
																			style="width: 120px;">Rate of Der.Qty</th>

																		<th scope="col" class="text-center"
																			style="width: 120px;">Rejected Qty</th>

																		<th scope="col" class="text-center"
																			style="width: 120px;">Inspection Qty</th>

																		<th scope="col" class="text-center"
																			style="width: 120px;">Pending Qty</th>

																		<th scope="col" class="text-center"
																			style="width: 120px;">Inspection Status</th>

																		<th scope="col" class="text-center"
																			style="width: 120px;">Remarks</th>




																	</tr>
																</thead>

																<tbody>
																	<tr id="adr0"
																		th:each="row, stat :${inspection.mrnInspectionItems}">


																		<!-- Rep Out No -->
																		<!-- <td><select
																			class="form-control indentContainer form-control-sm select"
																			id="orderIndentNumberPo"
																			name="mrnInspectionItems[0].repOutNo"
																			title="indent number">
																				<option value="">Select</option>
																				<option value="m">M</option>
																				<option value="s">S</option>


																		</select></td> -->

																		<!-- ep Out Date -->
																		<!-- <td><input type="text"
																			class="form-control form-control-sm"
																			id="orderIndentDatePo" title="order date"
																			name="mrnInspectionItems[0].repOutDate"></td> -->


																		<!-- item code -->
																		<td><input type="hidden"
																			th:field="*{mrnInspectionItems[__${stat.index}__].inspItemNo}">

																			<input type="text"
																			class="form-control form-control-sm" id="itemCode0"
																			title="order date" readonly></td>

																		<!-- item name -->
																		<td><select
																			class="form-control  form-control-sm select itemContainer0"
																			th:field="*{mrnInspectionItems[__${stat.index}__].item}"
																			id="item0" title="item name" onchange="getItemInfo()" readonly>
																				<option th:each="item :  ${itemList}"
																					th:text="${item.description}"
																					th:value=" ${item.itemCode}"></option>
																		</select></td>

																		<!-- Item Received -->
																		<td><input type="number" title="uom"
																			class="form-control form-control-sm"
																			id="mrnReceived0"
																			onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)"
																			th:field="*{mrnInspectionItems[__${stat.index}__].itemRec1}"
																			step='0.01' readonly></td>

																		<!-- UOM -->
																		<td><input type="text" id="uom0"
																			class="form-control form-control-sm" title="uom"
																			readonly></td>

																		<!--Mrn Qty  -->
																		<td><input type="number"
																			class="form-control form-control-sm"
																			id="technicalQualification" title="inv qty"
																			onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)"
																			th:field="*{mrnInspectionItems[__${stat.index}__].qtyUd}"
																			step='0.01' value='0.00'></td>

																		<!-- Mrn rate -->
																		<td><input type="number"
																			class="form-control form-control-sm"
																			id="orderItemuom" title="rec qty"
																			onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)"
																			th:field="*{mrnInspectionItems[__${stat.index}__].mrnRate}"
																			step='0.01' value='0.00'></td>



																		<!-- Deviration qty -->
																		<td><input type="text"
																			class="form-control form-control-sm"
																			id="technicalQualification" title="po rate curr"
																			onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)"
																			th:field="*{mrnInspectionItems[__${stat.index}__].qtyAcceptDev}"
																			step='0.01' value='0.00'></td>

																		<!-- RAte of der Qty  -->
																		<td><input type="number"
																			class="form-control form-control-sm"
																			id="technicalQualification" title="po rate"
																			th:field="*{mrnInspectionItems[__${stat.index}__].qtyAcceptDevRate}"
																			onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)"
																			step='0.01' value='0.00'></td>

																		<!-- Rejected Qty  -->
																		<td><input type="number"
																			class="form-control form-control-sm"
																			id="technicalQualification" title="bill rate"
																			onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)"
																			th:field="*{mrnInspectionItems[__${stat.index}__].qtyRejected}"
																			step='0.01' value='0.00'></td>

																		<!-- Inspection Qty -->
																		<td><input type="number"
																			class="form-control form-control-sm"
																			id="technicalQualification" title="total cost"
																			th:field="*{mrnInspectionItems[__${stat.index}__].inspectedQty}"
																			step='0.01' value='0.00'></td>

																		<!-- pending qty -->
																		<td><input type="number"
																			class="form-control form-control-sm"
																			id="technicalQualification" title="net cost"
																			th:field="*{mrnInspectionItems[__${stat.index}__].qtyPending}"
																			step='0.01' value='0.00'></td>


																		<!-- inspection status -->
																		<td><select
																			class="form-control indentContainer form-control-sm select"
																			id="orderIndentNumberPo" title="dol"
																			th:field="*{mrnInspectionItems[__${stat.index}__].inspStatus}">
																				<option value="">Select</option>
																				<option value="A">Accepted</option>
																				<option value="R">Rejected</option>


																		</select></td>


																		<!-- Remarks	 -->
																		<td><input type="text"
																			class="form-control form-control-sm"
																			id="technicalQualification" title="total inr cost"></td>







																	</tr>
																	<tr id='adr1' />

																</tbody>


															</table>
														</div>

														<input type="hidden" id="hidden_field"
															th:value="${length}" />
													</div>
												</div>


												<!--end detail box-->


												<!-- bottom block -->

												<!-- end bottom block -->



												<div class="box-footer" style="margin: 10px">
													<input type="submit" value="Submit" class="btn btn-primary" />
													<input type="button" value="Go back!"
														class="btn btn-danger" onclick="history.back()">
												</div>
											</form>


										</div>
										<!-- /.box -->
										<div
											style="width: parent; text-align-last: right; margin: 8px">
											<a th:href="@{/inspection/list}">View All Inspection</a>
										</div>
									</div>



								</div>

							</div>

						</div>
					</section>
				</section>
			</div>

		</div>
	</div>
	<div th:replace="fragments/footer :: footer">...</div>




	<script>
		window.onload = function() {
			//getItemList();
			getItemInfo();
		}

		function mrnInfo() {
			var mrnNo = document.getElementById("mrnNo").value;
			$.ajax({
				type : "GET",
				url : "mrninfo/" + mrnNo,

				success : function(data) {
					//$("#resultarea").text(data);
					console.log("response data : " + data);
					$("#mrnDate").val(data.mrnDate);

					getItemList();

				},
				error : function() {
					console.log("Error");
				}
			});
		}

		function getItemList() {

			console
					.log("=====================get Item List =============================")
			var mrnNo = document.getElementById("mrnNo").value;

			$
					.ajax({
						type : "GET",
						url : "itemlist/againstmrn/" + mrnNo,

						success : function(data) {
							console.log("list of item against mrn   : "
									+ JSON.stringify(data))

							var options = '<option value=""><strong>Select</strong></option>';

							$(data)
									.each(
											function(index, value) {

												console.log("item  info  : "
														+ value.itemCode)

												options += '<option value="' + value.itemCode + '">'
														+ value.description
														+ '</option>';

											});

							console.log("id index value in itemlist conatiner "
									+ idIndex)
							$('.itemContainer' + idIndex).html(options);

						},
						error : function() {
							console.log("Error");
						}
					});
		}

		function getItemInfo() {

			var itemCode = document.getElementById("item" + idIndex).value;

			var mrnNo = document.getElementById("mrnNo").value;

			document.getElementById("itemCode" + idIndex).value = itemCode;

			$.ajax({
				type : "GET",
				url : "iteminfo/againstmrn/" + itemCode + "/" + mrnNo,

				success : function(data) {

					console.log("item info  : " + JSON.stringify(data))

					console.log("qty  is : " + data.qtyOrder)

					//console.log("uom code is   : " + data.item.uom.uomCode);

					//console.log("tem received is : " + data.itemRecieved);
					console.log("")

					$("#uom" + idIndex).val(data.item.uom.uomCode)
					$("#mrnReceived" + idIndex).val(data.itemRecieved)

				},
				error : function() {
					console.log("Error");
				}
			});

		}
	</script>


	<script>
		$(document).ready(function() {

			document.getElementById('inspectionDate').valueAsDate = new Date();

		});
	</script>


	<script>
		
	</script>

	<script>
		$(document).ready(function() {
			var message = document.getElementById('mess').value
			if (message != null && message !== "") {

				swal(message, "", "success", {
					button : "OK",
					hideClass : {
						popup : 'animate__animated animate__fadeOutUp'
					},
				});
			} else {
				console.log("ajax request : " + message);
			}

		});
	</script>


	<script>
		$(window).load(function() {
			$('#exampleModal').modal('show');
		});
	</script>



	<script>
		var idIndex = 0;
		$(document)
				.ready(
						function() {
							console.log("ready!");

							var j = 1;

							$('#add_row')
									.click(
											function() {

												console
														.log("add clickk function")
												idIndex++;
												console
														.log("id index value is : "
																+ idIndex)
												console
														.log("j value is : "
																+ j)
												$('#adr' + j)
														.html(
																/*  Item Code */

																"<td><input type='text' title='item code' class='form-control form-control-sm' name='mrnInspectionItems["+j+"].item' id='itemCode"+j+"' readonly></td>"

																		/* item description */
																		+ "<td><select type='text' class='form-control  form-control-sm select itemContainer"
																		+ j
																		+ "' id='item"
																		+ j
																		+ "' title='item name' onchange='getItemInfo()'></select></td>"

																		/* item recevied */
																		+ "<td><input type='number' title='' class='form-control form-control-sm' name='mrnInspectionItems["+j+"].itemRec1' id='mrnReceived"+j+"' value='0.00' readonly></td>"

																		/* uom */
																		+ "<td><input type='text' id='uom"+j+"' class='form-control form-control-sm' title='po qty'  readonly></td>"

																		/* mrn qty */
																		+ "<td><input type='number'class='form-control form-control-sm'id='technicalQualification' title='inv qty'name='mrnInspectionItems["
																		+ j
																		+ "].qtyUd' value='0.00' onchange='(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)'></td>"

																		/* mrn rate */
																		+ "<td><input type='number' class='form-control form-control-sm'id='orderItemuom' title='rec qty' name='mrnInspectionItems["
																		+ j
																		+ "].mrnRate' value='0.00' onchange='(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)'></td>"

																		/* devitation qty */
																		+ "<td><input type='text' class='form-control form-control-sm'id='technicalQualification' title='po rate curr'name='mrnInspectionItems["
																		+ j
																		+ "].qtyAcceptDev' value='0.00' onchange='(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)'></td>"

																		/* RAte of der Qty */
																		+ "<td><input type='number'class='form-control form-control-sm'id='technicalQualification' title='po rate'name='mrnInspectionItems["
																		+ j
																		+ "].qtyAcceptDevRate' value='0.00' onchange='(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)'></td>"

																		/* Rejected Qty */
																		+ "<td><input type='number' class='form-control form-control-sm' id='technicalQualification' title='bill rate' name='mrnInspectionItems["
																		+ j
																		+ "].qtyRejected' value='0.00' onchange='(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)'></td>"

																		/* Inspection Qty */
																		+ "<td><input type='number' class='form-control form-control-sm' id='technicalQualification' title='total cost'name='mrnInspectionItems["
																		+ j
																		+ "].inspectedQty' value='0.00' onchange='(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)'></td>"

																		/*  pending qty */

																		+ "<td><input type='number' class='form-control form-control-sm' id='technicalQualification' title='net cost' name='mrnInspectionItems["
																		+ j
																		+ "].qtyPending' value='0.00' onchange='(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)'></td>"

																		/* inspection status */
																		+ "<td><select class='form-control indentContainer form-control-sm select' id='orderIndentNumberPo' title='dol'  name='mrnInspectionItems["+j+"].inspStatus'><option value=''>Select</option><option value='A'>Accepted</option><option value='R'>Rejected</option></select></td>"

																		/* Remarks */

																		+ "<td><input type='text' class='form-control form-control-sm' id='technicalQualification' title='total inr cost'></td>"

														);
												$('#example').append(
														'<tr id="adr' + (j + 1)
																+ '"></tr>');

												//listOfSupplierInfo()

												j++;

												getItemList();

											});

							$("#delete_row").click(function() {
								if (j > 1) {
									$("#adr" + (j - 1)).html('');

									j--;
									idIndex--;

								}
							});
						});
	</script>
	<!--   <section class="content">
        
        
        </section>-->

	<script src="../../js/jQuery-2.1.4.min.js" th:src="@{/js/myjs.js}"></script>


	<script src="../../js/jQuery-2.1.4.min.js"
		th:src="@{/js/jQuery-2.1.4.min.js}"></script>
	<script src="../../js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../../js/fastclick.min.js"
		th:src="@{/js/fastclick.min.js}"></script>
	<script src="../../js/app.min.js" th:src="@{/js/app.min.js}"></script>
	<script src="../../js/demo.js" th:src="@{/js/demo.js}"></script>
</body>

</html>