.login-body {
    margin: 0;
    padding: 0;
    background-color: #E2E2E2;
    height: 100vh;
   padding-top: 8%;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 50px;
    max-width: 600px;
    height: 290px;
   
   
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
 #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
    
  } 
  
  
  
  
  
 .required .control-label:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 2px;
    
}


.form-control-sm {
			height: 30px;
			width: 120px;

		}

.select {
			width: 130px;
			font-size: 10px;
}
  
  /*  my css  */
  
 .capitalize{
 text-transform: capitalize;
 }
 
 .uppercase {
	text-transform: uppercase;
}

.content-wrapper, .right-side{
	background-image: url('https://images.outlookindia.com/public/uploads/articles/2018/4/25/kashmir_police_571_855.jpg'); 
	
	opacity:0.3;

	background-size:1200px 800px;
	  background-repeat: no-repeat;
}
  
  

