<!DOCTYPE html>
<html>

<head xmlns:th="http://www.thymeleaf.org">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>AdminLTE 2 | General Form Elements</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="../../css/AdminLTE.min.css" th:href="@{/css/AdminLTE.min.css}">
	<link rel="stylesheet" href="../../css/skins/_all-skins.min.css" th:href="@{/css/skins/_all-skins.min.css}">


</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<div>
			<div th:replace="fragments/header :: header">...</div>
			<div th:replace="fragments/sidebar :: sidebar">...</div>

			<div class="wrapper">

				<section class="content-wrapper">


					<div class="row">
						<!-- left column -->
						<div class="col-md-12">



							<div class="col-md-12" style="margin-top: 20px;">

								<div class="box box-primary">
									<div class="box-header with-border">
										<h3 class="box-title">List of User</h3>
									</div>
									<!-- form start -->
									<form role="form">
										<div class="box-body">
											<div class="table-responsive-sm">
									<table class="table table-striped" style="width: 80%">
										<thead>
											<tr>
												<th scope="col">#</th>
												<th scope="col">User Code</th>
												<th scope="col">User Name</th>
												<th scope="col">Employee</th>
												
												<th scope="col">Status</th>
												<th scope="col">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="user,iter  : ${listMyUser}">
												<td th:text="${iter.index}">1</td>
												<td th:text="${user.userCode}">Garrett Winters</td>
												<td th:text="${user.userName}">Garrett Winters</td>
												<td th:text="${user.employee.empName}">Garrett Winters</td>
												

												<td><span class="badge bg-success"
													>Active</span></td>

												<td><span> <a th:href="@{/user/edit/{id}(id=${user.userCode})}">edit</a></span> <span> <a
														th:href="@{/user/delete/{id}(id=${user.userCode})}">delete</a></span></td>
											</tr>




										</tbody>
									</table>
								</div>
										</div>

										<div class="box-footer">
											<input type="submit" value="Back" onclick='window.history.back();'
												class="btn btn-link" />
										</div>

									</form>
								</div>
							</div>



						</div>

					</div>
				</section>
			</div>

			<div th:replace="fragments/footer :: footer">...</div>
			<!--   <section class="content">
        
        </section>-->
			<script src="../../js/jQuery-2.1.4.min.js" th:src="@{/js/jQuery-2.1.4.min.js}"></script>
			<script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
			<script src="../../js/fastclick.min.js" th:src="@{/js/fastclick.min.js}"></script>
			<script src="../../js/app.min.js" th:src="@{/js/app.min.js}"></script>
			<script src="../../js/demo.js" th:src="@{/js/demo.js}"></script>

</body>

</html>